<template>
  <q-page class="page-background row justify-center q-pa-md">
    <div class="row col-12 items-start justify-center" style="max-width: 1156px">
      <!--Alta monotributo -->
      <inscripcion-monotributo v-if="monotributo" />
      <div class="col-12" v-else>
        <tengo-monotributo />
      </div>
    </div>
  </q-page>
</template>

<script>
import InscripcionMonotributo from "../../../components/PrimerLogin/InscripcionMonotributo.vue";
import TengoMonotributo from "../../../components/PrimerLogin/TengoMonotributo.vue";
import { mapGetters, mapState } from "vuex";

export default {
  components: {
    InscripcionMonotributo,
    TengoMonotributo
  },
  computed: {
    ...mapGetters("respuestas", ["monotributo", "arba"]),
    ...mapState("respuestas", ["preguntasBasicas"])
  },
  created() {
    if (this.preguntasBasicas === null) {
      this.$router.push({ name: "primerLogin" });
    }
  }
};
</script>
