<template>
  <q-page class="page-background items-start col-12 row justify-center" id="background-page">
    <div
      class="row col-12 items-start justify-center c5B5B5F"
      style="max-width: 1156px; padding-top: 100px"
    >
      <div
        class="row col-12 justify-center text-center"
        :class="$q.screen.gt.sm ? 'fuente-25' : 'fuente-23'"
        v-if="activando"
      >Estamos activando tu cuenta</div>
      <template v-else>
        <div
          class="row col-12 justify-center text-center"
          :class="$q.screen.gt.sm ? 'fuente-25' : 'fuente-23'"
        >Cuenta activada con éxito</div>
        <div
          class="row col-12 justify-center fuente-25 q-mt-md text-center"
          :class="$q.screen.gt.sm ? 'fuente-25' : 'fuente-19'"
        >Esperá unos segundos mientras te redirigimos</div>
      </template>
      <div class="sk-chase q-mt-lg">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      activando: true
    };
  },
  methods: {
    ...mapActions("usuario", ["ActivarCuenta"])
  },
  mounted() {
    this.ActivarCuenta({
      uidb64: this.$route.params.uid,
      token: this.$route.params.token
    })
      .then(result => {
        setTimeout(() => {
          this.activando = false;
          setTimeout(() => {
            this.$router.push({ name: "login" });
          }, 3000);
        }, 2000);
      })
      .catch(err => {});
  }
};
</script>

<style lang="scss">
#background-page {
  background: url("../../assets/backgroundPage.png");
  background-size: 100% 100%;
}
.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: #4671bf;
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2) {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}
.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2):before {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {
  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%,
  0% {
    transform: scale(1);
  }
}
</style>
