<template>
  <q-page class="page-background items-start col-12 row justify-center" id="background-page">
    <div
      class="row col-12 items-start justify-center c5B5B5F"
      style="max-width: 1156px; padding-top: 100px"
    >
      <div
        class="row col-12 justify-center text-center"
        :class="$q.screen.gt.sm ? 'fuente-25' : 'fuente-23'"
      >Enviamos un email a tu correo</div>
      <div
        class="row col-12 justify-center fuente-25 q-mt-md text-center"
        :class="$q.screen.gt.sm ? 'fuente-25' : 'fuente-19'"
      >
        Confirmá la cuenta para que podamos comenzar con
        <br />el registro en Freelo y en los organismos que sean
        <br />necesarion
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  data() {
    return {
      contrasena: "",
      repetirContrasena: ""
    };
  }
};
</script>

<style lang="scss">
#background-page {
  background: url("../../assets/backgroundPage.png");
  background-size: 100% 100%;
}
</style>
