<template>
  <q-page class="row justify-center page-background q-pb-xl" id="background-page">
    <div class="row col-12 items-start justify-center" style="max-width: 1156px">
      <div class="col-12 row justify-center">
        <transition name="card" mode="out-in">
          <div class="col-12 row q-py-xs" v-if="!tos">
            <div class="col-12 row justify-center">
              <div
                class="text-bold text-left texto-gris q-pt-md col-xs-10 col-md-5"
                :class="$q.screen.gt.sm ? 'fuente-26' : 'text-h6'"
              >Comencemos!</div>
            </div>
            <div class="col-12 row justify-center q-pb-md">
              <div
                class="text-left texto-gris fuente-15 q-py-xs col-xs-10 col-md-5"
                :class="$q.screen.gt.sm ? '' : ''"
              >Completá tus datos para que podamos crear tu cuenta en Freelo, liquidarte el Monotributo y el impuesto a los IIBB.</div>
            </div>
          </div>
        </transition>
        <div class="col-xs-11 col-md-12 row justify-center">
          <q-card flat class="col-xs-11 col-md-5 q-my-xs q-py-md" style="border-radius: 11px">
            <transition name="card" mode="out-in">
              <formulario />
            </transition>
          </q-card>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import Formulario from "../../components/Inscripcion/Formulario";

export default {
  components: { Formulario },
  data() {
    return {
      tos: false,
    };
  },
  methods: {
    mostrarTos(form) {
      this.tos = true;
    },
  },
};
</script>

<style lang="scss">
.card-enter,
.card-leave-to {
  opacity: 0;
  transform: rotateY(90deg);
}
.card-enter-active,
.card-leave-active {
  transition: all 0.5s;
}
#background-page {
  background: url("../../assets/backgroundPage.png");
  background-size: 100% 100%;
}
</style>
