<template>
  <q-page
    class="page-background items-start col-12 row justify-center"
    id="background-page"
    style="padding-bottom: 80px"
  >
    <div class="col-12 row justify-center q-py-md q-pt-lg">
      <q-img src="../../assets/mascota freelo azul-02.png" contain height="70px" />
    </div>
    <div class="row col-12 items-start justify-center" style="max-width: 1156px">
      <q-card class="col-xs-11 col-md-4 q-my-xs q-py-md" flat style="border-radius:11px">
        <transition name="card" mode="out-in">
          <div class="col-12 row justify-center" v-if="!recuperar">
            <div
              class="text-bold text-left texto-gris q-py-xs col-xs-10 col-md-10"
              :class="$q.screen.gt.sm ? 'fuente-21' : 'text-h6'"
            >Iniciar sesión</div>
          </div>
        </transition>
        <!--Login -->
        <transition name="card" mode="out-in">
          <q-form
            class="row justify-center row col-xs-11 col-md-12"
            :class="$q.screen.gt.sm ? 'q-mt-md' : 'q-pa-md'"
            @submit.prevent="llamarLogin()"
            v-if="!recuperar"
          >
            <q-input
              class="col-xs-12 col-md-10"
              :class="$q.screen.gt.sm ? 'q-my-sm' : 'q-my-xs'"
              lazy-rules
              :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
              type="email"
              v-model="email"
              label="Email"
              filled
              hide-bottom-space
            />
            <q-input
              class="col-xs-12 col-md-10"
              :class="$q.screen.gt.sm ? 'q-my-sm' : 'q-my-xs'"
              lazy-rules
              :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
              v-model="contrasena"
              label="Ingresá tu contraseña"
              type="password"
              filled
              hide-bottom-space
            />
            <div
              class="col-xs-12 col-md-10 row justify-end text-caption q-my-sm c009ADA"
              style="cursor: pointer"
              @click="recuperar = true"
            >Olvidé mi contraseña</div>
            <div
              class="col-xs-12 col-md-10 row justify-center text-negative q-pt-sm"
              v-if="error"
            >Usuario o contraseña incorrectos</div>
            <div
              class="col-10 row q-mt-xl"
              :class="$q.screen.gt.sm ? 'justify-end' : 'justify-center'"
            >
              <q-btn
                unelevated
                class="full-width"
                label="Iniciar Sesión"
                type="submit"
                no-caps
                color="accent"
              />
            </div>
          </q-form>
        </transition>
        <!--Recuperacion contraseña -->
        <transition name="card" mode="out-in">
          <div class="col-12 row justify-center" v-if="recuperar">
            <div
              class="text-bold text-left texto-gris text-h6 col-xs-10 col-md-10"
            >¿Olvidaste tu contraseña?</div>
          </div>
        </transition>
        <transition name="card" mode="out-in">
          <div class="col-12 row justify-center q-pb-md q-pt-xs" v-if="recuperar">
            <div
              class="text-left texto-gris col-xs-10 col-md-10"
              :class="$q.screen.gt.sm ? '' : ''"
            >Ingresá tu dirección de correo y te enviaremos un link para recuperarla.</div>
          </div>
        </transition>
        <transition name="card" mode="out-in">
          <q-form
            @submit.prevent="recuperarContraseña()"
            class="row justify-center col-xs-11 col-md-8"
            :class="$q.screen.gt.sm ? '' : 'q-pa-md'"
            v-if="recuperar"
          >
            <q-input
              class="col-xs-12 col-md-10"
              :class="$q.screen.gt.sm ? 'q-my-sm' : 'q-my-xs'"
              lazy-rules
              :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
              v-model="email"
              label="Email"
              type="email"
              filled
              hide-bottom-space
            />
            <div
              class="col-10 row q-mt-md"
              :class="$q.screen.gt.sm ? 'justify-end' : 'justify-center'"
            >
              <q-btn
                class="full-width"
                type="submit"
                label="Recuperar"
                no-caps
                color="accent"
                unelevated
              />
            </div>
            <div class="col-10 justify-end row q-mt-sm text-caption texto-gris">
              Volver a &nbsp;
              <span
                class="c009ADA"
                @click="mostrarLogin()"
                style="cursor: pointer"
              >Iniciar sesión</span>
            </div>
          </q-form>
        </transition>
        <div class="col-8 q-px-xl justify-center row q-pt-md">
          <q-separator class="q-mt-xl" style="color: #ADACB2" />
        </div>
        <div class="col-8 justify-center row q-mt-lg text-caption c868589">
          ¿No tenés una cuenta? &nbsp;
          <span
            class="c009ADA"
            @click="registrarse()"
            style="cursor: pointer"
          >Registrate</span>
        </div>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      cuit: "",
      contrasena: "",
      email: "",
      recuperar: false,
      error: false,
    };
  },
  computed: {
    ...mapState("usuario", ["respuesta", "usuario"]),
  },
  methods: {
    ...mapActions("usuario", ["Login", "RecuperarContrasena"]),
    registrarse() {
      this.$router.push("/inscripcion");
    },
    mostrarLogin() {
      this.recuperar = false;
    },
    llamarLogin() {
      this.Login({
        email: this.email,
        password: this.contrasena,
      })
        .then((a) => {
          this.error = false;
          if (this.usuario.primer_login) {
            this.$router.push({ name: "primerLogin" });
          } else if (!this.usuario.es_admin) {
            this.$router.push({ name: "homeDashboard" });
          } else if (this.usuario.es_admin) {
            this.$router.push({ name: "adminHome" });
          }
        })
        .catch((err) => {
          this.error = true;
        });
    },
    recuperarContraseña() {
      this.RecuperarContrasena({ email: this.email }).then((result) => {
        if (this.respuesta.success) {
          this.$q.notify({
            message: "Ha sido enviado un correo a la direccion que ingresaste",
            icon: "far fa-envelope",
            color: "green",
          });
          this.recuperar = false;
        } else {
          this.$q.notify({
            message: "No hay ningún usuario registrado con este email",
            icon: "fas fa-times",
            color: "red",
          });
        }
      });
    },
  },
};
</script>

<style lang="scss">
.card-enter,
.card-leave-to {
  opacity: 0;
  transform: rotateY(90deg);
}
.card-enter-active,
.card-leave-active {
  transition: all 0.5s;
}
#background-page {
  background: url("../../assets/backgroundPage.png");
  background-size: 100% 100%;
}
label.q-field:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
  border-radius: 9px;
}
label.q-field:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
  border-radius: 9px;
}
</style>
