<template>
  <q-page class="row justify-center page-background q-pb-xl" id="background-page">
    <div class="row col-12 items-start justify-center" style="max-width: 1156px">
      <div class="col-xs-12 col-md-10 row justify-center">
        <transition name="card" mode="out-in">
          <div
            class="text-bold text-center texto-gris q-py-md"
            :class="$q.screen.gt.sm ? 'fuente-25' : 'text-h6'"
          >
            Completá el formulario, conocé tu categoría
            <br />y ocupate sólo de tu trabajo.
          </div>
        </transition>
        <div class="col-xs-11 col-md-12">
          <div
            class="text-bold text-center texto-gris text-h6 q-py-xl q-mt-md orientation-portrait mobile-only"
          >
            Para ver el formulario ubicá tu dispositivo de forma horizontal
            <q-icon name="fas fa-sync-alt" size="lg" class="q-mt-md" />
          </div>

          <categorizador :class="$q.screen.gt.sm ? '' : 'orientation-landscape'" />
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import Categorizador from "../../components/PreForm/Categorizador.vue";

export default {
  components: {
    Categorizador,
  },
  mounted() {
    console.log(this.$q);
  },
};
</script>

<style lang="scss">
.card-enter,
.card-leave-to {
  opacity: 0;
  transform: rotateY(90deg);
}
.card-enter-active,
.card-leave-active {
  transition: all 0.5s;
}
#background-page {
  background: url("../../assets/backgroundPage.png");
  background-size: 100% 100%;
}
</style>


































