<template>
  <q-page class="page-background items-start col-12 row q-pb-xl justify-center">
    <div class="row col-12 items-start justify-center" style="max-width: 1156px">
      <preguntas-basicas />
    </div>
  </q-page>
</template>

<script>
import PreguntasBasicas from "../../components/PrimerLogin/PreguntasBasicas.vue";

export default {
  components: {
    PreguntasBasicas
  },
  data() {
    return {
      evaluacion: true,
      altaMonotributo: null,
      monotributo: null,
      mensajeMonotributo: null,
      IIBB: null,
      altaArba: null
    };
  }
};
</script>

<style lang="scss">
.card-enter,
.card-leave-to {
  opacity: 0;
  transform: rotateY(90deg);
}
.card-enter-active,
.card-leave-active {
  transition: all 0.5s;
}
</style>