<template>
  <q-page
    class="page-background items-start col-12 row justify-center"
    id="background-page"
    style="padding-bottom: 80px"
  >
    <div class="col-12 row justify-center q-py-md q-pt-lg">
      <q-img src="../../assets/mascota freelo azul-02.png" contain height="70px" />
    </div>
    <div class="row col-12 items-start justify-center" style="max-width: 1156px">
      <q-card class="col-xs-11 col-md-4 q-my-xs q-py-md" flat style="border-radius:11px">
        <div class="col-12 row justify-center">
          <div
            class="text-bold text-left texto-gris q-py-xs col-xs-10 col-md-10"
            :class="$q.screen.gt.sm ? 'fuente-21' : 'text-h6'"
          >Contraseña</div>
        </div>
        <!--Login -->
        <q-form
          class="row justify-center row col-xs-11 col-md-12"
          :class="$q.screen.gt.sm ? 'q-mt-xs' : 'q-pa-md'"
          @submit.prevent="llamarRecuperacion()"
          ref="form"
        >
          <div
            class="text-left texto-gris q-py-xs col-xs-10 col-md-10"
            :class="$q.screen.gt.sm ? 'fuente-15' : 'fuente-12'"
          >Ingresá tu nueva contraseña</div>
          <q-input
            class="col-xs-12 col-md-10"
            :class="$q.screen.gt.sm ? 'q-my-sm' : 'q-my-xs'"
            lazy-rules
            :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
            type="password"
            v-model="contrasena1"
            label="Nueva contraseña"
            filled
            hide-bottom-space
          />
          <div
            class="text-left texto-gris q-mt-sm q-py-xs col-xs-10 col-md-10"
            :class="$q.screen.gt.sm ? 'fuente-15' : 'fuente-12'"
          >Repetí tu nueva contraseña</div>
          <q-input
            class="col-xs-12 col-md-10"
            :class="$q.screen.gt.sm ? 'q-my-sm' : 'q-my-xs'"
            lazy-rules
            :rules="[val => (val === contrasena1) || 'Las contraseñas deben ser iguales']"
            v-model="contrasena2"
            label="Repetí tu nueva contraseña"
            type="password"
            filled
            hide-bottom-space
          />
          <div
            class="col-xs-12 col-md-10 row justify-center text-green q-pt-sm"
            v-if="restablecida"
          >
            Contraseña restablecida.
            <span
              @click="$router.push({name: 'login'})"
              class="c009ADA"
              style="cursor: pointer"
            >Click aquí para ir a Login</span>
          </div>
          <div
            class="col-10 row q-mt-md"
            :class="$q.screen.gt.sm ? 'justify-end' : 'justify-center'"
          >
            <q-btn
              unelevated
              class="full-width fuente-16"
              label="Guardar"
              type="submit"
              no-caps
              color="accent"
            />
          </div>
        </q-form>
        <div class="col-8 q-px-xl justify-center row q-pt-md">
          <q-separator class="q-mt-xl" style="color: #ADACB2" />
        </div>
        <div class="col-8 justify-center row q-mt-lg text-caption c868589">
          ¿No tenés una cuenta? &nbsp;
          <span
            class="c009ADA"
            @click="registrarse()"
            style="cursor: pointer"
          >Registrate</span>
        </div>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      contrasena1: "",
      contrasena2: "",
      restablecida: false,
    };
  },
  computed: {
    ...mapState("usuario", ["respuesta"]),
  },
  methods: {
    ...mapActions("usuario", ["Login", "RegistrarNuevaContrasena"]),
    registrarse() {
      this.$router.push("/inscripcion");
    },
    llamarRecuperacion() {
      this.RegistrarNuevaContrasena({
        uidb64: this.$route.params.uid,
        token: this.$route.params.token,
        password: this.contrasena1,
        password2: this.contrasena2,
      })
        .then((result) => {
          if (this.respuesta.success) {
            this.contrasena1 = "";
            this.contrasena2 = "";
            this.$refs.form.resetValidation();
            this.restablecida = true;
          }
        })
        .catch((err) => {});
    },
  },
};
</script>

<style lang="scss">
.card-enter,
.card-leave-to {
  opacity: 0;
  transform: rotateY(90deg);
}
.card-enter-active,
.card-leave-active {
  transition: all 0.5s;
}
#background-page {
  background: url("../../assets/backgroundPage.png");
  background-size: 100% 100%;
}
label.q-field:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
  border-radius: 9px;
}
label.q-field:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
  border-radius: 9px;
}
</style>
