<template>
  <q-page class="row justify-center page-background q-pb-xl texto-gris" id="background-page">
    <div
      class="row col-12 items-start justify-center"
      style="max-width: 1156px"
      v-if="categorizador"
    >
      <div
        class="text-bold text-center texto-gris col-12 q-pt-xl q-mb-md"
        :class="$q.screen.gt.sm ? 'fuente-29' : 'text-h6'"
        v-if="!noAptoPreg2.respuesta"
      >Según los datos ingresados</div>
      <div
        class="texto-gris row col-xs-10 col-md-9 justify-center q-gutter-x-md"
        :class="$q.screen.gt.sm ? '' : 'q-px-sm'"
      >
        <template v-if="!noAptoPreg2.respuesta">
          <q-card
            class="col-xs-12 col-md-5 text-uppercase"
            flat
            style="border-radius:11px"
            :style="$q.screen.gt.sm ? 'max-width: 347px' : ''"
            :class="$q.screen.gt.sm ? '' : 'q-mb-md'"
          >
            <div
              class="q-py-sm text-center fuente-23"
              :class="$q.screen.gt.sm ? 'fuente-23' : 'fuente-19'"
            >
              <span class>pertenecés a la</span>
              <div class="text-bold" :class="$q.screen.gt.sm ? 'fuente-39' : 'fuente-29'">categoría</div>
              <div
                class="text-warning"
                :class="$q.screen.gt.sm ? 'absolute-center q-pt-xl  q-mt-md' : ''"
                id="wallman"
                style
                :style="$q.screen.gt.sm ? 'font-size: 223px;' : 'font-size: 50px'"
              >{{resultadosCategorizador.categoria}}</div>
            </div>
          </q-card>
          <q-card
            class="col-xs-12 col-md-5 text-uppercase"
            flat
            style="border-radius:11px"
            :style="$q.screen.gt.sm ? 'max-width: 347px' : ''"
          >
            <div class="q-py-md text-center" :class="$q.screen.gt.sm ? 'fuente-23' : 'fuente-19'">
              cuota mensual de
              <br />monotributo
              <div
                class="text-bold q-mt-xs"
                :class="$q.screen.gt.sm ? 'fuente-32' : 'fuente-25'"
              >{{resultadosCategorizador.cuota.toLocaleString("es-AR", {style: "currency", currency: "ARS", minimumFractionDigits: 2})}}</div>
            </div>
            <div class="q-py-md">
              <div
                class="fuente-23 text-center"
                :class="$q.screen.gt.sm ? 'fuente-23' : 'fuente-19'"
              >Tu Límite de facturación anual</div>
              <div
                class="text-bold text-center"
                :class="$q.screen.gt.sm ? 'fuente-32' : 'fuente-25'"
              >{{resultadosCategorizador.limiteFacturacion.toLocaleString("es-AR", {style: "currency", currency: "ARS", minimumFractionDigits: 2})}}</div>
            </div>
          </q-card>
          <div class="row col-xs-12 col-md-10 justify-center q-mt-md q-py-md" v-if="!esNoApto">
            <q-btn
              class="q-px-lg fuente-17"
              unelevated
              color="accent"
              to="/inscripcion"
              no-caps
            >Comenzar a usar Freelo</q-btn>
          </div>
        </template>
        <div class="row col-12 justify-center q-mt-md q-py-md" v-if="esNoApto">
          <div class="col-12 fuente-17 text-center">
            En base a la información provista, por el momento Freelo no puede brindarte sus servicios.
            <br />Dejanos tus datos y nos contactaremos cuando podamos ayudarte &#128512;
          </div>
          <q-form
            @submit.prevent="enviarFormNoApto()"
            class="row col-12 justify-center items-start q-pa-none q-gutter-x-sm q-mt-md"
            ref="form"
          >
            <q-input
              lazy-rules
              :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
              dense
              outlined
              class="col-xs-10 col-md-4"
              label="Nombre"
              v-model="noApto.nombre"
            />
            <q-input
              lazy-rules
              :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
              dense
              outlined
              type="email"
              class="col-xs-10 col-md-4"
              label="Email"
              v-model="noApto.email"
            />
            <div class="col-xs-5 col-md-1 q-ml-md row items-center">
              <q-btn
                class="col-12"
                unelevated
                id="boton-enviar"
                size="19px"
                type="submit"
                no-caps
                color="accent"
                label="Enviar"
                style="max-height:38px"
              />
            </div>
          </q-form>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapGetters, mapState, mapActions } from "vuex";
export default {
  data() {
    return {
      noApto: {
        nombre: "",
        email: "",
      },
    };
  },
  computed: {
    ...mapGetters("respuestas", [
      "resultadosCategorizador",
      "esNoApto",
      "motivosNoApto",
    ]),
    ...mapState("respuestas", [
      "categorizador",
      "noAptoPregAnexo",
      "noAptoPreg2",
      "noAptoPreg3",
      "noAptoPreg4",
      "noAptoPreg7",
    ]),
    ...mapState("usuario", ["respuesta"]),
  },
  methods: {
    ...mapActions("usuario", ["RegistrarNoApto"]),
    enviarFormNoApto() {
      this.RegistrarNoApto({
        nombre: this.noApto.nombre,
        email: this.noApto.email,
        motivos: this.motivosNoApto,
      }).then((result) => {
        if (this.respuesta.success) {
          this.$q.notify({
            message:
              "Gracias por rellenar el formulario, estaremos en contacto.",
            icon: "far fa-envelope",
            color: "green",
          });
          this.noApto.nombre = null;
          this.noApto.email = null;
          this.$refs.form.resetValidation();
        } else {
          this.$q.notify({
            message: "Hubo un error, intentelo nuevamente.",
            icon: "fass fa-times",
            color: "red",
          });
        }
      });
    },
  },
  mounted() {
    if (this.categorizador === null) {
      this.$router.push("/");
    }
  },
};
</script>

<style lang="scss">
.card-enter,
.card-leave-to {
  opacity: 0;
  transform: rotateY(90deg);
}
.card-enter-active,
.card-leave-active {
  transition: all 0.5s;
}
#background-page {
  background: url("../../assets/backgroundPage.png");
  background-size: 100% 100%;
}
#boton-enviar .q-btn__content {
  position: absolute !important;
  bottom: 3px !important;
  right: 7px;
}
</style>
