<template>
  <q-page class="q-px-md q-pb-md">
    <UserTopBar class="col-12" v-if="$q.screen.gt.sm && loggedIn && usuario" />
    <template v-if="!gestionInactiva">
      <baja-monotributo v-if="dadoDeBaja" />
      <template v-else>
        <div class="row q-col-gutter-y-sm q-col-gutter-x-md">
          <div class="col-xs-12 col-md-6">
            <facturacion />
          </div>
          <div class="col-xs-12 col-md-6">
            <vencimientos
              v-if="estadoFacturacionesExito && estadoFacturacionesIibbExito"
              :facturaMonotributo="facturasMensuales[0]"
              :facturaIibb="facturasMensualesIibb[0]"
            />
          </div>
          <div
            class="col-xs-12 col-md-7 q-pt-md row justify-between"
            :class="$q.screen.gt.sm ? '' : 'q-gutter-y-md'"
          >
            <div class="col-xs-12 col-md-4" :style="$q.screen.gt.sm ? 'width:49%' : ''">
              <monotributo
                v-if="condicionExito && estadoFacturacionesExito"
                :deuda="facturasMensuales[0].monto"
              />
            </div>
            <div
              class="col-xs-12 col-md-4"
              :style="$q.screen.gt.sm ? 'width:49%; padding-left: 2px' : ''"
            >
              <ingresos-brutos
                v-if="condicionExito && estadoFacturacionesIibbExito"
                :deuda="facturasMensualesIibb[0].monto"
              />
            </div>
          </div>
          <div class="col-xs-12 q-pt-md col-md-5">
            <q-list class="q-gutter-sm full-height">
              <q-item class="q-pa-none">
                <q-item-section>
                  <facturacion-mes
                    v-if="estadoFacturacionesExito && estadoFacturacionesFreeloExito"
                    :facturacionMes="facturacionPorMes[facturacionPorMes.length-1]"
                    :facturaFreelo="facturacionesFreelo[facturacionesFreelo.length-1]"
                  />
                </q-item-section>
              </q-item>
              <q-item class="q-pa-none q-pt-sm">
                <q-item-section>
                  <mercado-pago />
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </div>
      </template>
    </template>
  </q-page>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import UserTopBar from "../../components/UserTopBar";
import Facturacion from "../../components/Home/Facturacion.vue";
import Vencimientos from "../../components/Home/Vencimientos.vue";
import Monotributo from "../../components/Home/Monotributo.vue";
import IngresosBrutos from "../../components/Home/IngresosBrutos.vue";
import FacturacionMes from "../../components/Home/FacturacionMes.vue";
import MercadoPago from "../../components/Home/MercadoPago.vue";
import BajaMonotributo from "../../components/Home/BajaMonotributo.vue";

export default {
  components: {
    UserTopBar,
    Facturacion,
    Vencimientos,
    Monotributo,
    IngresosBrutos,
    FacturacionMes,
    MercadoPago,
    BajaMonotributo,
  },
  data() {
    return {
      text: "",
      bajaMonotributo: false,
    };
  },
  computed: {
    ...mapGetters("usuario", [
      "dadoDeBaja",
      "usuario",
      "loggedIn",
      "gestionInactiva",
    ]),
    ...mapGetters("monotributo", ["facturasMensuales", "facturacionPorMes"]),
    ...mapGetters("ingresosBrutos", ["facturasMensualesIibb"]),
    ...mapState("usuario", ["condicionExito"]),
    ...mapState("monotributo", ["estadoFacturacionesExito"]),
    ...mapGetters("freelo", ["facturacionesFreelo"]),
    ...mapState("freelo", ["estadoFacturacionesFreeloExito"]),
    ...mapState("ingresosBrutos", ["estadoFacturacionesIibbExito"]),
  },
};
</script>
