<template>
  <q-page class="q-px-md q-pb-md">
    <UserTopBar class="col-12" v-if="$q.screen.gt.sm" :usuario="usuario" />
    <template v-if="!gestionInactiva">
      <baja-monotributo v-if="dadoDeBaja" />
      <template v-else>
        <div
          class="row q-col-gutter-y-sm q-col-gutter-x-lg texto-gris"
          v-if="estadoTipoIibbExito && estadoFacturacionesIibbExito && estadoFacturacionesExito"
        >
          <div class="col-12" :class="$q.screen.gt.sm ? 'text-h4' : 'text-h6'">
            <titulo
              :titulo="'Mis Ingresos Brutos'"
              style="color: #5B5B5F"
              :arba="arba"
              :iibb="true"
              v-if="estadoTipoIibbExito"
            />
          </div>
          <div class="col-xs-12 q-pt-md col-md-5">
            <deuda
              v-if="(arba || !simplificado) && estadoFacturacionesIibbExito"
              :deuda="facturasMensualesIibb[0]"
              :texto="'Ingresos brutos'"
            />
            <categoria v-if="simplificado && estadoTipoIibbExito" :categoria="categoriaIibb" />
          </div>
          <div class="col-xs-12 col-md-7 q-pt-md q-gutter-y-sm">
            <liquidacion
              v-if="(arba || !simplificado) && estadoFacturacionesIibbExito"
              :factura="facturasMensualesIibb[0]"
            />
            <limite-facturacion
              v-if="simplificado && estadoTipoIibbExito"
              :limite="limiteFacturacionIibb"
              :facturacionAcumulada="facturacionAcumulada"
            />
            <q-card
              class="c5B5B5F q-mt-md"
              flat
              style="border-radius: 9px; padding: 0px 10px"
              v-if="estadoFacturacionesIibbExito"
            >
              <q-card-section class="row" :class="$q.screen.gt.sm ? 'q-pl-xs q-pr-xs ' : 'q-pa-xs'">
                <div
                  class="fuente-22 col-auto"
                  :class="$q.screen.gt.sm ? 'fuente-19' : 'fuente-15'"
                >
                  Paga sin intereses antes del
                  <strong>{{facturasMensualesIibb[0].vencimiento}}</strong>
                </div>
                <div
                  class="row justify-end"
                  :class="$q.screen.gt.sm ? 'fuente-16 col' : 'fuente-12'"
                  v-if="!facturasMensualesIibb[0].pagado"
                >
                  Descargá aquí tu &nbsp;
                  <q-btn
                    @click="abrirPago()"
                    dense
                    unelevated
                    style="background: #BE724D; border-radius: 9px; "
                    :style="$q.screen.gt.sm ? 'font-size:10px;' : ''"
                    class="text-white text-bold row"
                    :size="$q.screen.gt.sm ? '' : 'xs'"
                  >
                    <div>PAGO &nbsp;</div>
                    <q-icon :size="$q.screen.gt.sm ? 'xs' : '10px'" name="fas fa-arrow-down"></q-icon>
                  </q-btn>
                </div>
                <div
                  class="row justify-end items-center"
                  :class="$q.screen.gt.sm ? 'fuente-18 col' : 'fuente-14'"
                  v-else
                >
                  Pagado &nbsp;
                  <q-icon name="far fa-check-circle" color="green" />
                </div>
              </q-card-section>
            </q-card>
          </div>
          <div class="col-12 q-pt-md" v-if="estadoFacturacionesIibbExito">
            <!-- Este componente es el mismo que en MiMonotributo, cuando se traigan datos de la api hay que pasar las facturas como props aca y en MiMonotributo -->
            <historial-facturas :facturas="facturasIibb" :titulo="'Mis pagos AGIP'" />
          </div>
        </div>
      </template>
    </template>
  </q-page>
</template>

<script>
import { mapActions } from "vuex";
import UserTopBar from "../../components/UserTopBar";
import Titulo from "../../components/MiMonotributo/Titulo.vue";
import Deuda from "../../components/IngresosBrutos/Deuda.vue";
import Liquidacion from "../../components/IngresosBrutos/Liquidacion.vue";
import HistorialFacturas from "../../components/MiMonotributo/HistorialFacturas.vue";
import Categoria from "../../components/MiMonotributo/Categoria.vue";
import LimiteFacturacion from "../../components/MiMonotributo/LimiteFacturacion.vue";
import BajaMonotributo from "../../components/Home/BajaMonotributo.vue";
import { mapGetters, mapState } from "vuex";

export default {
  components: {
    UserTopBar,
    Titulo,
    Deuda,
    Liquidacion,
    HistorialFacturas,
    Categoria,
    LimiteFacturacion,
    BajaMonotributo,
  },
  computed: {
    ...mapGetters("usuario", ["dadoDeBaja", "usuario", "gestionInactiva"]),
    ...mapGetters("ingresosBrutos", [
      "facturasIibb",
      "agenteRecaudador",
      "regimen",
      "arba",
      "simplificado",
      "facturasMensualesIibb",
      "categoriaIibb",
      "limiteFacturacionIibb",
    ]),
    ...mapGetters("monotributo", ["facturacionAcumulada"]),
    ...mapState("monotributo", [
      "estadoMonotributoExito",
      "estadoFacturacionesExito",
    ]),
    ...mapState("ingresosBrutos", [
      "estadoFacturacionesIibbExito",
      "estadoTipoIibbExito",
    ]),
  },
  methods: {
    ...mapActions("usuario", ["DescargarFactura"]),
    abrirPago() {
      this.DescargarFactura(this.facturasMensualesIibb[0].pago);
    },
  },
};
</script>
