<template>
  <q-page class="q-px-md q-pb-md texto-gris" style="overflow: hidden">
    <user-top-bar v-if="$q.screen.gt.sm" :usuario="usuario" />
    <template v-if="!gestionInactiva">
      <baja-monotributo v-if="dadoDeBaja" />
      <template>
        <q-expansion-item
          :dense="!$q.screen.gt.sm"
          :dense-toggle="!$q.screen.gt.sm"
          group="datosPersonales"
          class="bg-white col-12"
          :class="$q.screen.gt.sm ? 'q-my-md' : 'text-caption q-my-sm'"
          expand-separator
          icon="perm_identity"
          label="Modificar datos personales"
          style="border-radius: 9px"
        >
          <datos-personales />
        </q-expansion-item>

        <q-expansion-item
          :dense="!$q.screen.gt.sm"
          :dense-toggle="!$q.screen.gt.sm"
          group="datosPersonales"
          class="bg-white col-12"
          :class="$q.screen.gt.sm ? 'q-my-md' : 'text-caption q-my-sm'"
          expand-separator
          icon="lock"
          label="Cambiar contraseña"
          style="border-radius: 9px"
        >
          <cambiar-contrasena />
        </q-expansion-item>

        <q-expansion-item
          :dense="!$q.screen.gt.sm"
          :dense-toggle="!$q.screen.gt.sm"
          group="datosPersonales"
          class="bg-white col-12"
          :class="$q.screen.gt.sm ? 'q-my-md' : 'text-caption q-my-sm'"
          expand-separator
          icon="fas fa-exclamation-circle"
          label="Dar de baja mi Monotributo"
          style="border-radius: 9px"
        >
          <baja-monotributo />
        </q-expansion-item>
        <q-expansion-item
          :dense="!$q.screen.gt.sm"
          :dense-toggle="!$q.screen.gt.sm"
          group="datosPersonales"
          class="bg-white col-12"
          :class="$q.screen.gt.sm ? 'q-my-md' : 'text-caption q-my-sm'"
          expand-separator
          icon="fas fa-exclamation-triangle"
          label="Dar de baja mi cuenta Freelo"
          style="border-radius: 9px"
        >
          <baja-freelo />
        </q-expansion-item>
      </template>
    </template>
  </q-page>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import UserTopBar from "../../components/UserTopBar.vue";
import DatosPersonales from "../../components/MiCuenta/DatosPersonales.vue";
import CambiarContrasena from "../../components/MiCuenta/CambiarContrasena.vue";
import BajaFreelo from "../../components/MiCuenta/BajaFreelo.vue";
import BajaMonotributo from "../../components/MiCuenta/BajaMonotributo.vue";

export default {
  components: {
    UserTopBar,
    DatosPersonales,
    CambiarContrasena,
    BajaFreelo,
    BajaMonotributo
  },
  computed: {
    ...mapGetters("usuario", ["dadoDeBaja", "usuario", "gestionInactiva"])
  }
};
</script>
