<template>
  <q-page class="q-px-md q-pb-md">
    <UserTopBar class="col-12" v-if="$q.screen.gt.sm" :usuario="usuario" />
    <template v-if="!gestionInactiva">
      <baja-monotributo v-if="dadoDeBaja" />
      <template v-else>
        <div class="row q-col-gutter-y-sm q-col-gutter-x-lg texto-gris">
          <div
            class="col-12 text-weight-bold text-uppercase"
            :class="$q.screen.gt.sm ? 'text-h4' : 'text-h6'"
          >
            <titulo :titulo="'Mi Monotributo'" style="color: #5B5B5F" />
          </div>
          <div class="col-xs-12 col-md-5 q-pt-md">
            <categoria :categoria="categoria" />
          </div>
          <div class="col-xs-12 col-md-7 q-gutter-y-md q-pt-md">
            <limite-facturacion
              :limite="limiteFacturacionAnual"
              :facturacionAcumulada="facturacionAcumulada"
            />
            <q-card
              class="c5B5B5F"
              flat
              style="border-radius: 9px; padding: 0px 10px"
              v-if="estadoFacturacionesExito"
            >
              <q-card-section class="row" :class="$q.screen.gt.sm ? 'q-px-xs ' : 'q-pa-xs'">
                <div
                  class="fuente-22 col-auto q-mr-"
                  :class="$q.screen.gt.sm ? 'fuente-19' : 'fuente-15'"
                >
                  Paga sin intereses antes del
                  <strong>{{facturasMensuales[0].vencimiento}}</strong>
                </div>
                <div
                  class="row justify-end"
                  :class="$q.screen.gt.sm ? 'fuente-16 col' : 'fuente-12'"
                  v-if="!facturasMensuales[0].pagado"
                >
                  Descargá aquí tu &nbsp;
                  <q-btn
                    @click="abrirPago()"
                    dense
                    unelevated
                    style="background: #BE724D; border-radius: 9px; "
                    :style="$q.screen.gt.sm ? 'font-size:10px;' : ''"
                    class="text-white text-bold row"
                    :size="$q.screen.gt.sm ? '' : 'xs'"
                  >
                    <div>PAGO &nbsp;</div>
                    <q-icon :size="$q.screen.gt.sm ? 'xs' : '10px'" name="fas fa-arrow-down"></q-icon>
                  </q-btn>
                </div>
                <div
                  class="row justify-end items-center"
                  :class="$q.screen.gt.sm ? 'fuente-18 col' : 'fuente-14'"
                  v-else
                >
                  Pagado &nbsp;
                  <q-icon name="far fa-check-circle" color="green" />
                </div>
              </q-card-section>
            </q-card>
          </div>
          <!-- <h1>{{estadoFacturacionesExito}}</h1> -->
          <div class="col-12 q-pt-md" v-if="estadoFacturacionesExito">
            <historial-facturas :facturas="facturasMonotributo" :titulo="'Mis pagos AFIP'" />
          </div>
        </div>
      </template>
    </template>
  </q-page>
</template>

<script>
import { mapActions } from "vuex";
import { mapGetters, mapState } from "vuex";
import UserTopBar from "../../components/UserTopBar";
import Titulo from "../../components/MiMonotributo/Titulo";
import Categoria from "../../components/MiMonotributo/Categoria";
import LimiteFacturacion from "../../components/MiMonotributo/LimiteFacturacion.vue";
import HistorialFacturas from "../../components/MiMonotributo/HistorialFacturas.vue";
import BajaMonotributo from "../../components/Home/BajaMonotributo.vue";

export default {
  components: {
    UserTopBar,
    Titulo,
    Categoria,
    LimiteFacturacion,
    HistorialFacturas,
    BajaMonotributo,
  },
  data() {
    return {
      progress: 0.75,
    };
  },
  computed: {
    ...mapGetters("monotributo", [
      "facturasMonotributo",
      "categoria",
      "limiteFacturacionAnual",
      "facturacionAcumulada",
      "facturasMensuales",
    ]),
    ...mapState("monotributo", [
      "estadoFacturacionesExito",
      "estadoMonotributoExito",
    ]),
    ...mapGetters("usuario", ["dadoDeBaja", "usuario", "gestionInactiva"]),
  },
  methods: {
    ...mapActions("usuario", ["DescargarFactura"]),
    abrirPago() {
      console.log(this.facturasMensuales);
      this.DescargarFactura(this.facturasMensuales[0].pago);
    },
  },
};
</script>
