<template>
  <q-page class="q-px-md q-pb-md">
    <UserTopBar v-if="$q.screen.gt.sm" :usuario="usuario" />
    <template v-if="!gestionInactiva">
      <baja-monotributo v-if="dadoDeBaja" />
      <template v-else>
        <div class="row q-col-gutter-y-md q-col-gutter-x-md texto-gris">
          <div class="col-12" v-if="estadoFacturacionesFreeloExito && estadoFacturacionesExito">
            <q-card
              flat
              style="border-radius:9px "
              :style="$q.screen.gt.sm ? 'padding: 0px 10px' : 'padding: 0px 0px'"
            >
              <q-card-section
                class="fuente-19 text-black"
                :class="$q.screen.gt.sm ? 'fuente-19' : 'fuente-15'"
              >
                Este mes facturaste {{facturacionPorMes[facturacionPorMes.length-1].monto_facturado.toLocaleString("es-AR", {style: "currency", currency: "ARS", minimumFractionDigits: 2})}}, tu mensualidad a Freelo es de
                <span
                  class="fuente-30 c5B5B5F"
                  :class="$q.screen.gt.sm ? 'fuente-30' : 'fuente-25'"
                >{{facturacionesFreelo[facturacionesFreelo.length-1].monto_facturado.toLocaleString("es-AR", {style: "currency", currency: "ARS", minimumFractionDigits: 2})}}</span>
                <span class="q-mx-lg">
                  <q-btn
                    @click="abrirPago()"
                    label="Pagar"
                    class="text-white"
                    no-caps
                    unelevated
                    color="warning"
                    style="border-radius:6px; background:#BE724D "
                    v-if="!facturacionesFreelo[this.facturacionesFreelo.length - 1].pago_realizado"
                    :class="$q.screen.gt.sm ? 'fuente-20' : 'fuente-16'"
                  />

                  <template v-else>
                    Pagado
                    <q-icon name="far fa-check-circle" color="green" />
                  </template>
                </span>
              </q-card-section>
            </q-card>
          </div>
          <div class="col-12 q-gutter-y-md" v-if="estadoFacturacionesFreeloExito">
            <historial-facturas :titulo="'Mis facturas Freelo'" :facturas="facturasFreelo" />
          </div>
        </div>
      </template>
    </template>
  </q-page>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import UserTopBar from "../../components/UserTopBar";
import HistorialFacturas from "../../components/MiMonotributo/HistorialFacturas.vue";
import BajaMonotributo from "../../components/Home/BajaMonotributo.vue";
export default {
  components: {
    UserTopBar,
    HistorialFacturas,
    BajaMonotributo,
  },
  computed: {
    ...mapGetters("freelo", ["facturasFreelo"]),
    ...mapGetters("usuario", ["dadoDeBaja", "usuario", "gestionInactiva"]),
    ...mapGetters("monotributo", ["facturasMensuales", "facturacionPorMes"]),
    ...mapGetters("freelo", ["facturacionesFreelo"]),
    ...mapState("freelo", ["estadoFacturacionesFreeloExito"]),
    ...mapState("monotributo", ["estadoFacturacionesExito"]),
  },
  methods: {
    abrirPago() {
      window.open(
        this.facturacionesFreelo[this.facturacionesFreelo.length - 1].link_pago
      );
    },
  },
};
</script>
