<template>
  <q-form
    @submit.prevent="registrarUsuario()"
    class="col-xs-11 col-md-12 q-py-lg row justify-center"
  >
    <div class="col-12 row justify-center"></div>
    <div class="col-12 row justify-center q-gutter-y-sm">
      <div class="row col-12 justify-center">
        <q-input
          v-model="form.nombre"
          label="Nombre/s"
          class="col-xs-10 col-md-9"
          filled
          lazy-rules
          :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
          hide-bottom-space
        />
      </div>
      <div class="row col-12 justify-center">
        <q-input
          v-model="form.apellido"
          label="Apellido/s"
          class="col-xs-10 col-md-9"
          filled
          lazy-rules
          :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
          hide-bottom-space
        />
      </div>
      <div class="row col-12 justify-center">
        <q-input
          v-model="form.email"
          type="email"
          label="Email"
          class="col-xs-10 col-md-9"
          filled
          lazy-rules
          :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
          hide-bottom-space
        />
      </div>
      <div class="row col-12 justify-center">
        <q-input
          type="password"
          v-model="form.contrasena"
          label="Contraseña"
          class="col-xs-10 col-md-9"
          filled
          lazy-rules
          :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
          hide-bottom-space
        />
      </div>
      <div class="row col-12 justify-center">
        <q-input
          type="password"
          v-model="form.repetirContrasena"
          label="Repetir Contraseña"
          class="col-xs-10 col-md-9"
          filled
          lazy-rules
          :rules="[val => (val === form.contrasena) || 'Las contraseñas deben ser iguales']"
          hide-bottom-space
        />
      </div>
    </div>
    <div class="col-xs-9 col-md-9 justify-start row items-start q-mt-md texto-gris">
      <q-checkbox
        dense
        v-model="aceptarTos"
        color="secondary"
        true-value="Si"
        false-value="No"
        style="font-size: 11px"
      />
      <span class="q-ml-xs c868589" style="font-size:12px">
        He leído y acepto los
        <span
          class="c009ADA"
          style="cursor: pointer;"
          @click="terminos"
        >términos y condiciones</span>
      </span>
      <q-icon class="q-mx-sm" color="dark" name="fas fa-file-download" style="cursor: pointer;">
        <q-tooltip>Haz click aquí para descargar nuestros Terminos y Condiciones</q-tooltip>
      </q-icon>
    </div>
    <div
      class="col-9 text-negative q-py-md row"
      v-if="error"
    >Ya existe un usuario con el email ingresado</div>
    <div class="col-9 justify-end row q-mt-lg">
      <q-btn
        unelevated
        class="full-width"
        :disable="aceptarTos === 'No'"
        type="submit"
        no-caps
        color="accent"
        label="Registrarme"
      />
    </div>
  </q-form>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      form: {
        nombre: "",
        apellido: "",
        email: "",
        contrasena: "",
        repetirContrasena: "",
      },
      aceptarTos: "No",
      error: false,
    };
  },
  computed: {
    ...mapState("usuario", ["respuesta"]),
  },
  methods: {
    ...mapActions("usuario", ["RegistrarUsuario"]),
    registrarUsuario() {
      this.error = false;
      this.RegistrarUsuario({
        email: this.form.email,
        first_name: this.form.nombre,
        last_name: this.form.apellido,
        email: this.form.email,
        password: this.form.contrasena,
      }).then((result) => {
        if (this.respuesta.success) {
          this.$router.push({ name: "confirmarEmail" });
        } else {
          this.error = true;
        }
      });
    },
    terminos() {
      window.open("https://befreelo.com/terminos-condiciones/");
    },
  },
};
</script>

<style lang="scss">
.q-gutter-y-sm
  > div:nth-child(1)
  > label:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(1) {
  border-radius: 9px;
}
.q-gutter-y-sm
  > div:nth-child(2)
  > label:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(1) {
  border-radius: 9px;
}
div.col-12:nth-child(3)
  > label:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(1) {
  border-radius: 9px;
}
div.row:nth-child(4)
  > label:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(1) {
  border-radius: 9px;
}
div.row:nth-child(5)
  > label:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(1) {
  border-radius: 9px;
}
</style>
