<template>
  <q-card style="width: 483px">
    <q-card-section class="text-center q-pb-xs q-pt-md">
      <div class="fuente-21 text-bold c3A3B3F q-pt-sm">Estamos realizando tu inscripción</div>
    </q-card-section>
    <q-card-section class="fuente-17 c3A3B3F text-center q-py-sm q-px-md" style="line-height: 22px">
      En cuanto esté lista tu cuenta
      <br />te avisaremos
    </q-card-section>

    <q-card-actions align="center" class="q-pb-lg">
      <q-btn
        @click="Logout()"
        v-close-popup
        class="text-white"
        unelevated
        label="Cerrar Sesión"
        style="background: #BE6C40"
        no-caps
      />
      <q-btn
        @click="irA()"
        v-close-popup
        class="text-white"
        unelevated
        label="Contacto"
        style="background: #4671BF"
        no-caps
      />
    </q-card-actions>
  </q-card>
</template>

<script>
import { mapActions } from "vuex";
export default {
  props: ["texto"],
  methods: {
    ...mapActions("usuario", ["Logout"]),
    irA() {
      window.open("https://befreelo.com/contacto/");
    }
  }
};
</script>
