<template>
  <div class="q-mb-md texto-gris">
    <q-bar
      class="bg-white q-py-lg"
      style="border-bottom-left-radius: 9px; border-bottom-right-radius: 9px; "
      :style="$q.screen.gt.sm ? 'padding: 37px 10px' : 'padding: 20px 10px'"
    >
      <div class="row" style="margin-left: 28px">
        <q-img src="../assets/mascota freelo azul-02.png" contain width="40px" height="29px" />
        <div class="text-black q-ml-sm" style="letter-spacing: 1.3px;" v-if="$q.screen.gt.sm">
          <span class="c211915">|</span>&nbsp;
          <span id="txt" class="fuente-17"></span>&nbsp;
          <span class="c211915">|</span>&nbsp;
          <span class="fuente-17">{{fecha}}</span>
        </div>
      </div>
      <q-space />
      <div v-if="loggedIn">
        <span>
          <q-btn
            size="14px"
            icon="notifications"
            :color="notificacionesSinLeer ? 'red' : 'grey-9'"
            rounded
            flat
            dense
            v-if="notificacionesExito"
          >
            {{notificacionesSinLeer > 0 ? notificacionesSinLeer : ""}}
            <q-menu
              anchor="bottom left"
              self="top left"
              transition-show="jump-down"
              transition-hide="jump-up"
              :offset="[100, 10]"
            >
              <notificaciones />
            </q-menu>
          </q-btn>
        </span>
        <q-btn-dropdown
          id="dropdown"
          :label="(usuario.nombre + ' ' + usuario.apellido)"
          flat
          no-caps
          cover
          color="color"
          icon="person"
          class="fuente-17"
        >
          <div class="row no-wrap q-pa-md texto-gris">
            <div class="column">
              <div class="text-h6 q-mb-md">
                Datos de cuenta
                <q-btn size="sm" to="/usuario/micuenta" dense flat icon="settings" />
              </div>
              <q-list>
                <q-item>
                  <q-item-section>
                    <q-item-label>Correo Electrónico</q-item-label>
                    <q-item-label caption>{{usuario.email}}</q-item-label>
                  </q-item-section>
                </q-item>

                <q-item>
                  <q-item-section>
                    <q-item-label>Teléfono</q-item-label>
                    <q-item-label caption>{{telefono}}</q-item-label>
                  </q-item-section>
                </q-item>

                <q-separator spaced inset />

                <q-item>
                  <q-item-section>
                    <q-item-label>CUIT</q-item-label>
                    <q-item-label caption lines="2">{{cuit}}</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </div>

            <q-separator vertical inset class="q-mx-lg" />

            <div class="column items-center justify-center">
              <q-avatar size="70px">
                <img src="../assets/persona.png" />
              </q-avatar>

              <div
                class="text-subtitle1 q-mt-md q-mb-xs"
              >{{usuario.nombre + ' ' + usuario.apellido}}</div>

              <q-btn
                @click="Logout()"
                flat
                color="negative"
                label="Desconectar"
                push
                v-close-popup
              />
            </div>
          </div>
        </q-btn-dropdown>
      </div>
    </q-bar>
  </div>
</template>

<script>
import Notificaciones from "./Notificaciones/Notificaciones.vue";
import { mapState, mapGetters, mapActions } from "vuex";

export default {
  name: "UserTopBar",
  components: {
    Notificaciones,
  },
  data() {
    return {
      conectado: true,
    };
  },
  computed: {
    ...mapState("opciones", ["meses"]),
    ...mapGetters("usuario", ["usuario", "loggedIn", "telefono", "cuit"]),
    ...mapGetters("notificaciones", ["notificacionesSinLeer"]),
    ...mapState("notificaciones", ["notificacionesExito"]),
    fecha() {
      let fecha = new Date();
      let year = fecha.getFullYear();
      let mes = this.meses[fecha.getMonth()].label.slice(0, 3) + ".";
      let dia = fecha.getDate();
      return mes + " " + dia + ", " + year;
    },
  },
  methods: {
    ...mapActions("usuario", ["Logout"]),
    startTime() {
      var today = new Date();
      var h = today.getHours();
      var m = today.getMinutes();
      m = this.checkTime(m);
      document.getElementById("txt").innerHTML = h + ":" + m;
      var t = setTimeout(this.startTime, 500);
    },
    checkTime(i) {
      if (i < 10) {
        i = "0" + i;
      } // add zero in front of numbers < 10
      return i;
    },
  },
  mounted() {
    setTimeout(() => {}, 5000);
    this.startTime();
  },
};
</script>

<style lang="scss">
#dropdown {
  .q-btn-dropdown__arrow {
    display: none;
  }

  .text-no-wrap > div:nth-child(2) {
    color: #be724d;
  }

  .on-left {
    color: #be724d;
  }
}
.text-no-wrap > div:nth-child(2) {
  font-size: 17px;
}
</style>
