<template>
  <q-card flat="flat" class="col-12 row justify-center q-py-lg" style="border-radius: 11px;">
    <transition name="card" mode="out-in">
      <q-form
        @submit.prevent="enviarForm()"
        class="col-xs-12 col-md-11 q-px-md q-py-md row justify-center q-gutter-y-sm"
        v-if="!resultados"
      >
        <q-select
          :dense="$q.screen.lt.md"
          class="col-12"
          filled
          v-model="form.pregunta1"
          hide-bottom-space
          lazy-rules
          :rules="[val => !!val || 'Tenés que responder ésta pregunta']"
          :options="pregunta1"
          label="¿Cuál es tu actividad?"
          id="fuente"
        />
        <!-- Pregunta anexo -->
        <transition name="card" mode="out-in">
          <q-select
            :dense="$q.screen.lt.md"
            v-if="respuestaPregunta1"
            class="col-12 q-px-lg"
            filled
            hide-bottom-space
            lazy-rules
            :rules="[val => !!val || 'Tenés que responder ésta pregunta']"
            v-model="form.preguntaanexo"
            :options="opciones"
            label="Con tu servicio, vas a facturar o comprar insumos en otra provincia o jurisdicción?"
          />
        </transition>
        <q-select
          :dense="$q.screen.lt.md"
          class="col-12"
          filled
          v-model="form.pregunta2"
          hide-bottom-space
          lazy-rules
          :rules="[val => !!val || 'Tenés que responder ésta pregunta']"
          :options="pregunta2"
          label="¿Cuáles son los ingresos que estimas por mes?"
        />
        <q-select
          :dense="$q.screen.lt.md"
          class="col-12"
          filled
          v-model="form.pregunta3"
          hide-bottom-space
          lazy-rules
          :rules="[val => !!val || 'Tenés que responder ésta pregunta']"
          :options="opciones"
          label="¿Vas a destinar un espacio físico para tu actividad? (local, oficina)"
        />
        <q-select
          :dense="$q.screen.lt.md"
          class="col-12"
          filled
          v-model="form.pregunta7"
          hide-bottom-space
          lazy-rules
          :rules="[val => !!val || 'Tenés que responder ésta pregunta']"
          :options="opciones"
          label="¿Tenés o considerás tener empleados?"
        />
        <q-select
          :dense="$q.screen.lt.md"
          class="col-12"
          filled
          v-model="form.pregunta4"
          hide-bottom-space
          lazy-rules
          :rules="[val => !!val || 'Tenés que responder ésta pregunta']"
          :options="opcionesProvincias"
          label="Seleccioná la jurisdicción donde vas a ejercer tu actividad"
        />
        <q-select
          :dense="$q.screen.lt.md"
          class="col-12"
          filled
          v-model="form.pregunta5"
          :options="pregunta5"
          hide-bottom-space
          lazy-rules
          :rules="[val => !!val || 'Tenés que responder ésta pregunta']"
          label="¿Realizás aportes jubilatorios por otra actividad distinta al monotributo?"
        />
        <!-- Depende de la pregunta previa para mostrarse -->
        <transition name="card" mode="out-in">
          <q-select
            :dense="$q.screen.lt.md"
            v-if="respuestaPregunta5"
            class="col-12 q-px-lg"
            filled
            v-model="form.pregunta6"
            :options="pregunta6"
            label="¿A cuántos familiares (de primer grado de parentesco) querés adherir a tu obra social del Monotributo?"
          />
        </transition>
        <q-option-group
          class="c868589 col-12 q-pt-xs"
          :options="declaracionCategorizador"
          label="Notifications"
          type="checkbox"
          v-model="declaracion"
          :class="$q.screen.gt.sm ? 'fuente-15' : ''"
        />
        <div class="col-12 justify-end row q-mt-md">
          <q-btn
            unelevated
            type="submit"
            no-caps
            dense
            class="fuente-19"
            color="accent"
            label="Comenzar"
            :disable="declaracion.length < 3"
          />
        </div>
      </q-form>
    </transition>
  </q-card>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";
export default {
  props: ["flat"],
  data() {
    return {
      resultados: false,
      // Opciones para preguntas si/no
      declaracion: [],
      opciones: [
        { label: "Si", value: 1 },
        { label: "No", value: 0 },
      ],
      //Opciones que se cargan con un llamado a la api, contiene las provincias
      pregunta4: [],
      form: {
        pregunta1: "",
        preguntaanexo: "",
        pregunta2: "",
        pregunta3: "",
        pregunta4: "",
        pregunta5: "",
        pregunta6: "",
        pregunta7: "",
      },
    };
  },
  computed: {
    ...mapGetters("opciones", [
      "opcionesProvincias",
      "provinciasExito",
      "provinciasError",
      "provinciasPendiente",
      "pregunta1",
      "pregunta2",
      "pregunta5",
      "pregunta6",
    ]),
    ...mapState("opciones", ["declaracionCategorizador"]),
    respuestaPregunta1() {
      return this.form.pregunta1.value === 1 || this.form.pregunta1.value === 3;
    },
    respuestaPregunta5() {
      return this.form.pregunta5.value === 0;
    },
  },
  methods: {
    ...mapActions("opciones", ["GetProvincias", "GetLocalidadesPorProvincia"]),
    ...mapActions("respuestas", ["setCategorizador"]),
    enviarForm() {
      this.setCategorizador(this.form);
      if (this.$route.path === "/primerlogin/monotributo") {
        this.$router.push("/primerlogin/monotributo/afip");
        return;
      }
      this.$router.push("/resultados");
    },
    cerrarDialogo() {
      this.noApto = false;
    },
  },
  created() {
    this.GetProvincias({});
  },
  watch: {
    noApto() {
      if (this.noApto === true) {
        this.$emit("no-apto");
      }
    },
  },
};
</script>

<style lang="scss">
.card-enter,
.card-leave-to {
  opacity: 0;
  transform: rotateY(90deg);
}
.card-enter-active,
.card-leave-active {
  transition: all 0.5s;
}
label.q-field:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
  border-radius: 9px;
}
label.q-field:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
  border-radius: 9px;
}
div.text-negative {
  border-radius: 9px;
}
label.q-field:nth-child(4) > div:nth-child(1) > div:nth-child(1) {
  border-radius: 9px;
}
label.q-field:nth-child(5) > div:nth-child(1) > div:nth-child(1) {
  border-radius: 9px;
}
label.q-field:nth-child(6) > div:nth-child(1) > div:nth-child(1) {
  border-radius: 9px;
}
label.q-field:nth-child(7) > div:nth-child(1) > div:nth-child(1) {
  border-radius: 9px;
}
label.q-field:nth-child(8) > div:nth-child(1) > div:nth-child(1) {
  border-radius: 9px;
}
label.q-field:nth-child(3) > div:nth-child(1) > div:nth-child(1) {
  border-radius: 9px;
}
/* .q-field__label {
  font-size: 18px !important;
} */
@media (min-width: 768px) {
  .q-field__label {
    font-size: 18px !important;
  }
}
</style>
