<template>
  <q-form
    @submit.prevent="enviarFormNoApto()"
    class="q-gutter-y-md col-10 row justify-center"
    :class="$q.screen.gt.sm ? '' : 'q-px-sm'"
  >
    <div
      class="text-bold text-center texto-gris q-py-md"
      :class="$q.screen.gt.sm ? 'text-h5' : 'text-h6'"
    >No sos apto</div>
    <div
      class="texto-gris col-12 text-center"
    >Te Informamos que debido a tu respuesta no sos apto para seguir usando el simulador, rellena este formulario y te contactaremos</div>
    <div class="col-12 row justify-center">
      <q-input
        class="col-10"
        v-model="formNoApto.nombre"
        lazy-rules
        :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
        hide-bottom-space
        label="Nombre"
      />
    </div>
    <div class="col-12 row justify-center">
      <q-input
        class="col-10"
        v-model="formNoApto.apellido"
        lazy-rules
        :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
        hide-bottom-space
        label="Apellido"
      />
    </div>
    <div class="col-12 row justify-center">
      <q-input
        class="col-10"
        v-model="formNoApto.email"
        lazy-rules
        :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
        hide-bottom-space
        label="Email"
      />
    </div>
    <div class="col-12 row justify-center">
      <q-input
        class="col-10"
        v-model="formNoApto.telefono"
        lazy-rules
        :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
        hide-bottom-space
        label="Telefono"
      />
    </div>
    <div class="col-12 justify-end row q-mt-md">
      <q-btn type="submit" no-caps color="accent" label="Enviar" />
    </div>
  </q-form>
</template>

<script>
export default {
  name: "NoApto",
  data() {
    return {
      formNoApto: {
        nombre: "",
        apellido: "",
        email: "",
        telefono: ""
      }
    };
  },
  methods: {
    enviarFormNoApto() {
      this.$emit("cerrar-dialogo");
      this.$q.notify({
        message: "Gracias por rellenar el formulario, estaremos en contacto.",
        icon: "far fa-envelope"
      });
    }
  }
};
</script>