<template>
  <q-card
    class="full-width row justify-center items-center c3A3B3F"
    style="border-radius: 9px; height: 560px"
    flat
  >
    <div class="col-12 row justify-center">
      <div class="fuente-27 col-11 text-center q-px-xl">
        Has solicitado la baja de tu Monotributo.
        <br />En 4 días te llegará una notificación con el comprobante de baja.
        <br />Tu cuenta Freelo desde este momento quedará desactivada.
      </div>
      <div class="row justify-center q-pt-lg">
        <div class="fuente-27 text-center">
          Muchas gracias por habernos elegido
          <br />para el manejo de tu contabilidad &#128512;
        </div>
      </div>
    </div>
  </q-card>
</template>

<script>
export default {};
</script>