<template>
  <q-card
    flat
    style="border-radius: 9px; "
    :style="$q.screen.gt.sm ? 'padding: 0px 10px' : 'padding: 0px 0px'"
  >
    <q-card-section class="text-center q-pb-xs">
      <div
        class="fuente-19 text-weight-bold"
        :class="$q.screen.gt.sm ? 'fuente-19' : 'fuente-15'"
      >El mes pasado facturaste</div>
      <div
        class="c5B5B5F"
        :class="$q.screen.gt.sm ? 'fuente-30' : 'fuente-25'"
      >{{facturacionMes.monto_facturado.toLocaleString("es-AR", {style: "currency", currency: "ARS", minimumFractionDigits: 2})}}</div>
      <div :class="$q.screen.gt.sm ? 'fuente-19' : 'fuente-15'">
        Tu mensualidad a Freelo es de
        <span
          class="text-bold c5B5B5F"
        >{{facturaFreelo.monto_facturado.toLocaleString("es-AR", {style: "currency", currency: "ARS", minimumFractionDigits: 2})}}</span>
      </div>
    </q-card-section>
    <q-card-actions class="justify-center q-pb-lg">
      <q-btn
        label="Pagar"
        @click="abrirPago()"
        :size="$q.screen.gt.sm ? 'md' : 'sm'"
        unelevated
        style="background: #BE724D; border-radius: 6px; "
        class="text-white"
        v-if="!facturaFreelo.pago_realizado || facturacionMes.pago_realizado"
      />
      <div class="text-center" :class="$q.screen.gt.sm ? 'fuente-21' : 'fuente-17'" v-else>
        Pagado
        <span>
          <q-icon name="far fa-check-circle" color="green" />
        </span>
      </div>
    </q-card-actions>
  </q-card>
</template>

<script>
export default {
  props: ["facturacionMes", "facturaFreelo"],
  methods: {
    abrirPago() {
      window.open(this.facturaFreelo.link_pago);
    },
  },
};
</script>
