<template>
  <q-card
    class="full-height"
    flat
    style="border-radius: 9px; "
    :style="$q.screen.gt.sm ? 'padding: 0px 10px' : 'padding: 0px 0px'"
  >
    <q-card-section :style="$q.screen.gt.sm ? '' : 'height: 14px'">
      <div
        class="text-weight-bold text-black"
        :class="$q.screen.gt.sm ? 'fuente-19 ' : 'fuente-15'"
      >Facturación acumulada</div>
    </q-card-section>
    <q-card-section>
      <commit-chart
        :data="datosGrafico"
        :options="opcionesGrafico"
        v-if="estadoFacturacionesExito && estadoMonotributoExito"
        :style="$q.screen.gt.sm ? 'height: 329px' : 'height:240px'"
      />
    </q-card-section>
  </q-card>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import CommitChart from "../Charts/CommitChart";
export default {
  components: {
    CommitChart,
  },
  computed: {
    ...mapGetters("monotributo", ["opcionesGrafico", "datosGrafico"]),
    ...mapState("monotributo", [
      "estadoFacturacionesExito",
      "estadoMonotributoExito",
    ]),
  },
};
</script>
