<template>
  <q-card
    flat
    style="border-radius: 9px; "
    :style="$q.screen.gt.sm ? 'padding: 10px 10px' : 'padding: 0px 0px'"
  >
    <q-card-section
      class="cABAAB0 fuente-17"
      :class="$q.screen.gt.sm ? 'text-right' : 'text-center'"
    >
      Pagos procesados por
      <q-btn dense size="sm" flat rounded @click="irAMercadoPago()">
        <q-img
          width="110px"
          height="35px"
          contain
          src="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.6.0/mercadopago/logo__large.png"
        />
      </q-btn>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  methods: {
    irAMercadoPago() {
      window.open("https://www.mercadopago.com.ar");
    }
  }
};
</script>