<template>
  <q-card
    flat
    style="border-radius: 9px;height: 299px"
    :style="$q.screen.gt.sm ? 'padding: 9px 10px' : 'padding: 0px 0px'"
  >
    <q-card-section class="q-pb-none">
      <div class="text-weight-bold" :class="$q.screen.gt.sm ? 'fuente-19' : 'fuente-15'">Monotributo</div>
      <q-list :dense="!$q.screen.gt.sm">
        <q-item dense>
          <q-item-section>
            <q-item-label>
              <div
                class="text-uppercase c5B5B5F"
                :class="[($q.screen.gt.sm ? 'fuente-23' : 'fuente-19'), (errorClaveFiscal ? '' : 'q-py-sm ')]"
              >
                CLAVE FISCAL
                <q-icon
                  v-if="!errorClaveFiscal"
                  class="q-ml-md"
                  name="far fa-check-circle"
                  color="green"
                />
                <q-icon
                  v-else
                  class="q-ml-md"
                  name="fas fa-exclamation-circle"
                  style="color: #BE724D;"
                />
              </div>
              <q-form @submit.prevent="actualizarClaveFiscal()" class="row">
                <div class="col-12">
                  <q-input
                    dense
                    no-error-icon
                    hide-bottom-space
                    outlined
                    v-model="claveFiscal"
                    :input-style="{'fontSize': '1.2em'}"
                    :style="$q.screen.gt.sm ? 'width: 75%' : ''"
                    error-message="Debes actualizar tu clave fiscal"
                    :error="errorClaveFiscal"
                  />
                </div>
                <div
                  class="col-xs-12 col-md-9 row justify-end"
                  :class="errorClaveFiscal ? '' : 'q-mt-xs'"
                >
                  <q-btn
                    type="submit"
                    unelevated
                    dense
                    label="Actualizar"
                    text-color="white"
                    style="background: #BE724D; font-size: 10px "
                  />
                </div>
              </q-form>
            </q-item-label>
            <q-item-label>
              <div
                class="text-uppercase q-pt-md c5B5B5F q-py-sm"
                :class="$q.screen.gt.sm ? 'fuente-23' : 'fuente-19'"
              >Deuda</div>
              <div
                class="text-uppercase text-bold q-py-sm c444242"
                :class="$q.screen.gt.sm ? 'fuente-23' : 'fuente-19'"
              >{{deuda.toLocaleString("es-AR", {style: "currency", currency: "ARS", minimumFractionDigits: 2})}}</div>
            </q-item-label>
          </q-item-section>
        </q-item>
        <q-item dense>
          <q-item-section></q-item-section>
          <q-item-section side :class="errorClaveFiscal ? 'q-pt-sm' : 'q-pt-md'">
            <q-btn
              size="17px"
              label="Ver más"
              icon-right="chevron_right"
              :to="{name: 'monotributo'}"
              no-caps
              dense
              flat
              color="secondary"
            />
          </q-item-section>
        </q-item>
      </q-list>
    </q-card-section>
  </q-card>
</template>

<script>
import { mapActions, mapState, mapGetters } from "vuex";
export default {
  props: ["deuda"],
  data() {
    return {
      claveFiscal: "",
      errorClaveFiscal: false,
    };
  },
  computed: {
    ...mapState("usuario", ["respuesta"]),
    ...mapGetters("usuario", ["claveAfipDesactualizada"]),
  },
  methods: {
    ...mapActions("usuario", ["ActualizarClaves"]),
    actualizarClaveFiscal() {
      if (this.claveFiscal === "") {
        return;
      }
      this.ActualizarClaves({
        clave_afip: this.claveFiscal,
      })
        .then((result) => {
          if (this.respuesta.success) {
            this.errorClaveFiscal = false;
            this.$q.notify({
              message: "Tu clave fiscal ha sido actualizada.",
              icon: "check",
              color: "positive",
            });
          } else {
            this.$q.notify({
              message:
                "Hubo un error procesando su pedido. Intente nuevamente. Si el error persiste intente relogeando",
              icon: "fas fa-times",
              color: "red",
            });
          }
        })
        .catch((err) => {
          this.$q.notify({
            message:
              "Hubo un error procesando su pedido. Intente nuevamente. Si el error persiste intente relogeando",
            icon: "fas fa-times",
            color: "red",
          });
        });
    },
  },
  mounted() {
    this.errorClaveFiscal = this.claveAfipDesactualizada;
  },
};
</script>
