<template>
  <q-card
    class="full-height"
    flat
    style="border-radius: 9px; "
    :style="$q.screen.gt.sm ? 'padding: 0px 10px' : 'padding: 0px 0px'"
  >
    <q-card-section :style="$q.screen.gt.sm ? '' : 'height: 14px'">
      <div
        class="text-weight-bold"
        :class="$q.screen.gt.sm ? 'fuente-19 ' : 'fuente-15'"
      >Vencimientos</div>
      <q-separator class="full-width" :class="$q.screen.gt.sm ? 'q-mt-md' : 'q-my-md'"></q-separator>
    </q-card-section>
    <q-card-section :class="$q.screen.gt.sm ? '' : 'q-pa-none q-pt-lg'">
      <q-list class="q-pl-sm" :dense="!$q.screen.gt.sm">
        <div
          class="text-uppercase c5B5B5F"
          :class="$q.screen.gt.sm ? 'fuente-19' : 'q-my-sm fuente-15'"
        >Monotributo</div>
        <q-item class="q-pt-md" :class="$q.screen.gt.sm ? 'fuente-19' : 'fuente-15'">
          <q-item-section>
            <q-item-label class="c5B5B5F">Vencimiento</q-item-label>
            <q-item-label class="text-bold c444242 q-pt-sm">{{facturaMonotributo.vencimiento}}</q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label class="c5B5B5F">Monto</q-item-label>
            <q-item-label
              class="text-bold c444242 q-pt-sm"
            >{{facturaMonotributo.monto.toLocaleString("es-AR", {style: "currency", currency: "ARS", minimumFractionDigits: 2})}}</q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-btn
              dense
              unelevated
              style="background: #BE724D; border-radius: 9px; "
              :style="$q.screen.gt.sm ? 'font-size:17px; width: 90px' : ''"
              class="text-white text-bold row"
              :size="$q.screen.gt.sm ? '' : 'xs'"
              @click="DescargarFactura(facturaMonotributo.pago)"
              v-if="!facturaMonotributo.pagado"
            >
              <div>PAGO &nbsp;</div>
              <q-icon :size="$q.screen.gt.sm ? 'xs' : '10px'" name="fas fa-arrow-down"></q-icon>
            </q-btn>
            <div class="text-center" :class="$q.screen.gt.sm ? 'fuente-20' : 'fuente-16'" v-else>
              Pagado
              <span>
                <q-icon name="far fa-check-circle" color="green" />
              </span>
            </div>
          </q-item-section>
        </q-item>
        <div
          class="q-pt-xl text-uppercase c5B5B5F"
          :class="$q.screen.gt.sm ? 'fuente-19' : 'fuente-15'"
        >Ingresos Brutos</div>
        <q-item class="q-pt-md" :class="$q.screen.gt.sm ? 'fuente-19' : 'fuente-15'">
          <q-item-section>
            <q-item-label class="c5B5B5F">Vencimiento</q-item-label>
            <q-item-label class="text-bold c444242 q-pt-sm">{{facturaIibb.vencimiento}}</q-item-label>
          </q-item-section>
          <q-item-section class="c5B5B5F" :class="$q.screen.gt.sm ? '' : 'q-pl-md'">
            <q-item-label>Monto</q-item-label>
            <q-item-label
              class="text-bold c444242 q-pt-sm"
            >{{facturaIibb.monto.toLocaleString("es-AR", {style: "currency", currency: "ARS", minimumFractionDigits: 2})}}</q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-btn
              @click="DescargarFactura(facturaIibb.pago)"
              dense
              unelevated
              style="background: #BE724D; border-radius: 9px; "
              :style="$q.screen.gt.sm ? 'font-size:17px; width: 90px' : ''"
              class="text-white text-bold row"
              :size="$q.screen.gt.sm ? '' : 'xs'"
              v-if="!facturaIibb.pagado"
            >
              <div>PAGO &nbsp;</div>
              <q-icon :size="$q.screen.gt.sm ? 'xs' : '10px'" name="fas fa-arrow-down"></q-icon>
            </q-btn>
            <div class="text-center" :class="$q.screen.gt.sm ? 'fuente-20' : 'fuente-16'" v-else>
              Pagado
              <span>
                <q-icon name="far fa-check-circle" color="green" />
              </span>
            </div>
          </q-item-section>
        </q-item>
      </q-list>
    </q-card-section>
  </q-card>
</template>

<script>
import { mapActions } from "vuex";
export default {
  props: ["facturaMonotributo", "facturaIibb"],
  methods: {
    ...mapActions("usuario", ["DescargarFactura"]),
    abrirPago(link) {
      window.open(link);
    },
  },
};
</script>

<style lang="scss">
#icon-size .q-btn .q-icon,
.q-btn .q-spinner {
  font-size: 1em;
}
</style>
