<template>
  <q-item
    clickable
    v-ripple
    class="non-selectable"
    :class="notificacion.leido ? 'bg-white' : 'bg-grey-3'"
    @click="notificacionLeida(notificacion)"
  >
    <q-item-section>
      <q-item-label lines="1">{{notificacion.titulo}}</q-item-label>
      <q-item-label caption lines="2">{{notificacion.contenido}}</q-item-label>
    </q-item-section>

    <q-item-section class="text-caption" side top>{{notificacion.tiempo}}</q-item-section>
  </q-item>
</template>

<script>
import { mapActions } from "vuex";
export default {
  props: ["notificacion"],
  methods: {
    ...mapActions("notificaciones", ["MarcarNotificacionLeida"]),
    notificacionLeida(notificacion) {
      if (!notificacion.leido) {
        this.MarcarNotificacionLeida(notificacion.key);
      }
    },
  },
};
</script>
