<template>
  <q-list
    flat
    dense
    class="rounded-borders texto-gris"
    style="max-width: 350px; width: 305px"
    v-if="notificacionesExito"
  >
    <q-item-label class="text-center" header>Notificaciones</q-item-label>

    <span class="text-center" v-if="notificaciones.length === '0'">
      <q-item clickable v-ripple class="non-selectable">
        <q-item-section>
          <q-item-label lines="1">No tienes notificaciones</q-item-label>
        </q-item-section>
      </q-item>
    </span>

    <span v-for="notificacion in notificaciones" :key="notificacion.key" v-else>
      <notificacion :notificacion="notificacion" />
      <q-separator class="full-width" inset="item" />
    </span>
  </q-list>
</template>

<script>
import Notificacion from "./Notificacion";
import { mapState, mapGetters } from "vuex";

export default {
  components: {
    Notificacion
  },
  data() {
    return {
      leftDrawerOpen: false
    };
  },
  computed: {
    ...mapGetters("notificaciones", ["notificaciones"]),
    ...mapState("notificaciones", ["notificacionesExito"])
  }
};
</script>
