// app global css in Sass form
@font-face
  font-family: Poppins
  src: url(./fonts/Poppins-Regular.woff)

@font-face
  font-family: Poppins-Bold
  src: url(./fonts/Poppins-Black.woff)

@font-face
  font-family: Wallman
  src: url(./fonts/Wallman-Bold-free.woff)

//Custom variables
$custom-grey : #424242 //texto
$secondary-lighten : #26c6da
$accent-lighten : #7460ee //button primary
$button-dark : #8898aa
$page-background : #F6F6F6 //background page
$background-user: #EBEBEB

.texto-gris
  color: $custom-grey

.c424242
  color: #424242

.c868589
  color: #868589

.c009ADA
  color: #009ADA

.c3A3B3F
  color: #3A3B3F

.c727176
  color: #727176

.c5B5B5F
  color: #5B5B5F

.c211915
  color: #211915

.cBE724D
  background: #BE724D

.cAB4532
  color: #AB4532

.c5B5B5F
  color: #5B5B5F

.c444242
  color: #444242

.cABAAB0
  color: #ABAAB0

.c97969B
  color: #97969B
  
.bg-secondary-lighten
  background: $secondary-lighten

.bg-accent-lighten
  background: $accent-lighten

.boton-oscuro
  background: $button-dark

.page-background
  background: $page-background

.background-user
  background: $background-user

.fuente-39
  font-size: 39px

.fuente-38
  font-size: 38px

.fuente-32
  font-size: 32px

.fuente-30
  font-size: 30px

.fuente-29
  font-size: 29px

.fuente-28
  font-size: 28px

.fuente-27
  font-size: 27px

.fuente-26
  font-size: 26px

.fuente-25
  font-size: 25px

.fuente-23
  font-size: 23px

.fuente-22
  font-size: 22px

.fuente-21
  font-size: 21px

.fuente-20
  font-size: 20px
  
.fuente-19
  font-size: 19px

.fuente-18
  font-size: 18px

.fuente-17
  font-size: 17px

.fuente-16
  font-size: 16px
  
.fuente-15
  font-size: 15px

.fuente-14
  font-size: 14px

.fuente-11
  font-size: 11px

#wallman
  font-family: Wallman
