<template>
  <q-card
    flat
    style="border-radius: 9px; height: 269px"
    :style="$q.screen.gt.sm ? 'padding: 10px 10px' : 'padding: 0px 0px'"
  >
    <q-card-section class="q-pb-xs">
      <div
        class="fuente-19 text-weight-bold"
        :class="$q.screen.gt.sm ? 'fuente-19' : 'fuente-15'"
      >Deuda actual</div>
    </q-card-section>
    <q-card-section class="text-center q-py-xs q-pb-sm">
      <div
        class="text-grey text-weight-bolder"
        style="font-size: 90px"
      >{{deuda.monto.toLocaleString("es-AR", {style: "currency", currency: "ARS", minimumFractionDigits: 2})}}</div>
    </q-card-section>
    <q-card-section class="q-py-xs q-pb-md">
      <q-separator />
    </q-card-section>
    <q-dialog v-model="dialogo">
      <modal-reliquidar />
    </q-dialog>
  </q-card>
</template>

<script>
import ModalReliquidar from "./ModalReliquidar.vue";

export default {
  components: {
    ModalReliquidar,
  },
  props: ["deuda"],
  data() {
    return {
      dialogo: false,
    };
  },
  computed: {
    vencimiento() {
      let fecha = new Date();
      return fecha > this.deuda.fechaVenc && !this.deuda.pagado;
    },
  },
  methods: {
    reliquidar() {
      this.dialogo = true;
    },
  },
};
</script>
