<template>
  <q-card
    flat
    style="border-radius: 9px; height: 190px"
    :style="$q.screen.gt.sm ? 'padding: 10px 10px' : 'padding: 0px 0px'"
  >
    <!-- <q-card-section class="q-pb-xs c5B5B5F q-pr-lg">
      <div class="row justify-center">
        <div
          class="fuente-32 col-grow"
          :class="$q.screen.gt.sm ? 'fuente-32 text-center' : 'fuente-25'"
        >Impuesto determinado</div>
        <div
          class="fuente-32 text-bold"
          :class="$q.screen.gt.sm ? 'fuente-32 text-center' : 'fuente-25'"
        >{{(factura.monto+factura.retencion).toLocaleString("es-AR", {style: "currency", currency: "ARS", minimumFractionDigits: 2})}}</div>
      </div>
    </q-card-section>
    <q-card-section
      class="q-gutter-y-sm q-pb-xs q-pr-lg fuente-25 row justify-center c97969B"
      :class="$q.screen.gt.sm ? 'fuente-25 ' : 'fuente-22'"
    >
      <div class="row col-12 justify-end">
        <div class="row col-xs-12 col-md-10 col-lg-8 q-pl-md justify-center">
          <div class="col-grow">Saldo del período</div>
          <div
            class="text-bold"
          >{{factura.monto.toLocaleString("es-AR", {style: "currency", currency: "ARS", minimumFractionDigits: 2})}}</div>
        </div>
      </div>
      <div class="col-12 row justify-end">
        <div class="row col-xs-12 col-md-10 col-lg-8 q-pl-md justify-center">
          <div class="col-grow">Retenciones</div>
          <div
            class="text-bold"
          >{{factura.retencion.toLocaleString("es-AR", {style: "currency", currency: "ARS", minimumFractionDigits: 2})}}</div>
        </div>
      </div>
    </q-card-section>-->
  </q-card>
</template>

<script>
export default {
  props: ["factura"],
};
</script>
