<template>
  <q-card style="width: 483px">
    <q-card-section class="text-center q-pb-xs q-pt-md">
      <div class="fuente-21 text-bold c3A3B3F q-pt-sm">Solicitar nueva liquidación</div>
    </q-card-section>
    <q-card-section class="fuente-17 c3A3B3F text-center q-py-sm q-px-md" style="line-height: 22px">
      Si su fecha límite para pago de {{texto}}
      <br />está vencida click en Enviar. Si ya hizo
      <br />el pago correspondiente cancele la acción.
    </q-card-section>

    <q-card-actions align="center" class="q-pb-lg">
      <q-btn
        unelevated
        label="Cancelar"
        class="text-white"
        v-close-popup
        style="background: #BE6C40"
        no-caps
      />
      <q-btn @click="reliquidar()" v-close-popup unelevated label="Enviar" color="primary" no-caps />
    </q-card-actions>
  </q-card>
</template>

<script>
export default {
  props: ["texto"],
  methods: {
    reliquidar() {
      this.$q.notify({
        message: "Su pedido de reliquidación ha sido enviado.",
        icon: "check",
        color: "positive",
      });
    },
  },
};
</script>
