<template>
  <div
    class="col-12 row justify-center texto-gris"
    style="max-width: 1156px"
    :class="$q.screen.gt.sm ? '' : 'q-px-sm'"
  >
    <div class="col-12 row justify-center q-pa-md">
      <div
        class="text-bold text-center texto-gris col-xs-10 col-md-6"
        :class="$q.screen.gt.sm ? 'fuente-25' : 'text-h6'"
      >Ingresos Brutos</div>
    </div>
    <q-card class="row col-xs-11 col-md-8 q-mt-md justify-center" flat style="border-radius: 11px">
      <div class="col-12 row justify-center q-pb-md">
        <div
          class="text-left texto-gris q-py-xs col-xs-10 q-mt-md"
          :class="$q.screen.gt.sm ? 'fuente-21' : 'fuente-17'"
          style=" color: #727176"
        >
          Necesitamos que nos proporciones algunos datos para
          <br />registrarte en AGIP.
        </div>
      </div>
      <q-stepper
        class="col-xs-12 col-md-10"
        active-color="info"
        v-model="step"
        vertical
        color="primary"
        keep-alive
        animated
      >
        <q-step
          :name="1"
          title="Categoría"
          icon="fas fa-table"
          :done="step1Done"
          @click="irPaso1()"
        >
          <paso-1 @paso1-valido="validarPaso1" />
        </q-step>

        <q-step
          :name="2"
          title="Actividades"
          icon="fas fa-tools"
          :done="step2Done"
          @click="irPaso2()"
        >
          <paso-2 @paso2-valido="validarPaso2" />
        </q-step>
        <q-step
          :name="3"
          title="Domicilio"
          icon="fas fa-map-marker-alt"
          :done="step2Done"
          @click="irPaso3()"
        >
          <paso-3 @paso3-valido="enviarForm" :domicilio="domiciliosMonotributo" />
        </q-step>
      </q-stepper>
    </q-card>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapState } from "vuex";
import Paso1 from "../AltaAgip/Paso1";
import Paso2 from "../AltaAgip/Paso2";
import Paso3 from "../AltaAgip/Paso3";

export default {
  components: {
    Paso1,
    Paso2,
    Paso3,
  },
  data() {
    return {
      step: 1,
      step1Done: false,
      step2Done: false,
      categoria: null,
      actividades: null,
      domicilios: null,
      domiciliosMonotributo: null,
    };
  },
  methods: {
    ...mapActions("respuestas", ["setAltaIibb"]),
    ...mapActions("opciones", ["GetProvincias", "GetLocalidadesPorProvincia"]),
    ...mapActions("usuario", ["RegistrarAltaAgip"]),
    validarPaso1(categoria) {
      this.step1Done = true;
      this.categoria = categoria;
      this.step = 2;
    },
    validarPaso2(actividades) {
      this.step2Done = true;
      this.actividades = actividades;
      this.step = 3;
    },
    enviarForm(domicilios) {
      this.domicilios = domicilios;
      this.setAltaIibb({
        agip: true,
        categoria: this.categoria,
        actividades: this.actividades,
        domicilios: this.domicilios,
      });
      let actSeleccionadas = {};
      for (
        let index = 0;
        index < this.actividades.seleccionadas.length;
        index++
      ) {
        actSeleccionadas[index] = {
          codigo: this.actividades.seleccionadas[index].nombre.value,
          tipo_actividad: this.actividades.seleccionadas[index].principal
            ? "Principal"
            : "Secundaria",
        };
      }
      this.RegistrarAltaAgip({
        agip_persona: {
          clave_fiscal_agip: this.ingresosBrutosInicial.claveFiscal,
          categoria_agip:
            this.categoria.regimen.value === "simp" ? this.categoria.label : "",
          regimen_simplificado: this.categoria.regimen.value === "simp",
        },
        actividades: actSeleccionadas,
        domicilio: {
          ruta: this.domicilios.comercial.ruta,
          km: this.domicilios.comercial.km,
          barrio: this.domicilios.comercial.barrio,
          calle: this.domicilios.comercial.calle,
          numero: this.domicilios.comercial.numero,
          piso: this.domicilios.comercial.piso,
          oficina: this.domicilios.comercial.oficina,
          sector: this.domicilios.comercial.sector,
          torre: this.domicilios.comercial.torre,
          manzana: this.domicilios.comercial.manzana,
        },
      })
        .then((result) => {
          if (this.respuesta.success) {
            this.$router.push("/primerlogin/ingresosbrutos/altafinalizada");
          } else {
            this.$q.notify({
              message:
                "Hubo un error procesando su pedido. Intente nuevamente. Si el error persiste intente relogeando",
              icon: "fas fa-times",
              color: "red",
            });
          }
        })
        .catch((err) => {});
    },
    irPaso1() {
      if (this.step1Done) {
        this.step = 1;
      }
    },
    irPaso2() {
      if (this.step1Done || this.step2Done) {
        this.step = 2;
      }
    },
    irPaso3() {
      if (this.step2Done) {
        this.step = 3;
      }
    },
  },
  computed: {
    ...mapGetters("respuestas", ["arba"]),
    ...mapState("respuestas", ["ingresosBrutosInicial"]),
    ...mapState("usuario", ["respuesta"]),
  },
  mounted() {
    if (this.monotributo && this.monotributo.domicilios.real) {
      this.domiciliosMonotributo = { ...this.monotributo.domicilios.real };
    }
  },
};
</script>

<style lang="scss">
.q-field__control {
  border-radius: 9px !important;
}
.q-stepper__title {
  font-size: 18px;
}
</style>
