<template>
  <div
    class="col-12 row justify-center texto-gris"
    style="max-width: 1156px"
    :class="$q.screen.gt.sm ? '' : 'q-px-sm'"
  >
    <div class="col-12 row justify-center q-pa-md">
      <div
        class="text-bold text-center c424242 col-xs-10 col-md-6"
        :class="$q.screen.gt.sm ? 'fuente-25' : 'text-h6'"
      >Ingresos Brutos</div>
    </div>
    <q-card class="row col-xs-11 col-md-8 q-mt-md justify-center" flat style="border-radius: 11px">
      <div class="col-12 row justify-center q-pb-md">
        <div
          class="text-left c727176 q-py-xs col-xs-10 q-mt-md"
          :class="$q.screen.gt.sm ? 'fuente-21' : 'fuente-17'"
        >
          Necesitamos que nos proporciones algunos datos para
          <br />registrarte en ARBA.
        </div>
      </div>
      <div class="col-12 row justify-center">
        <div class="col-xs-10 col-md-6 justify-start row"></div>
      </div>
      <q-stepper
        class="col-xs-12 col-md-10"
        active-color="info"
        v-model="step"
        vertical
        color="primary"
        keep-alive
        animated
      >
        <q-step
          :name="1"
          title="Datos Fiscales"
          icon="fas fa-table"
          :done="step1Done"
          @click="irPaso1()"
        >
          <paso-1 @paso1-valido="validarPaso1" />
        </q-step>

        <q-step
          :name="2"
          title="Actividades"
          icon="fas fa-tools"
          :done="step2Done"
          @click="irPaso2()"
        >
          <paso-2 @paso2-valido="validarPaso2" />
        </q-step>
        <q-step
          :name="3"
          title="Domicilio"
          icon="fas fa-map-marker-alt"
          :done="step2Done"
          @click="irPaso3()"
        >
          <paso-3 @paso3-valido="enviarForm" :domicilio="domiciliosMonotributo" />
        </q-step>
      </q-stepper>
    </q-card>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapState } from "vuex";
import Paso1 from "../AltaArba/Paso1";
import Paso2 from "../AltaArba/Paso2";
import Paso3 from "../AltaArba/Paso3";

export default {
  components: {
    Paso1,
    Paso2,
    Paso3,
  },
  data() {
    return {
      step: 1,
      step1Done: false,
      step2Done: false,
      datosFiscales: null,
      actividades: null,
      domicilios: null,
      domiciliosMonotributo: null,
    };
  },
  methods: {
    ...mapActions("respuestas", ["setAltaIibb"]),
    ...mapActions("opciones", ["GetProvincias", "GetLocalidadesPorProvincia"]),
    ...mapActions("usuario", ["RegistrarAltaArba"]),
    validarPaso1(datosFiscales) {
      this.step1Done = true;
      this.datosFiscales = datosFiscales;
      this.step = 2;
    },
    validarPaso2(actividades) {
      this.step2Done = true;
      this.actividades = actividades;
      this.step = 3;
    },
    enviarForm(domicilios) {
      this.domicilios = domicilios;
      this.setAltaIibb({
        arba: true,
        datosFiscales: this.datosFiscales,
        actividades: this.actividades,
        domicilios: this.domicilios,
      });
      let actSeleccionadas = {};
      for (
        let index = 0;
        index < this.actividades.seleccionadas.length;
        index++
      ) {
        actSeleccionadas[index] = {
          codigo: this.actividades.seleccionadas[index].nombre.value,
          tipo_actividad: this.actividades.seleccionadas[index].principal
            ? "Principal"
            : "Secundaria",
          fecha_inicio:
            this.actividades.seleccionadas[index].year +
            "-" +
            this.actividades.seleccionadas[index].mes +
            "-01",
        };
      }
      let fecha =
        this.datosFiscales.year +
        "-" +
        this.datosFiscales.mes.value +
        "-" +
        this.datosFiscales.dia;
      // para guardar la nacionalidad/pais de origen dependiendo de que eligió
      let nacionalidad = "";
      if (this.datosFiscales.nacionalidad.label === "Argentina") {
        nacionalidad = this.datosFiscales.nacionalidad.label;
      } else if (
        this.datosFiscales.nacionalidad.label === "Extranjera" &&
        this.datosFiscales.origen.label !== "Otro"
      ) {
        nacionalidad = this.datosFiscales.origen.label;
      } else if (
        this.datosFiscales.nacionalidad.label === "Extranjera" &&
        this.datosFiscales.origen.label === "Otro"
      ) {
        nacionalidad = this.datosFiscales.otro;
      }
      this.RegistrarAltaArba({
        arba_persona: {
          clave_fiscal_arba: this.ingresosBrutosInicial.claveFiscal,
          fecha_nacimiento: fecha,
          sexo: this.datosFiscales.sexo.label,
          estado_civil: this.datosFiscales.estadoCivil.label,
          nacionalidad: nacionalidad,
        },
        actividades: actSeleccionadas,
        domicilio: {
          provincia: this.domicilios.fiscal.provincia.label,
          localidad: this.domicilios.fiscal.ciudad.label,
          partido: this.domicilios.fiscal.partido.label,
          ruta: this.domicilios.fiscal.ruta,
          km: this.domicilios.fiscal.km,
          codigo_postal: this.domicilios.fiscal.cp,
          calle: this.domicilios.fiscal.calle,
          numero: this.domicilios.fiscal.numero,
          piso: this.domicilios.fiscal.piso,
          oficina: this.domicilios.fiscal.oficina,
          sector: this.domicilios.fiscal.sector,
          torre: this.domicilios.fiscal.torre,
          manzana: this.domicilios.fiscal.manzana,
        },
      })
        .then((result) => {
          if (this.respuesta.success) {
            this.$router.push("/primerlogin/ingresosbrutos/altafinalizada");
          } else {
            this.$q.notify({
              message:
                "Hubo un error procesando su pedido. Intente nuevamente. Si el error persiste intente relogeando",
              icon: "fas fa-times",
              color: "red",
            });
          }
        })
        .catch((err) => {});
    },
    irPaso1() {
      if (this.step1Done) {
        this.step = 1;
      }
    },
    irPaso2() {
      if (this.step1Done || this.step2Done) {
        this.step = 2;
      }
    },
    irPaso3() {
      if (this.step2Done) {
        this.step = 3;
      }
    },
  },
  mounted() {
    if (this.monotributo && this.monotributo.domicilios.real) {
      this.domiciliosMonotributo = { ...this.monotributo.domicilios.real };
    }
  },
  computed: {
    ...mapGetters("respuestas", ["arba"]),
    ...mapState("respuestas", ["ingresosBrutosInicial"]),
    ...mapState("usuario", ["respuesta"]),
  },
};
</script>

<style lang="scss">
.q-field__control {
  border-radius: 9px !important;
}
.q-stepper__title {
  font-size: 18px;
}
</style>
