<template>
  <div class="col-12 row q-pt-lg justify-center" style="max-width:1156px">
    <div
      class="text-bold col-12 text-center texto-gris q-py-md"
      :class="$q.screen.gt.sm ? 'text-h5' : 'text-h6'"
    >Ingresá tu clave fiscal</div>
    <q-card class="col-8 bg-white q-pa-md row justify-center">
      <q-form @submit.prevent="guardarClaveFiscal()" class="col-12 row justify-center">
        <q-input
          label="Clave Fiscal"
          class="col-xs-12 col-md-6"
          filled
          :dense="!$q.screen.gt.sm"
          v-model="claveFiscal"
          lazy-rules
          :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio' ]"
          hide-bottom-space
        >
          <q-tooltip
            content-class="bg-dark"
            transition-show="flip-right"
            transition-hide="flip-left"
            anchor="bottom middle"
            self="center middle"
          >Asegurate de que tu Clave es la correcta iniciando sesión en AFIP</q-tooltip>
        </q-input>
        <div class="col-12 row justify-center q-pt-md">
          <div class="col-6 row" :class="$q.screen.gt.sm ? 'justify-end' : 'justify-center'">
            <q-btn type="submit" label="Continuar" color="accent" no-caps />
          </div>
        </div>
      </q-form>
    </q-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      claveFiscal: ""
    };
  },
  methods: {
    guardarClaveFiscal() {
      if (this.$route.path === "/primerlogin/monotributo/afip") {
        this.$router.push("/primerlogin/monotributo/altafinalizada");
      } else if (
        this.$route.path === "/primerlogin/ingresosbrutos/clavefiscal"
      ) {
        this.$router.push("/primerlogin/ingresosbrutos/altafinalizada");
      }
    }
  }
};
</script>