<template>
  <div
    class="col-12 row justify-center texto-gris"
    style="max-width: 1156px"
    :class="$q.screen.gt.sm ? '' : 'q-px-sm'"
  >
    <div class="col-12 row justify-center q-pa-md">
      <div
        class="text-bold text-center c3A3B3F col-xs-10 col-md-6"
        :class="$q.screen.gt.sm ? 'fuente-25' : 'text-h6'"
      >Ingresos Brutos</div>
    </div>
    <q-card class="row col-xs-11 col-md-8 q-mt-md justify-center" flat style="border-radius: 11px">
      <div class="col-12 row justify-center q-pb-md">
        <div
          class="text-left texto-gris c727176 q-py-xs col-xs-10 q-mt-md"
          :class="$q.screen.gt.sm ? 'fuente-21' : 'fuente-17'"
        >
          Necesitamos que nos proporciones algunos datos para
          <br />llevar al día tus Ingresos Brutos.
        </div>
      </div>
      <q-stepper
        class="col-xs-12 col-md-10"
        inactive-color="secondary"
        active-color="info"
        v-model="step"
        vertical
        color="primary"
        animated
      >
        <q-step
          :name="1"
          title="Jurisdicción"
          icon="fas fa-map-marked-alt"
          :done="step1Done"
          @click="irPaso1()"
        >
          <q-form @submit.prevent="validarPaso1()" class="col-12 row justify-start">
            <div class="col-12 justify-center row">
              <div
                class="col-xs-12 col-md-12 c727176"
                :class="$q.screen.gt.sm ? 'fuente-19' : 'text-left fuente-17'"
              >¿En que jurisdicción vas a tributar?</div>
            </div>
            <div class="col-12 row justify-center q-pt-sm">
              <div class="col-12 row q-pt-sm">
                <q-option-group
                  :class="$q.screen.gt.sm ? 'fuente-18' : ''"
                  class="c424242"
                  :dense="!$q.screen.gt.sm"
                  v-model="tributaEn"
                  :options="opciones"
                />
              </div>
            </div>
            <div class="col-12 row justify-center q-pt-md">
              <div class="col-12 row" :class="$q.screen.gt.sm ? 'justify-end' : 'justify-center'">
                <q-btn
                  type="submit"
                  label="Siguiente"
                  :disable="tributaEn === ''"
                  color="accent"
                  no-caps
                  unelevated
                />
              </div>
            </div>
          </q-form>
        </q-step>

        <q-step :name="2" title="Clave" icon="fas fa-key" :done="step2Done" @click="irPaso2()">
          <q-form @submit.prevent="validarPaso2()" class="col-12 row q-pt-md">
            <q-input
              :label="enteRecaudador"
              class="col-xs-12 col-md-7"
              filled
              :dense="!$q.screen.gt.sm"
              v-model="claveFiscal"
              lazy-rules
              :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio' ]"
              hide-bottom-space
            >
              <q-tooltip
                content-class="bg-dark"
                transition-show="flip-right"
                transition-hide="flip-left"
                anchor="bottom middle"
                self="center middle"
              >Asegurate de que tu Clave es la correcta iniciando sesión en {{enteRecaudador}}</q-tooltip>
            </q-input>
          </q-form>
        </q-step>
        <div class="col-12 justify-center row q-pt-md">
          <div class="col-12 row justify-end q-pr-lg">
            <q-btn
              :disable="claveFiscal === ''"
              unelevated
              @click="validarForm()"
              label="Continuar"
              color="accent"
              no-caps
            />
          </div>
        </div>
      </q-stepper>
    </q-card>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapState } from "vuex";
import { jurisdiccion } from "../../store/respuestas/getters";

export default {
  props: ["altaArba"],
  data() {
    return {
      opciones: [
        { label: "Ciudad Autónoma de Buenos Aires", value: "caba" },
        { label: "Provincia de Buenos Aires", value: "provincia" },
      ],
      tributaEn: "",
      claveFiscal: "",
      step: 1,
      step1Done: false,
      step2Done: false,
    };
  },
  methods: {
    ...mapActions("respuestas", ["setIngresosBrutosInicial"]),
    ...mapActions("usuario", ["RegistrarIIIBBActivo"]),
    validarPaso1() {
      this.step1Done = true;
      this.step = 2;
    },
    validarPaso2() {
      this.step2Done = true;
      this.step = 3;
    },
    irPaso1() {
      if (this.step1Done) {
        this.step = 1;
      }
    },
    irPaso2() {
      if (this.step1Done || this.step2Done) {
        this.step = 2;
      }
    },
    validarForm() {
      this.setIngresosBrutosInicial({
        jurisdiccion: this.tributaEn,
        claveFiscal: this.claveFiscal,
      });
      if (this.arba && this.tributaEn === "caba") {
        //Alta en AGIP
        this.$router.push("/primerlogin/ingresosbrutos/agip");
      } else if (this.arba && this.tributaEn === "provincia") {
        //Alta en ARBA
        this.$router.push("/primerlogin/ingresosbrutos/arba");
      } else if (!this.arba) {
        //Carga en la api como ingresos brutos activo
        if (this.tributaEn === "caba") {
          this.RegistrarIIIBBActivo({
            clave_fiscal_agip: this.claveFiscal,
          })
            .then((result) => {
              this.$router.push("/primerlogin/ingresosbrutos/altafinalizada");
            })
            .catch((err) => {});
        } else {
          this.RegistrarIIIBBActivo({
            clave_fiscal_arba: this.claveFiscal,
          })
            .then((result) => {
              this.$router.push("/primerlogin/ingresosbrutos/altafinalizada");
            })
            .catch((err) => {});
        }
      }
    },
  },
  computed: {
    ...mapGetters("respuestas", ["arba"]),
    ...mapState("respuestas", ["preguntasBasicas"]),
    ...mapState("usuario", ["respuesta"]),
    enteRecaudador() {
      if (this.tributaEn === "caba") {
        return "Clave Ciudad AGIP";
      } else {
        return "Clave Fiscal ARBA";
      }
    },
  },
  created() {
    if (this.preguntasBasicas === null) {
      this.$router.push({ name: "primerLogin" });
    }
  },
};
</script>
