<template>
  <div class="col-12 row justify-center">
    <div class="col-12 row justify-center q-pa-md">
      <div
        class="text-bold text-center texto-gris col-xs-10 col-md-6"
        :class="$q.screen.gt.sm ? 'text-h5' : 'text-h6 q-pt-md'"
      >Inscripción a Monotributo</div>
    </div>
    <q-stepper
      keep-alive
      v-model="step"
      vertical
      flat
      color="primary"
      active-color="info"
      animated
      class="col-12 texto-gris"
      style="border-radius: 20px"
    >
      <q-step :name="1" title="AFIP" icon="fas fa-calculator" :done="step1Done" @click="irPaso1()">
        <div class="col-12 row q-gutter-y-sm">
          <paso1 @paso1-valido="paso1Validado" />
        </div>
      </q-step>

      <q-step
        :name="2"
        title="Domicilios"
        icon="fas fa-map-marker-alt"
        :done="step2Done"
        @click="irPaso2()"
      >
        <div class="col-12 row q-gutter-y-sm">
          <paso2 @paso2-valido="paso2Validado" />
        </div>
      </q-step>

      <q-step
        :name="3"
        title="Jurisdicción"
        icon="fas fa-map-marked-alt"
        :done="step3Done"
        @click="irPaso3()"
      >
        <div class="col-12 row q-gutter-y-sm">
          <paso3 @paso3-valido="paso3Validado" />
        </div>
      </q-step>

      <q-step
        :name="4"
        title="Actividades"
        icon="fas fa-tools"
        :done="step4Done"
        @click="irPaso4()"
      >
        <paso4 @paso4-valido="paso4Validado" />
      </q-step>
      <q-step
        :name="5"
        title="Monotributo 1 de 3: Actividades"
        icon="fas fa-toolbox"
        :done="step5Done"
        @click="irPaso5()"
      >
        <div class="col-12 row q-gutter-y-sm">
          <paso5 :actividades="actividades" @paso5-valido="paso5Validado" />
        </div>
      </q-step>
      <q-step
        :name="6"
        title="Monotributo 2 de 3: Aportes de jubilación"
        icon="fas fa-blind"
        :done="step6Done"
        @click="irPaso6()"
      >
        <paso6 @paso6-valido="paso6Validado" />
      </q-step>
      <q-step
        :name="7"
        title="Monotributo 3 de 3: Obra Social"
        icon="fas fa-medkit"
        :done="step7Done"
        @click="irPaso7()"
      >
        <paso7 @paso7-valido="paso7Validado" :respuesta="respuestaTipoTrabajador" />
      </q-step>
      <q-step
        :name="8"
        title="Confirma tus datos"
        icon="fas fa-user-check"
        :done="step8Done"
        @click="irPaso8()"
      >
        <div class="col-12 row q-gutter-y-sm">
          <paso8
            @formulario-completado="enviarForm"
            :afip="afip"
            :actividades="actividades"
            :monotributo2="monotributo2"
            :monotributo3="monotributo3"
          />
        </div>
      </q-step>
    </q-stepper>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import Paso1 from "./InscripcionMonotributo/Paso1.vue";
import Paso2 from "./InscripcionMonotributo/Paso2.vue";
import Paso3 from "./InscripcionMonotributo/Paso3.vue";
import Paso4 from "./InscripcionMonotributo/Paso4.vue";
import Paso5 from "./InscripcionMonotributo/Paso5.vue";
import Paso6 from "./InscripcionMonotributo/Paso6.vue";
import Paso7 from "./InscripcionMonotributo/Paso7.vue";
import Paso8 from "./InscripcionMonotributo/Paso8.vue";

export default {
  components: {
    Paso1,
    Paso2,
    Paso3,
    Paso4,
    Paso5,
    Paso6,
    Paso7,
    Paso8,
  },
  data() {
    return {
      step: 1,
      //Las variables de abajo contienen la info que mandan los emits en cada paso
      afip: null,
      domicilios: null,
      jurisdiccion: null,
      actividades: null,
      monotributo1: null,
      // Esto queda asi por las computadas que calculan algunas cositas, en null se rompe todo
      monotributo2: {
        respuesta: "",
        error: false,
        cuitEmpleador: "",
        leyJubilacion: "",
        errorLey: false,
      },
      monotributo3: null,
      // Para marcar cada paso como completado
      step1Done: false,
      step2Done: false,
      step3Done: false,
      step4Done: false,
      step5Done: false,
      step6Done: false,
      step7Done: false,
      step8Done: false,
    };
  },
  computed: {
    ...mapState("respuestas", ["preguntasBasicas"]),
    ...mapState("usuario", ["respuesta"]),
    respuestaTipoTrabajador() {
      return this.monotributo2.respuesta !== "activo";
    },
  },
  methods: {
    ...mapActions("respuestas", ["setMonotributo"]),
    ...mapActions("usuario", ["RegistrarMonotributoNuevo"]),
    paso1Validado(afip) {
      this.step1Done = true;
      this.afip = afip;
      this.step = 2;
    },
    paso2Validado(domicilios) {
      this.step2Done = true;
      this.domicilios = domicilios;
      this.step = 3;
    },
    paso3Validado(jurisdiccion) {
      this.step3Done = true;
      this.jurisdiccion = jurisdiccion;
      this.step = 4;
    },
    paso4Validado(actividades) {
      this.step4Done = true;
      this.actividades = actividades;
      this.step = 5;
    },
    paso5Validado(monotributo1) {
      this.step5Done = true;
      this.monotributo1 = monotributo1;
      this.step = 6;
    },
    paso6Validado(monotributo2) {
      this.step6Done = true;
      this.monotributo2 = monotributo2;
      this.step = 7;
    },
    paso7Validado(monotributo3) {
      this.step7Done = true;
      this.monotributo3 = monotributo3;
      this.step = 8;
    },
    irPaso1() {
      if (this.step1Done) {
        this.step = 1;
      }
    },
    irPaso2() {
      if (this.step2Done || this.step1Done) {
        this.step = 2;
      }
    },
    irPaso3() {
      if (this.step3Done || this.step2Done) {
        this.step = 3;
      }
    },
    irPaso4() {
      if (this.step4Done || this.step3Done) {
        this.step = 4;
      }
    },
    irPaso5() {
      if (this.step5Done || this.step4Done) {
        this.step = 5;
      }
    },
    irPaso6() {
      if (this.step6Done || this.step5Done) {
        this.step = 6;
      }
    },
    irPaso7() {
      if (this.step7Done || this.step6Done) {
        this.step = 7;
      }
    },
    irPaso8() {
      if (this.step8Done || this.step7Done) {
        this.step = 8;
      }
    },
    enviarForm() {
      // guardar los datos en el store
      this.setMonotributo({
        afip: this.afip,
        domicilios: this.domicilios,
        jurisdiccion: this.jurisdiccion,
        actividades: this.actividades,
        monotributo1: this.monotributo1,
        monotributo2: this.monotributo2,
        monotributo3: this.monotributo3,
      });
      let actSeleccionadas = {};
      for (
        let index = 0;
        index < this.actividades.seleccionadas.length;
        index++
      ) {
        actSeleccionadas[index] = {
          codigo: this.actividades.seleccionadas[index].codigo,
          tipo_actividad: this.actividades.seleccionadas[index].principal
            ? "Principal"
            : "Secundaria",
          fecha_inicio:
            this.actividades.seleccionadas[index].year +
            "-" +
            this.actividades.seleccionadas[index].mes +
            "-01",
        };
      }
      let familiares = {};
      for (
        let index = 0;
        index < this.monotributo3.familiares.length;
        index++
      ) {
        familiares[index] = {
          nombre: this.monotributo3.familiares[index].nombre,
          apellido: this.monotributo3.familiares[index].nombre,
          cuit: this.monotributo3.familiares[index].cuit,
          vinculo: this.monotributo3.familiares[index].vinculo,
          unificar_aportes: false,
        };
      }
      // aca se agrega el conyuge si es que tiene aporte unificado
      if (this.monotributo3.aportesConyuge) {
        familiares[this.monotributo3.familiares.length] = {
          nombre: this.monotributo3.nombreConyuge,
          apellido: this.monotributo3.nombreConyuge,
          cuit: this.monotributo3.cuitConyuge,
          vinculo: "Cónyuge",
          unificar_aportes: true,
        };
      }
      if (this.monotributo3.obraSocial.value) {
        this.RegistrarMonotributoNuevo({
          telefono: this.preguntasBasicas.whatsapp,
          cuit: this.preguntasBasicas.cuit,
          clave_afip: this.afip.claveFiscal,
          afip_persona: {
            //siempre es false si se esta registrando
            actividades_en_otras_jurisdicciones: false,
            cuit_empleador: this.monotributo2.cuitEmpleador,
            cuit_caja: this.monotributo2.cuitcaja,
            ley_jubilado: this.monotributo2.leyJubilacion,
            mes_actual_inicio_actividades: this.monotributo1.mes,
            facturacion_anual_estimada: this.monotributo1.facturacionAnual,
          },
          domicilio: {
            provincia: this.domicilios.real.provincia.label,
            localidad: this.domicilios.real.ciudad.label,
            codigo_postal: this.domicilios.real.cp,
            calle: this.domicilios.real.calle,
            numero: this.domicilios.real.numero,
            piso: this.domicilios.real.oficina,
            sector: this.domicilios.real.sector,
            torre: this.domicilios.real.torre,
            manzana: this.domicilios.real.manzana,
          },
          obra_social: {
            codigo: this.monotributo3.obraSocial.value,
          },
          actividades: actSeleccionadas,
          familiares: familiares, // familiares recibe un array de familiares con los atributos nombre, cuit y vinculo
        })
          .then((result) => {
            if (this.respuesta.success) {
              this.$router.push("/primerlogin/ingresosbrutos");
            } else {
              this.$q.notify({
                message:
                  "Hubo un error procesando su pedido. Es posible que su CUIT ya esté en uso, si el problema persiste contacte un Administrador",
                icon: "fas fa-times",
                color: "red",
              });
            }
          })
          .catch((err) => {});
      } else {
        this.RegistrarMonotributoNuevo({
          telefono: this.preguntasBasicas.whatsapp,
          cuit: this.preguntasBasicas.cuit,
          clave_afip: this.afip.claveFiscal,
          afip_persona: {
            //siempre es false si se esta registrando
            actividades_en_otras_jurisdicciones: false,
            cuit_empleador: this.monotributo2.cuitEmpleador,
            cuit_caja: this.monotributo2.cuitcaja,
            ley_jubilado: this.monotributo2.leyJubilacion,
            mes_actual_inicio_actividades: this.monotributo1.mes,
            facturacion_anual_estimada: this.monotributo1.facturacionAnual,
          },
          domicilio: {
            provincia: this.domicilios.real.provincia.label,
            localidad: this.domicilios.real.ciudad.label,
            codigo_postal: this.domicilios.real.cp,
            calle: this.domicilios.real.calle,
            numero: this.domicilios.real.numero,
            piso: this.domicilios.real.oficina,
            sector: this.domicilios.real.sector,
            torre: this.domicilios.real.torre,
            manzana: this.domicilios.real.manzana,
          },
          actividades: actSeleccionadas,
          familiares: familiares, // familiares recibe un array de familiares con los atributos nombre, cuit y vinculo
        })
          .then((result) => {
            if (this.respuesta.success) {
              this.$router.push("/primerlogin/ingresosbrutos");
            } else {
              this.$q.notify({
                message:
                  "Hubo un error procesando su pedido. Es posible que su CUIT ya esté en uso, si el problema persiste contacte un Administrador",
                icon: "fas fa-times",
                color: "red",
              });
            }
          })
          .catch((err) => {
            this.$q.notify({
              message:
                "Hubo un error procesando su pedido. Es posible que su CUIT ya esté en uso, si el problema persiste contacte un Administrador",
              icon: "fas fa-times",
              color: "red",
            });
          });
      }
    },
  },
};
</script>
