<template>
  <div
    class="text-bold col-12 row justify-center q-pa-lg"
    style="max-width:1156px"
    :class="$q.screen.gt.sm ? 'text-h6' : 'text-subtitle2'"
  >
    <div class="col-xs-12 col-md-6 row texto-gris">
      Tus datos fueron guardados y en los proximos 4 días hábiles los vas a poder visualizar en freelo.
      <div
        class="col-12 row q-pt-sm"
      >Por favor no te vayas sin completar tus datos para Ingresos Brutos, clickea siguiente para comenzar a completarlos</div>
      <div class="col-12 row justify-end q-pt-lg">
        <q-btn to="/primerlogin/ingresosbrutos" color="secondary" label="Siguiente" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    mostrarIB() {
      this.$emit("mostrar-ib");
    }
  }
};
</script>