<template>
  <div class="row col-12 items-start justify-center c5B5B5F">
    <div class="col-12 row justify-center">
      <div
        class="text-bold q-pt-md col-xs-11 col-md-12"
        :class="$q.screen.gt.sm ? 'fuente-25 text-center c3A3B3F' : 'fuente-19'"
      >Es tu primera vez ingresando</div>
    </div>
    <q-card class="row col-xs-11 col-md-7 q-mt-md justify-center" flat style="border-radius: 11px">
      <div class="col-12 row justify-center q-pb-md">
        <div
          class="text-left c727176 q-py-xs col-xs-10 q-mt-md"
          :class="$q.screen.gt.sm ? 'fuente-21' : 'fuente-17'"
        >
          Para continuar debes elegir alguna
          <br />de las siguientes opciones
        </div>
      </div>
      <q-stepper
        class="col-xs-12 col-md-10"
        v-model="step"
        active-color="info"
        vertical
        color="primary"
        keep-alive
        animated
      >
        <q-step
          :name="1"
          title="Información personal"
          icon="contacts"
          :done="step1Done"
          @click="irPaso1()"
        >
          <q-form class="col-12 row q-gutter-y-md q-pt-md" @submit.prevent="validarPaso1()">
            <div class="col-12 row">
              <q-input
                class="col-xs-12 col-md-7"
                label="CUIT"
                filled
                v-model="preguntasBasicas.cuit"
                hide-bottom-space
                mask="##-########-#"
                lazy-rules
                unmasked-value
                :rules="[(val => (val && val.length > 0) || 'Este campo es obligatorio'), (val => (val && val.length === 11) || 'Ingrese un número de CUIT válido')]"
              />
            </div>
            <div class="col-12 row">
              <q-input
                class="col-xs-12 col-md-7"
                label="Número de whatsapp"
                filled
                v-model="preguntasBasicas.whatsapp"
                hide-bottom-space
                hint="Ej (54)11 6432-1056"
                mask="(##) ## ####-####"
                unmasked-value
                lazy-rules
                :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
              />
            </div>
            <div class="q-pt-md col-12 row justify-end">
              <q-btn type="submit" label="Siguiente" color="accent" no-caps unelevated />
            </div>
          </q-form>
        </q-step>

        <q-step
          :name="2"
          title="Monotributo"
          icon="account_balance"
          :done="step2Done"
          @click="irPaso2()"
        >
          <q-form @submit.prevent="validarPaso2()" class="col-12 row q-pt-md">
            <div class="col-12 row">
              <q-radio
                v-model="preguntasBasicas.monotributo"
                val="alta"
                label="Deseo darme de alta en Monotributo"
                :class="$q.screen.gt.sm ? 'fuente-21' : ''"
              />
            </div>
            <div class="col-12 row">
              <q-radio
                v-model="preguntasBasicas.monotributo"
                val="tengo"
                label="Ya tengo el alta en Monotributo "
                :class="$q.screen.gt.sm ? 'fuente-21' : ''"
              />
            </div>
            <div class="q-pt-lg col-12 row justify-end">
              <q-btn
                type="submit"
                :disable="preguntasBasicas.monotributo === ''"
                label="Siguiente"
                unelevated
                color="accent"
                no-caps
              />
            </div>
          </q-form>
        </q-step>

        <q-step :name="3" title="Ingresos Brutos" icon="account_balance_wallet" @click="irPaso3()">
          <div class="col-12 row q-pt-md">
            <div class="col-12">
              <q-radio
                v-model="preguntasBasicas.arba"
                val="alta"
                label="Deseo darme de alta en Ingresos Brutos"
                :class="$q.screen.gt.sm ? 'fuente-21' : ''"
              />
            </div>
            <div class="col-12">
              <q-radio
                v-model="preguntasBasicas.arba"
                val="tengo"
                label="Ya tengo el alta en Ingresos Brutos"
                :class="$q.screen.gt.sm ? 'fuente-21' : ''"
              />
            </div>
          </div>
        </q-step>
        <div class="col-12 justify-center row q-pt-md">
          <div class="col-11 row justify-end">
            <q-btn
              @click="formularioCompletado()"
              :disable="preguntasBasicas.arba === ''"
              label="Continuar"
              unelevated
              color="accent"
              no-caps
            />
          </div>
        </div>
      </q-stepper>
    </q-card>
  </div>
</template>


<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      cuit: 11,
      preguntasBasicas: {
        cuit: "",
        whatsapp: "",
        monotributo: "",
        arba: "",
      },
      step: 1,
      step1Done: false,
      step2Done: false,
      step3Done: false,
    };
  },
  methods: {
    ...mapActions("respuestas", ["setPreguntasBasicas"]),
    formularioCompletado() {
      this.setPreguntasBasicas(this.preguntasBasicas);
      this.$router.push("/primerlogin/monotributo");
    },
    validarPaso1() {
      this.step1Done = true;
      this.step = 2;
    },
    validarPaso2() {
      this.step2Done = true;
      this.step = 3;
    },
    irPaso1() {
      if (this.step1Done) {
        this.step = 1;
      }
    },
    irPaso2() {
      if (this.step1Done || this.step2Done) {
        this.step = 2;
      }
    },
    irPaso3() {
      if (this.step2Done) {
        this.step = 3;
      }
    },
  },
};
</script>

<style lang="scss">
.card-enter,
.card-leave-to {
  opacity: 0;
  transform: rotateY(90deg);
}
.card-enter-active,
.card-leave-active {
  transition: all 0.5s;
}
.q-form
  > div:nth-child(1)
  > label:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(1) {
  border-radius: 9px;
}
.q-form
  > div:nth-child(2)
  > label:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(1) {
  border-radius: 9px;
}
.q-stepper__title {
  font-size: 18px;
}
</style>
