<template>
  <div class="row col-12 items-start justify-center">
    <div class="col-12 row justify-center">
      <div
        class="text-bold q-pt-md col-xs-10 col-md-12 .c424242"
        :class="$q.screen.gt.sm ? 'fuente-25 text-center' : 'fuente-21 text-center'"
      >Monotributo</div>
    </div>
    <q-card class="row col-xs-11 col-md-8 q-mt-md justify-center" flat style="border-radius: 11px">
      <div class="col-12 row justify-center q-pb-md">
        <div
          class="text-left q-py-xs col-xs-10 q-mt-md c727176"
          :class="$q.screen.gt.sm ? 'fuente-21' : 'fuente-17'"
        >
          Necesitamos que nos proporciones algunos datos para
          <br />llevar al día tu Monotributo.
        </div>
      </div>
      <div class="col-12 row justify-center">
        <div class="col-xs-10 col-md-6 justify-start row"></div>
      </div>
      <q-stepper
        class="col-xs-12 col-md-10"
        active-color="info"
        v-model="step"
        vertical
        color="primary"
        animated
        keep-alive
      >
        <q-step
          :name="1"
          title="Clave Fiscal"
          icon="fas fa-key"
          :done="step1Done"
          @click="irPaso1()"
        >
          <q-form @submit.prevent="validarPaso1()" class="col-12 row q-pt-md justify-start">
            <q-input
              label="Clave Fiscal AFIP"
              class="col-xs-12 col-md-7"
              filled
              :dense="!$q.screen.gt.sm"
              v-model="claveFiscal"
              lazy-rules
              :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio' ]"
              hide-bottom-space
            >
              <q-tooltip
                content-class="bg-dark"
                transition-show="flip-right"
                transition-hide="flip-left"
                anchor="bottom middle"
                self="center middle"
              >Asegurate de que tu Clave es la correcta iniciando sesión en AFIP</q-tooltip>
            </q-input>
            <div class="col-12 row justify-center q-pt-md">
              <div class="col-12 row" :class="$q.screen.gt.sm ? 'justify-end' : 'justify-center'">
                <q-btn type="submit" label="Siguiente" color="accent" no-caps unelevated />
              </div>
            </div>
          </q-form>
        </q-step>

        <q-step
          :name="2"
          title="Declaración"
          icon="fas fa-file-signature"
          :done="step2Done"
          @click="irPaso2()"
        >
          <q-form @submit.prevent="validarPaso2()" class="col-12 row q-pt-md">
            <q-option-group
              :options="preguntasDeclaracion"
              label="Notifications"
              type="checkbox"
              v-model="declaracion"
              style="font-size:14px"
              class="c868589"
            />
          </q-form>
        </q-step>
        <div class="col-12 justify-center row q-pt-md">
          <div class="col-12 row justify-end q-pr-lg">
            <q-btn
              unelevated
              @click="irAIngresosBrutos()"
              :disable="declaracion.length < 5"
              label="Continuar"
              color="accent"
              no-caps
            />
          </div>
        </div>
      </q-stepper>
    </q-card>
  </div>
</template>


<script>
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      claveFiscal: "",
      declaracion: [],
      preguntasDeclaracion: [
        {
          label:
            "La actividad que realizo corresponde a prestación de servicios. No  realizo venta de productos.",
          value: 1,
        },
        {
          label: "Estoy inscripto en categoría H o menor del Monotributo.",
          value: 2,
        },
        { label: "No poseo local de atención al público.", value: 3 },
        { label: "No tengo ni tendré empleados a cargo.", value: 4 },
        { label: "No poseo convenio multilateral.", value: 5 },
      ],
      step: 1,
      step1Done: false,
      step2Done: false,
    };
  },
  computed: {
    ...mapState("respuestas", ["preguntasBasicas"]),
    ...mapState("usuario", ["respuesta"]),
  },
  methods: {
    ...mapActions("respuestas", ["setMonotributo"]),
    ...mapActions("usuario", ["RegistrarMonotributoActivo", "Logout"]),
    validarPaso1() {
      this.step1Done = true;
      this.step = 2;
    },
    validarPaso2() {
      this.step2Done = true;
      this.step = 3;
    },
    irAIngresosBrutos() {
      this.setMonotributo({
        tengoMonotributo: true,
        claveFiscal: this.claveFiscal,
      });
      this.RegistrarMonotributoActivo({
        cuit: this.preguntasBasicas.cuit,
        clave_afip: this.claveFiscal,
        telefono: this.preguntasBasicas.whatsapp,
      })
        .then((result) => {
          if (this.respuesta.success) {
            this.$router.push("/primerlogin/ingresosbrutos");
          }
        })
        .catch((err) => {
          this.$q.notify({
            message:
              "Hubo un error procesando su pedido. Es posible que su CUIT ya esté en uso, si el problema persiste contacte un Administrador",
            icon: "fas fa-times",
            color: "red",
          });
        });
    },
    irPaso1() {
      if (this.step1Done) {
        this.step = 1;
      }
    },
    irPaso2() {
      if (this.step1Done || this.step2Done) {
        this.step = 2;
      }
    },
  },
};
</script>

<style lang="scss">
.card-enter,
.card-leave-to {
  opacity: 0;
  transform: rotateY(90deg);
}
.card-enter-active,
.card-leave-active {
  transition: all 0.5s;
}
.q-field__control {
  border-radius: 9px !important;
}
</style>
