<template>
  <q-markup-table flat class="full-width" separator="cell">
    <thead>
      <tr>
        <th class="text-center" style="font-size:18px; font-weight: bold">Código</th>
        <th class="text-center" style="font-size:18px; font-weight: bold">Nombre</th>
        <th class="text-center" style="font-size:18px; font-weight: bold">Principal/Secundaria</th>
        <th class="text-center" style="font-size:18px; font-weight: bold" v-if="!agip">Fecha Inicio</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(actividad, index) in actividades" :key="index" class="cursor-pointer">
        <td class="text-center" style="font-size:16px">{{actividad.codigo}}</td>
        <td class="text-center" style="font-size:16px">{{actividad.nombre}}</td>
        <td class="text-center" style="font-size:16px">{{actividad.primaria}}</td>
        <td
          class="text-center"
          style="font-size:16px"
          v-if="!agip"
        >{{actividad.fecha_inicio.slice(5,7) + "-" + actividad.fecha_inicio.slice(0,4) }}</td>
      </tr>
    </tbody>
  </q-markup-table>
</template>

<script>
export default {
  props: ["actividades", "agip"],
};
</script>

<style>
</style>
