<template>
  <q-card class="q-pa-md" style="width: 600px">
    <div
      class="col-12 row fuente-17 text-center justify-center text-bold"
    >Cambio de Régimen/Jurisdicción</div>
    <div
      class="col-12 row fuente-17 text-center justify-center text-bold q-pt-md"
    >Elija el régimen/jurisdicción al que desea cambiar</div>
    <div class="col-12 q-py-md row justify-center">
      <q-radio v-model="destino" val="arba" label="ARBA" />
      <q-radio v-model="destino" val="general" label="AGIP General" />
      <q-radio v-model="destino" val="simplificado" label="AGIP Simplificado" />
    </div>
    <q-form
      class="row col-12 q-gutter-md justify-center q-pa-md"
      @submit.prevent="confirmarCambio()"
    >
      <q-input
        v-model="claveFiscal"
        class="col-12"
        filled
        dense
        label="Clave Fiscal Ingresos Brutos"
      />
      <q-input
        v-model="limiteAnual"
        class="col-12"
        filled
        dense
        label="Límite Facturación Anual"
        v-if="destino === 'simplificado'"
      />
      <q-select
        v-model="categoria"
        class="col-12"
        filled
        :options="categorias"
        dense
        label="Categoría"
        v-if="destino === 'simplificado'"
      />
      <div class="row col-12 justify-center q-gutter-x-md q-pt-md">
        <q-btn label="Guardar" type="submit" unelevated color="green" />
        <q-btn label="Cancelar" unelevated color="red" v-close-popup />
      </div>
    </q-form>
  </q-card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      claveFiscal: "",
      comprobante: "",
      limiteAnual: "",
      fechaVto: "",
      categoria: "",
      pagada: false,
      pk: null,
      destino: "",
      categorias: [
        { label: "Categoría A", value: "A" },
        { label: "Categoría B", value: "B" },
        { label: "Categoría C", value: "C" },
        { label: "Categoría D", value: "D" },
        { label: "Categoría E", value: "E" },
        { label: "Categoría F", value: "F" },
        { label: "Categoría G", value: "G" },
        { label: "Categoría H", value: "H" },
      ],
    };
  },
  computed: {
    ...mapGetters("admin", ["respuestaEdicion"]),
  },
  methods: {
    ...mapActions("admin", ["CambiarRegimen"]),
    confirmarCambio() {
      this.CambiarRegimen({
        clave_fiscal: this.claveFiscal,
        limite_facturacion: this.limiteAnual,
        categoria: this.categoria.value || "",
        regimen_simplificado: this.destino === "simplificado" ? true : false,
        organismo_recaudacion: this.destino === "arba" ? "arba" : "agip",
        pk: this.$route.params.pk,
      })
        .then((result) => {
          this.$q.notify({
            message:
              this.respuestaEdicion.response +
              (this.respuestaEdicion.success
                ? " Se recargará la página para que los cambios surtan efecto"
                : ""),
            icon: this.respuestaEdicion.success ? "check" : "fas fa-times",
            color: this.respuestaEdicion.success ? "positive" : "red",
          });
          if (this.respuestaEdicion.success) {
            setTimeout(() => {
              location.reload();
            }, 2500);
          }
        })
        .catch((err) => {
          this.$q.notify({
            message: "Ocurrió un error realizando el cambio.",
            icon: "fas fa-times",
            color: "red",
          });
        });
    },
  },
};
</script>

<style>
</style>
