<template>
  <q-card style="width:300px">
    <q-card-section
      class="q-pt-md text-bold fuente-17 text-center"
    >{{persona ? 'Está seguro que desea eliminar el usuario' : 'Está seguro que desea eliminar la factura?'}}</q-card-section>
    <q-card-actions align="center" class="q-pb-md">
      <q-btn
        unelevated
        label="Eliminar"
        class="text-white"
        color="red-9"
        @click="eliminarFactura(factura)"
        v-close-popup
        no-caps
      />
      <q-btn unelevated label="Cancelar" color="green" v-close-popup no-caps />
    </q-card-actions>
  </q-card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  props: ["factura", "monotributo", "ingresosBrutos", "freelo", "persona"],
  computed: {
    ...mapGetters("admin", [
      "agenteRegimen",
      "facturasIngresosBrutos",
      "respuestaEdicion",
    ]),
  },
  methods: {
    ...mapActions("admin", [
      "EliminarFacturaMonotributo",
      "EliminarFacturaIibb",
      "EliminarFacturaFreelo",
      "EliminarUsuario",
    ]),
    eliminarFactura(factura) {
      if (this.monotributo) {
        this.EliminarFacturaMonotributo(factura.pk).then((result) => {
          this.$q.notify({
            message: this.respuestaEdicion.response,
            icon: this.respuestaEdicion.success ? "check" : "fas fa-times",
            color: this.respuestaEdicion.success ? "positive" : "red",
          });
        });
      } else if (this.ingresosBrutos) {
        this.EliminarFacturaIibb(factura.pk).then((result) => {
          this.$q.notify({
            message: this.respuestaEdicion.response,
            icon: this.respuestaEdicion.success ? "check" : "fas fa-times",
            color: this.respuestaEdicion.success ? "positive" : "red",
          });
        });
      } else if (this.freelo) {
        this.EliminarFacturaFreelo(factura.pk).then((result) => {
          this.$q.notify({
            message: this.respuestaEdicion.response,
            icon: this.respuestaEdicion.success ? "check" : "fas fa-times",
            color: this.respuestaEdicion.success ? "positive" : "red",
          });
        });
      } else if (this.persona) {
        this.EliminarUsuario(factura).then((result) => {
          this.$q.notify({
            message: this.respuestaEdicion.success
              ? "Usuario Eliminado. Se actualizará la página para que los cambios surtan efecto"
              : "Ocurrió un error.",
            icon: this.respuestaEdicion.success ? "check" : "fas fa-times",
            color: this.respuestaEdicion.success ? "positive" : "red",
          });
          setTimeout(() => {
            location.reload();
          }, 2000);
        });
      }
    },
  },
};
</script>

<style>
</style>
