<template>
  <q-card flat class="col-12 row q-pa-md">
    <div class="q-pl-md q-pb-md fuente-17 text-bold row col-12">
      {{agenteRegimen}}
      <q-space />
      <q-btn
        unelevated
        color="info"
        label="Cambiar Régimen/Jurisdicción"
        @click="mostrarCambio = true"
      />
    </div>
    <q-form class="col-12 row q-gutter-y-md items-start" @submit.prevent="guardarEdicion()">
      <q-input
        :disable="!editable"
        dense
        filled
        class="col-4 q-pl-md"
        label="Clave fiscal Ingresos Brutos"
        v-model="claveIibb"
      />
      <q-select
        :disable="!editable"
        filled
        dense
        v-model="categoria"
        class="col-3 q-pl-md"
        label="Categoría"
        :options="categorias"
        v-if="datos.regimen_simplificado"
      />
      <q-input
        :disable="!editable"
        filled
        dense
        class="col-3 q-pl-md"
        label="Límite Facturación Anual"
        :rules="[val => (val > 0) || 'Este campo es obligatorio']"
        lazy-rules
        v-model="limiteFacturacion"
        v-if="datos.regimen_simplificado"
      />
      <q-input
        dense
        filled
        disable
        v-model="facturacionAcumulada"
        class="col-4 q-pl-md"
        label="Facturación Acumulada"
        v-if="datos.regimen_simplificado"
      />
      <q-checkbox
        :disable="!editable"
        dense
        v-model="claveDesactualizada"
        class="col-4 q-pl-md"
        label="Clave fiscal Ingresos Brutos Desactualizada"
      />
      <div class="row col-12 justify-center q-gutter-x-xs">
        <q-btn
          unelevated
          label="Editar"
          color="orange"
          type="a"
          v-if="!editable"
          @click="editable = true"
        />
        <q-btn unelevated label="Guardar" color="green" type="submit" v-else />
        <q-btn
          label="Cancelar"
          unelevated
          color="red"
          v-if="editable"
          @click="cargarDatos(); editable = false"
        />
      </div>
    </q-form>
    <div class="row col-12 fuente-17 q-pl-md">Facturas Ingresos Brutos</div>
    <div class="row col-12 q-pl-md q-pb-md justify-center q-gutter-x-sm">
      <q-btn
        label="Ver Historial de Facturas"
        unelevated
        color="primary"
        @click="mostrarHistorial = true"
        v-if="!mostrarHistorial"
      />
      <q-btn
        label="Ocultar Historial de Facturas"
        unelevated
        color="primary"
        @click="mostrarHistorial = false"
        v-else
      />
      <q-btn label="Agregar Factura" unelevated color="accent" @click="mostrarDialogo = true" />
    </div>
    <div class="row col-12 q-pl-md" v-if="mostrarHistorial">
      <facturas :facturas="facturasIngresosBrutos" :ingresosBrutos="true" />
    </div>
    <q-form class="col-12 row q-gutter-y-md"></q-form>
    <q-dialog v-model="mostrarDialogo" full-width persistent>
      <factura :agregar="true" :ingresosBrutos="true" @cerrar="mostrarDialogo = false" />
    </q-dialog>
    <q-dialog v-model="mostrarCambio" persistent>
      <cambio-regimen />
    </q-dialog>
  </q-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Facturas from "./Facturas.vue";
import Factura from "./Factura.vue";
import CambioRegimen from "./CambioRegimen.vue";

export default {
  props: ["datos"],
  components: {
    Facturas,
    Factura,
    CambioRegimen,
  },
  data() {
    return {
      mostrarHistorial: false,
      mostrarCambio: false,
      mostrarDialogo: false,
      editable: false,
      claveIibb: "",
      categoria: "",
      limiteFacturacion: "",
      // facturacionAcumulada: "",
      claveDesactualizada: false,
      categorias: [
        { label: "Categoría A", value: "A" },
        { label: "Categoría B", value: "B" },
        { label: "Categoría C", value: "C" },
        { label: "Categoría D", value: "D" },
        { label: "Categoría E", value: "E" },
        { label: "Categoría F", value: "F" },
        { label: "Categoría G", value: "G" },
        { label: "Categoría H", value: "H" },
      ],
    };
  },
  computed: {
    ...mapGetters("admin", [
      "agenteRegimen",
      "facturasIngresosBrutos",
      "respuestaEdicion",
      "facturacionAcumulada",
    ]),
  },
  methods: {
    ...mapActions("admin", ["EditarDatosIngresosBrutos"]),
    cargarDatos() {
      this.claveIibb = this.datos.datos.clave;
      this.categoria = this.datos.datos.categoria;
      this.claveDesactualizada = this.datos.datos.clave_desactualizada;
      this.limiteFacturacion = this.datos.datos.limite_facturacion;
    },
    guardarEdicion() {
      if (this.agenteRegimen === "ARBA") {
        this.EditarDatosIngresosBrutos({
          pk: this.$route.params.pk,
          edicion: {
            es_no_apto: false,
            organismo_recaudacion: {
              entidad: "arba",
              datos: {
                clave: this.claveIibb,
                clave_desactualizada: this.claveDesactualizada,
              },
            },
          },
        })
          .then((result) => {
            this.editable = false;
            this.$q.notify({
              message: this.respuestaEdicion.success
                ? "Edición exitosa"
                : "Ocurrió un error",
              icon: this.respuestaEdicion.success ? "check" : "fas fa-times",
              color: this.respuestaEdicion.success ? "positive" : "red",
            });
          })
          .catch((err) => {
            this.$q.notify({
              message: "Ocurrió un error actualizando los datos.",
              icon: "fas fa-times",
              color: "red",
            });
          });
      } else {
        console.log("editar iibb");
        this.EditarDatosIngresosBrutos({
          pk: this.$route.params.pk,
          edicion: {
            es_no_apto: false,
            organismo_recaudacion: {
              entidad: "agip",
              datos: {
                clave: this.claveIibb,
                clave_desactualizada: this.claveDesactualizada,
                categoria: this.categoria.value
                  ? this.categoria.value
                  : this.categoria,
                limite_facturacion: this.limiteFacturacion,
              },
            },
          },
        })
          .then((result) => {
            this.editable = false;
            this.$q.notify({
              message: this.respuestaEdicion.success
                ? "Edición exitosa"
                : "Ocurrió un error",
              icon: this.respuestaEdicion.success ? "check" : "fas fa-times",
              color: this.respuestaEdicion.success ? "positive" : "red",
            });
          })
          .catch((err) => {
            this.$q.notify({
              message: "Ocurrió un error actualizando los datos.",
              icon: "fas fa-times",
              color: "red",
            });
          });
      }
    },
  },

  watch: {
    datos() {
      this.cargarDatos();
    },
  },
};
</script>

<style>
</style>
