<template>
  <q-card flat class="col-12 row q-pa-md justify-start" style="border-radius: 9px">
    <q-form class="row q-gutter-y-md items-start" @submit.prevent="guardarEdicion()">
      <div class="text-bold col-12 row fuente-21">
        Datos Personales
        <q-space />
        <span class="fuente-17">Fecha de ingreso: &nbsp;</span>
        <span class="text-bold text-grey-9 fuente-17">{{fecha}}</span>
      </div>
      <div class="col-12 row">
        <div class="col-xs-12 col-md-4 q-pl-md fuente-17 text-bold">Régimen: {{agenteRegimen}}</div>
        <div
          class="col-xs-12 col-md-6 q-pl-md fuente-17 text-bold"
        >Jurisdicción: {{jurisdiccionProvincia}}</div>
      </div>
      <q-input
        filled
        dense
        class="col-4 q-pl-md"
        label="Nombre"
        v-model="nombre"
        hide-bottom-space
        :disable="!editable"
        :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
        lazy-rules
      />
      <q-input
        filled
        dense
        class="col-4 q-pl-md"
        label="Apellido"
        v-model="apellido"
        hide-bottom-space
        :disable="!editable"
        :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
        lazy-rules
      />
      <q-input
        filled
        dense
        class="col-4 q-pl-md"
        label="CUIT"
        mask="##-########-#"
        v-model="cuit"
        hide-bottom-space
        unmasked-value
        :disable="!editable"
        :rules="[(val => (val && val.length > 0) || 'Este campo es obligatorio'), (val => (val && val.length === 11) || 'Ingrese un número de CUIT válido')]"
        lazy-rules
      />
      <q-input
        filled
        dense
        class="col-4 q-pl-md"
        label="Telefono"
        mask="(##) ### ###-####"
        hide-bottom-space
        v-model="telefono"
        :disable="!editable"
        lazy-rules
        unmasked-value
        :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
      />
      <q-input
        filled
        dense
        class="col-4 q-pl-md"
        label="Email"
        hide-bottom-space
        v-model="email"
        disable
        :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
        lazy-rules
      />
      <q-checkbox
        class="col-4 q-pl-md"
        label="Notificaciones email"
        v-model="notificaciones"
        :disable="!editable"
      />
      <div class="row col-12 justify-center q-gutter-x-xs">
        <q-btn
          label="Editar"
          unelevated
          color="orange"
          v-if="!editable"
          @click="formEditable()"
          type="a"
        />
        <q-btn label="Guardar" type="submit" unelevated color="green" v-else />
        <q-btn
          label="Cancelar"
          unelevated
          color="red"
          v-if="editable"
          @click="cargarDatos(); editable = false"
        />
      </div>
    </q-form>
    <div class="row col-12 q-pl-md fuente-17 text-bold q-pt-md">Domicilios</div>
    <div class="row col-12 q-pl-md fuente-17 text-bold justify-center q-gutter-x-sm">
      <q-btn
        :label="mostrarDomicilio ? 'Ocultar Domicilio Monotributo' : 'Mostrar Domicilio Monotributo'"
        dense
        no-caps
        unelevated
        color="grey"
        @click="mostrarDomicilio = !mostrarDomicilio"
      />
      <q-btn
        :label="mostrarDomicilioAgip ? 'Ocultar Domicilio AGIP' : 'Mostrar Domicilio AGIP'"
        dense
        no-caps
        v-if="agenteRegimen !== 'ARBA'"
        unelevated
        color="grey"
        @click="mostrarDomicilioAgip = !mostrarDomicilioAgip"
      />
      <q-btn
        :label="mostrarDomicilioArba ? 'Ocultar Domicilio ARBA' : 'Mostrar Domicilio ARBA'"
        dense
        no-caps
        v-else
        unelevated
        color="grey"
        @click="mostrarDomicilioArba = !mostrarDomicilioArba"
      />
    </div>
    <domicilio
      class="q-pt-md"
      :domicilio="datos.direccion.domicilio_general"
      v-if="mostrarDomicilio"
    />
    <domicilio-agip
      class="q-pt-md"
      :domicilio="datos.direccion.domicilio_agip"
      v-if="mostrarDomicilioAgip"
    />
    <domicilio-arba
      class="q-pt-md"
      :domicilio="datos.direccion.domicilio_arba"
      v-if="mostrarDomicilioArba"
    />
  </q-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Domicilio from "./Domicilio.vue";
import DomicilioAgip from "./DomicilioAgip.vue";
import DomicilioArba from "./DomicilioArba.vue";

export default {
  props: ["datos", "fecha"],
  components: {
    Domicilio,
    DomicilioAgip,
    DomicilioArba,
  },
  data() {
    return {
      nombre: "",
      apellido: "",
      cuit: "",
      direccion: "",
      telefono: "",
      email: "",
      regimen: "",
      jurisdiccion: "",
      notificaciones: false,
      editable: false,
      mostrarDomicilio: false,
      mostrarDomicilioAgip: false,
      mostrarDomicilioArba: false,
    };
  },
  computed: {
    ...mapGetters("admin", [
      "agenteRegimen",
      "jurisdiccionProvincia",
      "agenteRegimen",
      "respuestaEdicion",
    ]),
  },
  methods: {
    ...mapActions("admin", ["EditarDatosPersonales"]),
    formEditable() {
      this.editable = true;
    },
    cargarDatos() {
      this.nombre = this.datos.nombre;
      this.apellido = this.datos.apellido;
      this.cuit = this.datos.cuit;
      this.telefono = this.datos.telefono;
      this.email = this.datos.email;
      this.jurisdiccion = this.datos.jurisdiccion;
      this.notificaciones = this.datos.notificaciones_mail;
    },
    guardarEdicion() {
      // console.log("edicion", this.$route.params.pk);
      this.EditarDatosPersonales({
        pk: this.$route.params.pk,
        edicion: {
          es_no_apto: false,
          datos_personales: {
            nombre: this.nombre,
            apellido: this.apellido,
            cuit: this.cuit,
            fecha_registro: this.datos.fecha_registro,
            telefono: this.telefono,
            email: this.email,
            notificaciones_mail: this.notificaciones,
            domicilio_fiscal: this.email,
          },
        },
      })
        .then((result) => {
          this.editable = false;
          this.$q.notify({
            message: this.respuestaEdicion.success
              ? "Edicion exitosa"
              : "Ocurrió un error.",
            icon: this.respuestaEdicion.success ? "check" : "fas fa-times",
            color: this.respuestaEdicion.success ? "positive" : "red",
          });
        })
        .catch((err) => {
          this.$q.notify({
            message: "Ocurrió un error actualizando los datos.",
            icon: "fas fa-times",
            color: "red",
          });
        });
    },
  },
  mounted() {
    this.cargarDatos();
  },
  watch: {
    datos() {
      this.cargarDatos();
    },
  },
};
</script>

<style>
</style>
