<template>
  <q-card flat class="col-12 row q-pa-md">
    <q-form class="row col-12" @submit.prevent="guardarEdicion()">
      <q-checkbox
        :disable="!editable"
        dense
        v-model="gestionFreeloActiva"
        class="col-4 q-pl-md"
        label="Gestión Freelo Activa"
      />
      <div class="row col-12 justify-center q-gutter-x-xs">
        <q-btn
          unelevated
          label="Editar"
          color="orange"
          type="a"
          v-if="!editable"
          @click="editable = true"
        />
        <q-btn unelevated label="Guardar" color="green" type="submit" v-else />
        <q-btn
          label="Cancelar"
          unelevated
          color="red"
          v-if="editable"
          @click="cargarDatos(); editable = false"
        />
      </div>
    </q-form>
    <div class="row col-12 fuente-17 q-pl-md q-pt-md">Facturas Freelo</div>
    <div class="row col-12 q-pl-md justify-center q-pb-md q-gutter-x-sm">
      <q-btn
        label="Ver Historial de Facturas"
        unelevated
        color="primary"
        @click="mostrarHistorial = true"
        v-if="!mostrarHistorial"
      />
      <q-btn
        label="Ocultar Historial de Facturas"
        unelevated
        color="primary"
        @click="mostrarHistorial = false"
        v-else
      />
      <q-btn label="Agregar Factura" unelevated color="accent" @click="mostrarDialogo = true" />
    </div>
    <div class="row col-12 q-pl-md" v-if="mostrarHistorial">
      <facturas-freelo :facturas="facturasFreelo" />
    </div>
    <q-form class="col-12 row q-gutter-y-md"></q-form>
    <q-dialog v-model="mostrarDialogo" full-width persistent>
      <factura-freelo :agregar="true" @cerrar="mostrarDialogo = false" />
    </q-dialog>
  </q-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import FacturasFreelo from "./FacturasFreelo.vue";
import FacturaFreelo from "./FacturaFreelo.vue";

export default {
  props: ["datos"],
  components: {
    FacturasFreelo,
    FacturaFreelo,
  },
  data() {
    return {
      editable: false,
      gestionFreeloActiva: true,
      mostrarHistorial: false,
      mostrarDialogo: false,
    };
  },
  computed: {
    ...mapGetters("admin", ["facturasFreelo", "respuestaEdicion"]),
  },
  methods: {
    ...mapActions("admin", ["EditarDatosFreelo"]),
    cargarDatos() {
      this.gestionFreeloActiva = this.datos.gestion_activa;
    },
    guardarEdicion() {
      this.EditarDatosFreelo({
        pk: this.$route.params.pk,
        edicion: {
          es_no_apto: false,
          datos_freelo: {
            gestion_activa: this.gestionFreeloActiva,
          },
        },
      })
        .then((result) => {
          this.editable = false;
          this.$q.notify({
            message: this.respuestaEdicion.success
              ? "Edicion exitosa"
              : "Ocurrió un error.",
            icon: this.respuestaEdicion.success ? "check" : "fas fa-times",
            color: this.respuestaEdicion.success ? "positive" : "red",
          });
        })
        .catch((err) => {
          this.$q.notify({
            message: "Ocurrió un error actualizando los datos.",
            icon: "fas fa-times",
            color: "red",
          });
        });
    },
  },
  mounted() {
    this.cargarDatos();
  },
  watch: {
    datos() {
      this.cargarDatos();
    },
  },
};
</script>

<style>
</style>
