<template>
  <q-card flat class="col-12 row q-pa-md justify-start q-gutter-y-md">
    <q-form class="col-12 row q-gutter-y-md items-start" @submit.prevent="guardarEdicion()">
      <q-input
        :disable="!editable"
        dense
        filled
        v-model="claveFiscal"
        class="col-4 q-pl-md"
        label="Clave fiscal AFIP"
        :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
        lazy-rules
      />
      <q-select
        :disable="!editable"
        dense
        filled
        :options="categorias"
        v-model="categoria"
        class="col-3 q-pl-md"
        label="Categoría"
        :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
        lazy-rules
      />
      <q-input
        dense
        filled
        disable
        v-model="facturacionAcumulada"
        class="col-4 q-pl-md"
        label="Facturación Acumulada"
      />
      <q-input
        dense
        filled
        :disable="!editable"
        v-model="limiteFacturacion"
        class="col-3 q-pl-md"
        label="Límite Facturación Anual"
        :rules="[val => (val > 0) || 'Este campo es obligatorio']"
        lazy-rules
      />
      <q-checkbox
        dense
        v-model="claveFiscalDesactualizada"
        :disable="!editable"
        class="col-4 q-pl-md"
        label="Clave fiscal AFIP Desactualizada"
      />
      <div class="row col-12 justify-center q-gutter-x-xs">
        <q-btn
          unelevated
          label="Editar"
          color="orange"
          type="a"
          v-if="!editable"
          @click="editable = true"
        />
        <q-btn unelevated label="Guardar" color="green" type="submit" v-else />
        <q-btn
          label="Cancelar"
          unelevated
          color="red"
          v-if="editable"
          @click="cargarDatos(); editable = false"
        />
      </div>
    </q-form>
    <div class="row col-12 fuente-17 q-pl-md">Facturas Monotributo</div>
    <div class="row col-12 q-pl-md justify-center q-gutter-x-sm">
      <q-btn
        label="Ver Historial de Facturas"
        unelevated
        color="primary"
        @click="mostrarHistorial = true"
        v-if="!mostrarHistorial"
      />
      <q-btn
        label="Ocultar Historial de Facturas"
        unelevated
        color="primary"
        @click="mostrarHistorial = false"
        v-else
      />
      <q-btn label="Agregar Factura" unelevated color="accent" @click="mostrarDialogo = true" />
    </div>
    <div class="row col-12 q-pl-md" v-if="mostrarHistorial">
      <facturas :facturas="facturasMonotributo" :monotributo="true" />
    </div>
    <q-form class="col-12 row q-gutter-y-md"></q-form>
    <q-dialog v-model="mostrarDialogo" full-width persistent>
      <factura :agregar="true" :monotributo="true" @cerrar="mostrarDialogo = false" />
    </q-dialog>
  </q-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Facturas from "./Facturas.vue";
import Factura from "./Factura.vue";

export default {
  props: ["datos"],
  components: {
    Facturas,
    Factura,
  },
  data() {
    return {
      editable: false,
      cuit: "",
      claveFiscal: "",
      categoria: "",
      // facturacionAcumulada: "",
      limiteFacturacion: "",
      claveFiscalDesactualizada: false,
      mostrarHistorial: false,
      mostrarDialogo: false,
      categorias: [
        "Categoría A",
        "Categoría B",
        "Categoría C",
        "Categoría D",
        "Categoría E",
        "Categoría F",
        "Categoría G",
        "Categoría H",
      ],
    };
  },
  computed: {
    ...mapGetters("admin", [
      "facturasMonotributo",
      "respuestaEdicion",
      "facturacionAcumulada",
    ]),
  },
  methods: {
    ...mapActions("admin", ["EditarDatosMonotributo"]),
    cargarDatos() {
      this.claveFiscal = this.datos.clave;
      this.categoria = this.datos.categoria;
      this.limiteFacturacion = this.datos.limite_facturacion;
      this.claveFiscalDesactualizada = this.datos.clave_desactualizada;
      this.cuit = this.datos.cuit;
    },
    guardarEdicion() {
      // console.log("edicion", this.$route.params.pk);
      this.EditarDatosMonotributo({
        pk: this.$route.params.pk,
        edicion: {
          es_no_apto: false,
          datos_monotributo: {
            clave: this.claveFiscal,
            categoria: this.categoria,
            limite_facturacion: this.limiteFacturacion,
            clave_desactualizada: this.claveFiscalDesactualizada,
          },
        },
      })
        .then((result) => {
          this.editable = false;
          this.$q.notify({
            message: this.respuestaEdicion.success
              ? "Edición exitosa"
              : "Ocurrió un error",
            icon: this.respuestaEdicion.success ? "check" : "fas fa-times",
            color: this.respuestaEdicion.success ? "positive" : "red",
          });
        })
        .catch((err) => {
          this.$q.notify({
            message: "Ocurrió un error actualizando los datos.",
            icon: "fas fa-times",
            color: "red",
          });
        });
    },
  },
  mounted() {
    this.cargarDatos();
    // console.log(this.cuitProp);
  },
  watch: {
    datos: {
      deep: true,
      handler() {
        this.cargarDatos();
      },
    },
  },
};
</script>

<style>
</style>
