<template>
  <q-form @submit.prevent="guardarEdicion()" class="col-12 row q-gutter-y-md">
    <div class="row col-12 q-pl-md fuente-17">Domicilio ARBA</div>
    <div class="col-12 row q-pl-lg">
      <div class="col-12 row q-gutter-x-md items-start q-mb-sm">
        <q-select
          class="col-xs-12 col-md-4"
          label="Provincia"
          dense
          :disable="!editable"
          hide-bottom-space
          @input="obtenerLocalidades(domicilios.fiscal.provincia)"
          v-model="domicilios.fiscal.provincia"
          :options="opcionesProvincias"
          filled
          lazy-rules
          :rules="[val => !!val || 'Este campo es obligatorio']"
        />
        <q-select
          class="col-xs-12 col-md-4"
          label="Localidad"
          dense
          :disable="!editable"
          hide-bottom-space
          :options="opcionesLocalidades"
          v-model="domicilios.fiscal.ciudad"
          filled
          lazy-rules
          :rules="[val => !!val || 'Este campo es obligatorio']"
        />
        <q-select
          :class="$q.screen.gt.sm ? 'col' : 'col-xs-12'"
          label="Partido"
          dense
          :disable="!editable"
          hide-bottom-space
          v-model="domicilios.fiscal.partido"
          :options="opcionesPartidos"
          filled
          lazy-rules
          :rules="[val => !!val || 'Este campo es obligatorio']"
        />
      </div>
      <div
        class="col-12 row q-gutter-x-md q-mb-sm items-start"
        :class="$q.screen.gt.sm ? 'q-pt-sm' : ''"
      >
        <div
          class="row col-xs-12 col-md-4 justify-between items-start"
          :class="$q.screen.gt.sm ? '' : 'q-gutter-y-md'"
        >
          <q-input
            class="col-xs-12 col-md-2"
            label="Ruta"
            dense
            :disable="!editable"
            v-model="domicilios.fiscal.ruta"
            filled
            :style="$q.screen.gt.sm ? 'width: 60%' : ''"
          />
          <q-input
            class="col-xs-12 col-md-1"
            label="Km"
            :disable="!editable"
            mask="######"
            dense
            v-model="domicilios.fiscal.km"
            filled
            :style="$q.screen.gt.sm ? 'width: 35%' : ''"
          />
        </div>
        <q-input
          :class="$q.screen.gt.sm ? '' : 'q-mt-md'"
          class="col-xs-12 col-md-4"
          label="Código Postal"
          dense
          :disable="!editable"
          hide-bottom-space
          v-model="domicilios.fiscal.cp"
          mask="####"
          filled
          lazy-rules
          :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
        />
      </div>
      <div class="col-12 row q-gutter-x-md items-start" :class="$q.screen.gt.sm ? 'q-pt-sm' : ''">
        <q-input
          class="col-xs-12 col-md-4"
          label="Calle"
          dense
          :disable="!editable"
          v-model="domicilios.fiscal.calle"
          filled
          hide-bottom-space
          lazy-rules
          :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
        />
        <div class="row col-xs-12 col-md-5 items-start justify-start q-mb-sm">
          <q-input
            class="col-xs-12 col-md-6 q-mr-sm"
            label="Número"
            dense
            mask="######"
            :disable="!editable"
            v-model="domicilios.fiscal.numero"
            filled
            hide-bottom-space
            :class="$q.screen.gt.sm ? '' : 'q-mb-sm'"
            lazy-rules
            :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
          />
          <q-input
            class="col-xs-12 col-md-5"
            label="Piso"
            :disable="!editable"
            dense
            filled
            v-model="domicilios.fiscal.piso"
          />
        </div>
      </div>
      <div class="col-12 row q-pt-sm" :class="$q.screen.gt.sm ? '' : 'q-gutter-y-md'">
        <q-input
          class="col-xs-12 col-md-4 q-mr-xs"
          label="Oficina, Dto o local"
          :disable="!editable"
          dense
          filled
          v-model="domicilios.fiscal.oficina"
        />
        <div class="col-xs-12 col-md-5 row items-start q-ml-sm justify-start">
          <q-input
            class="col-xs-12 col-md-6 q-mr-sm q-ml-xs"
            label="Sector"
            dense
            filled
            :disable="!editable"
            v-model="domicilios.fiscal.sector"
          />
          <q-input
            :class="$q.screen.gt.sm ? '' : 'q-mt-md'"
            class="col-xs-12 col-md-5"
            label="Torre"
            dense
            :disable="!editable"
            filled
            v-model="domicilios.fiscal.torre"
          />
        </div>
        <div class="col row" :class="$q.screen.gt.sm ? 'q-ml-xs' : 'q-ml-xs col-12'">
          <q-input
            class="col-xs-12 col-md-12"
            label="Manzana"
            dense
            :disable="!editable"
            filled
            v-model="domicilios.fiscal.manzana"
          />
        </div>
      </div>
    </div>
    <div class="row col-12 justify-center q-gutter-x-xs">
      <q-btn
        label="Editar"
        unelevated
        color="orange"
        type="a"
        v-if="!editable"
        @click="editable = true"
      />
      <q-btn label="Guardar" unelevated color="green" type="submit" v-else />
      <q-btn
        label="Cancelar"
        unelevated
        color="red"
        v-if="editable"
        @click="cargarDatos(); editable = false"
      />
    </div>
  </q-form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  props: ["domicilio"],
  data() {
    return {
      editable: false,
      domicilios: {
        fiscal: {
          provincia: "",
          cp: "",
          ciudad: "",
          partido: "",
          ruta: "",
          km: "",
          calle: "",
          numero: "",
          piso: "",
          oficina: "",
          sector: "",
          torre: "",
          manzana: "",
        },
      },
    };
  },
  computed: {
    ...mapGetters("opciones", [
      "opcionesProvincias",
      "provinciasExito",
      "provinciasError",
      "provinciasPendiente",
      "opcionesLocalidades",
      "localidadesExito",
      "localidadesError",
      "localidadesPendiente",
      "opcionesPartidos",
      "partidosExito",
      "partidosError",
      "partidosPendiente",
    ]),
    ...mapGetters("admin", ["respuestaEdicion"]),
  },
  methods: {
    ...mapActions("opciones", [
      "GetProvincias",
      "GetLocalidadesPorProvincia",
      "GetPartidosPorProvincia",
    ]),
    ...mapActions("admin", ["EditarDomicilioArba"]),
    obtenerLocalidades(provincia) {
      this.ciudad = "";
      this.GetLocalidadesPorProvincia({ provincia: provincia.label });
      this.GetPartidosPorProvincia({ provincia: provincia.label });
    },
    cargarDatos() {
      this.domicilios.fiscal.provincia = this.domicilio.provincia;
      this.domicilios.fiscal.ciudad = this.domicilio.localidad;
      this.domicilios.fiscal.cp = this.domicilio.codigo_postal;
      this.domicilios.fiscal.calle = this.domicilio.calle;
      this.domicilios.fiscal.numero = this.domicilio.numero;
      this.domicilios.fiscal.ruta = this.domicilio.ruta;
      this.domicilios.fiscal.km = this.domicilio.km;
      this.domicilios.fiscal.partido = this.domicilio.partido;
      this.domicilios.fiscal.piso = this.domicilio.piso;
      this.domicilios.fiscal.oficina = this.domicilio.oficina;
      this.domicilios.fiscal.sector = this.domicilio.sector;
      this.domicilios.fiscal.torre = this.domicilio.torre;
      this.domicilios.fiscal.manzana = this.domicilio.manzana;
    },
    guardarEdicion() {
      this.EditarDomicilioArba({
        pk: this.$route.params.pk,
        edicion: {
          es_no_apto: false,
          datos_personales: {
            domicilio: {
              domicilio_arba: {
                pk: this.domicilio.pk,
                provincia:
                  this.domicilios.fiscal.provincia.label ||
                  this.domicilio.provincia,
                partido:
                  this.domicilios.fiscal.partido.label ||
                  this.domicilio.partido,
                codigo_postal: this.domicilios.fiscal.cp,
                localidad:
                  this.domicilios.fiscal.ciudad.label ||
                  this.domicilio.localidad,
                calle: this.domicilios.fiscal.calle,
                numero: this.domicilios.fiscal.numero,
                piso: this.domicilios.fiscal.piso,
                oficina: this.domicilios.fiscal.oficina,
                sector: this.domicilios.fiscal.sector,
                torre: this.domicilios.fiscal.torre,
                manzana: this.domicilios.fiscal.manzana,
              },
            },
          },
        },
      })
        .then((result) => {
          this.editable = false;
          this.$q.notify({
            message: this.respuestaEdicion.success
              ? "Edición exitosa"
              : "Ocurrió un error",
            icon: this.respuestaEdicion.success ? "check" : "fas fa-times",
            color: this.respuestaEdicion.success ? "positive" : "red",
          });
        })
        .catch((err) => {
          this.$q.notify({
            message: "Ocurrió un error actualizando los datos.",
            icon: "fas fa-times",
            color: "red",
          });
        });
    },
  },
  mounted() {
    if (this.domicilio) {
      this.cargarDatos();
      this.GetLocalidadesPorProvincia({
        provincia: this.domicilios.fiscal.provincia.label,
      });
      this.GetPartidosPorProvincia({
        provincia: this.domicilios.fiscal.provincia.label,
      });
    }
  },
  watch: {
    domicilio() {
      this.cargarDatos();
      this.GetLocalidadesPorProvincia({
        provincia: this.domicilios.fiscal.provincia.label,
      });
      this.GetPartidosPorProvincia({
        provincia: this.domicilios.fiscal.provincia.label,
      });
    },
  },
};
</script>
