<template>
  <q-form class="row col-12 q-gutter-y-md" @submit.prevent="guardarEdicion()">
    <div class="row col-12 q-pl-md fuente-17">Domicilio Monotributo</div>
    <div class="row col-12 fuente-16 q-pl-lg items-start q-gutter-x-md">
      <q-select
        class="col-xs-12 col-md-4"
        label="Provincia"
        dense
        :disable="!editable"
        hide-bottom-space
        v-model="provincia"
        @input="obtenerLocalidades(provincia)"
        :options="opcionesProvincias"
        filled
        :rules="[val => !!val || 'Este campo es obligatorio']"
        lazy-rules
      />
      <q-select
        class="col-xs-12 col-md-4"
        label="Ciudad"
        dense
        hide-bottom-space
        :disable="!editable"
        v-model="ciudad"
        :options="opcionesLocalidades"
        filled
        :rules="[val => !!val || 'Este campo es obligatorio']"
        lazy-rules
      />
      <q-input
        class="col-xs-12 col-md-2"
        label="Código Postal"
        dense
        hide-bottom-space
        :disable="!editable"
        v-model="cp"
        mask="####"
        filled
        :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
        lazy-rules
      />
    </div>
    <div class="col-12 q-gutter-x-md q-pl-lg row items-start">
      <q-input
        class="col-xs-12 col-md-4"
        label="Calle"
        :disable="!editable"
        dense
        hide-bottom-space
        v-model="calle"
        filled
        :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
        lazy-rules
      />
      <div class="row col-xs-12 col-md-4 justify-between items-start">
        <q-input
          class="col-xs-12"
          label="Número"
          :disable="!editable"
          mask="######"
          hide-bottom-space
          dense
          v-model="numero"
          filled
          :class="$q.screen.gt.sm ? '' : 'q-mb-sm'"
          :style="$q.screen.gt.sm ? 'width: 60%' : ''"
          :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
          lazy-rules
        />
        <q-input
          class="col-xs-12 col-md-2"
          label="Piso"
          mask="##"
          :disable="!editable"
          dense
          hide-bottom-space
          filled
          v-model="piso"
          :style="$q.screen.gt.sm ? 'width: 35%' : ''"
        />
      </div>
    </div>
    <div class="col-12 row q-gutter-x-md q-pl-lg" :class="$q.screen.gt.sm ? '' : 'q-gutter-y-md'">
      <q-input
        class="col-xs-12 col-md-4"
        label="Oficina, Dto o Local"
        dense
        :disable="!editable"
        filled
        v-model="oficina"
      />
      <div class="row col-xs-12 col-md-4 justify-between items-start">
        <q-input
          class="col-xs-12 col-md-4"
          label="Sector"
          dense
          filled
          :disable="!editable"
          v-model="sector"
          :style="$q.screen.gt.sm ? 'width: 60%' : ''"
          :class="$q.screen.gt.sm ? '' : 'q-mb-md'"
        />
        <q-input
          class="col-xs-12 col-md-2"
          label="Torre"
          :disable="!editable"
          dense
          filled
          v-model="torre"
          :style="$q.screen.gt.sm ? 'width: 35%' : ''"
        />
      </div>
      <q-input
        class="col-xs-12 col-md-3 q-ml-md"
        label="Manzana"
        dense
        filled
        :disable="!editable"
        v-model="manzana"
        :style="$q.screen.gt.sm ? 'width:176px' : ''"
      />
    </div>
    <div class="row col-12 justify-center q-gutter-x-xs">
      <q-btn
        label="Editar"
        unelevated
        color="orange"
        type="a"
        v-if="!editable"
        @click="editable = true"
      />
      <q-btn label="Guardar" unelevated color="green" type="submit" v-else />
      <q-btn
        label="Cancelar"
        unelevated
        color="red"
        v-if="editable"
        @click="cargarDatos(); editable = false"
      />
    </div>
  </q-form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  props: ["domicilio"],
  data() {
    return {
      provincia: "",
      ciudad: "",
      cp: "",
      calle: "",
      numero: "",
      piso: "",
      oficina: "",
      sector: "",
      torre: "",
      manzana: "",
      editable: false,
    };
  },
  computed: {
    ...mapGetters("opciones", ["opcionesProvincias", "opcionesLocalidades"]),
    ...mapGetters("admin", ["respuestaEdicion"]),
  },
  methods: {
    ...mapActions("opciones", ["GetLocalidadesPorProvincia"]),
    ...mapActions("admin", ["EditarDomicilioGeneral"]),
    cargarDatos() {
      this.provincia = this.domicilio.provincia;
      this.cp = this.domicilio.codigo_postal;
      this.ciudad = this.domicilio.localidad;
      this.calle = this.domicilio.calle;
      this.numero = this.domicilio.numero;
      this.piso = this.domicilio.piso;
      this.oficina = this.domicilio.oficina;
      this.sector = this.domicilio.sector;
      this.torre = this.domicilio.torre;
      this.manzana = this.domicilio.manzana;
    },
    obtenerLocalidades(provincia) {
      this.ciudad = "";
      this.GetLocalidadesPorProvincia({ provincia: provincia.label });
    },
    guardarEdicion() {
      this.EditarDomicilioGeneral({
        pk: this.$route.params.pk,
        edicion: {
          es_no_apto: false,
          datos_personales: {
            domicilio: {
              domicilio_general: {
                pk: this.domicilio.pk,
                provincia: this.provincia.label || this.domicilio.provincia,
                codigo_postal: this.cp,
                localidad: this.ciudad.label || this.domicilio.localidad,
                calle: this.calle,
                numero: this.numero,
                piso: this.piso,
                oficina: this.oficina,
                sector: this.sector,
                torre: this.torre,
                manzana: this.manzana,
              },
            },
          },
        },
      })
        .then((result) => {
          this.editable = false;
          this.$q.notify({
            message: this.respuestaEdicion.success
              ? "Edición exitosa"
              : "Ocurrió un error",
            icon: this.respuestaEdicion.success ? "check" : "fas fa-times",
            color: this.respuestaEdicion.success ? "positive" : "red",
          });
        })
        .catch((err) => {
          this.$q.notify({
            message: "Ocurrió un error actualizando los datos.",
            icon: "fas fa-times",
            color: "red",
          });
        });
    },
  },
  mounted() {
    if (this.domicilio) {
      this.cargarDatos();
      this.GetLocalidadesPorProvincia({ provincia: this.provincia });
    }
  },
  watch: {
    domicilio() {
      this.cargarDatos();
      this.GetLocalidadesPorProvincia({ provincia: this.provincia });
    },
  },
};
</script>

<style>
</style>
