<template>
  <q-form @submit.prevent="guardarEdicion()" class="col-12 row q-gutter-y-md">
    <div class="row col-12 q-pl-md fuente-17">Domicilio AGIP</div>
    <div class="col-12 row q-pl-lg">
      <div class="col-12 row">
        <div
          class="col-xs-12 row col-md-4 justify-between items-start"
          :class="$q.screen.gt.sm ? '' : 'q-gutter-y-md'"
        >
          <q-input
            class="col-xs-12 col-md-"
            label="Ruta"
            dense
            :disable="!editable"
            v-model="domicilios.comercial.ruta"
            filled
            :style="$q.screen.gt.sm ? 'width: 60%' : ''"
          />
          <q-input
            class="col-xs-12"
            label="Km"
            mask="######"
            dense
            :disable="!editable"
            v-model="domicilios.comercial.km"
            filled
            :style="$q.screen.gt.sm ? 'width: 35%' : ''"
          />
        </div>

        <q-input
          class="col-xs-12"
          :class="$q.screen.gt.sm ? 'q-ml-md' : ''"
          label="Barrio"
          dense
          :disable="!editable"
          v-model="domicilios.comercial.barrio"
          filled
          :style="$q.screen.gt.sm ? 'width: 39%' : ''"
        />
      </div>
      <div class="col-12 row q-pt-md q-gutter-x-md items-start">
        <q-input
          class="col-xs-12 col-md-4"
          label="Calle"
          dense
          :disable="!editable"
          v-model="domicilios.comercial.calle"
          hide-bottom-space
          filled
          lazy-rules
          :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
        />
        <div class="row col-xs-12 col-md-5 items-start justify-start">
          <q-input
            class="col-xs-12 col-md-6 q-mr-sm"
            label="Número"
            mask="######"
            dense
            :disable="!editable"
            v-model="domicilios.comercial.numero"
            hide-bottom-space
            filled
            :class="$q.screen.gt.sm ? '' : 'q-mb-sm'"
            lazy-rules
            :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
          />
          <q-input
            class="col-xs-12 col-md-5"
            label="Piso"
            dense
            :disable="!editable"
            filled
            v-model="domicilios.comercial.piso"
          />
        </div>
      </div>
      <div class="col-12 row q-pt-md" :class="$q.screen.gt.sm ? '' : 'q-gutter-y-md'">
        <q-input
          class="col-xs-12 col-md-4 q-mr-sm"
          label="Oficina, Dto o local"
          dense
          :disable="!editable"
          filled
          v-model="domicilios.comercial.oficina"
        />
        <div
          class="col-xs-12 col-md-5 row items-start"
          :class="$q.screen.gt.sm ? 'q-ml-sm' : 'q-gutter-y-md'"
        >
          <q-input
            class="col-xs-12 col-md-6 q-mr-sm"
            label="Sector"
            :disable="!editable"
            dense
            filled
            v-model="domicilios.comercial.sector"
          />
          <q-input
            class="col-xs-12 col-md-5"
            label="Torre"
            :disable="!editable"
            dense
            filled
            v-model="domicilios.comercial.torre"
          />
        </div>
        <div class="col row" :class="$q.screen.gt.sm ? 'q-ml-xs' : 'col-12'">
          <q-input
            class="col-xs-12 col-md-12"
            label="Manzana"
            :disable="!editable"
            dense
            filled
            v-model="domicilios.comercial.manzana"
          />
        </div>
      </div>
    </div>
    <div class="row col-12 justify-center q-gutter-x-xs">
      <q-btn
        label="Editar"
        unelevated
        color="orange"
        type="a"
        v-if="!editable"
        @click="editable = true"
      />
      <q-btn label="Guardar" unelevated color="green" type="submit" v-else />
      <q-btn
        label="Cancelar"
        unelevated
        color="red"
        v-if="editable"
        @click="cargarDatos(); editable = false"
      />
    </div>
  </q-form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  props: ["domicilio"],
  data() {
    return {
      editable: false,
      domicilios: {
        comercial: {
          ruta: "",
          km: "",
          barrio: "",
          calle: "",
          numero: "",
          piso: "",
          oficina: "",
          sector: "",
          torre: "",
          manzana: "",
        },
      },
    };
  },
  computed: {
    ...mapGetters("admin", ["respuestaEdicion"]),
  },
  methods: {
    ...mapActions("admin", ["EditarDomicilioAgip"]),
    cargarDatos() {
      this.domicilios.comercial.calle = this.domicilio.calle;
      this.domicilios.comercial.barrio = this.domicilio.barrio;
      this.domicilios.comercial.ruta = this.domicilio.ruta;
      this.domicilios.comercial.km = this.domicilio.km;
      this.domicilios.comercial.numero = this.domicilio.numero;
      this.domicilios.comercial.piso = this.domicilio.piso;
      this.domicilios.comercial.oficina = this.domicilio.oficina;
      this.domicilios.comercial.sector = this.domicilio.sector;
      this.domicilios.comercial.torre = this.domicilio.torre;
      this.domicilios.comercial.manzana = this.domicilio.manzana;
    },
    guardarEdicion() {
      this.EditarDomicilioAgip({
        pk: this.$route.params.pk,
        edicion: {
          es_no_apto: false,
          datos_personales: {
            domicilio: {
              domicilio_agip: {
                pk: this.domicilio.pk,
                barrio: this.domicilios.comercial.barrio,
                ruta: this.domicilios.comercial.ruta,
                km: this.domicilios.comercial.km,
                calle: this.domicilios.comercial.calle,
                numero: this.domicilios.comercial.numero,
                piso: this.domicilios.comercial.piso,
                oficina: this.domicilios.comercial.oficina,
                sector: this.domicilios.comercial.sector,
                torre: this.domicilios.comercial.torre,
                manzana: this.domicilios.comercial.manzana,
              },
            },
          },
        },
      })
        .then((result) => {
          this.editable = false;
          this.$q.notify({
            message: this.respuestaEdicion.success
              ? "Edición exitosa"
              : "Ocurrió un error",
            icon: this.respuestaEdicion.success ? "check" : "fas fa-times",
            color: this.respuestaEdicion.success ? "positive" : "red",
          });
        })
        .catch((err) => {
          this.$q.notify({
            message: "Ocurrió un error actualizando los datos.",
            icon: "fas fa-times",
            color: "red",
          });
        });
    },
  },
  mounted() {
    if (this.domicilio) {
      this.cargarDatos();
    }
  },
  watch: {
    domicilio() {
      this.cargarDatos();
    },
  },
};
</script>
