<template>
  <q-markup-table dense flat class="full-width" separator="cell">
    <thead>
      <tr>
        <th class="text-center" style="font-size:16px; font-weight: bold">Facturación Mensual</th>
        <th class="text-center" style="font-size:16px; font-weight: bold">Link Pago</th>
        <th class="text-center" style="font-size:16px; font-weight: bold">Período</th>
        <th class="text-center" style="font-size:16px; font-weight: bold">Fecha Vto</th>
        <th class="text-center" style="font-size:16px; font-weight: bold">Factura</th>
        <th class="text-center" style="font-size:16px; font-weight: bold">Pagada</th>
        <th class="text-center" style="font-size:16px; font-weight: bold">Monto Pago</th>
        <th class="text-center" style="font-size:16px; font-weight: bold">Editar</th>
        <th class="text-center" style="font-size:16px; font-weight: bold">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(factura, index) in facturas" :key="index">
        <td class="text-center" style="font-size:14px">$ {{factura.facturacion}}</td>
        <td class="text-center" style="font-size:14px">
          <q-icon
            class="cursor-pointer"
            name="fas fa-external-link-alt"
            color="black"
            @click="abrirLinkPago(factura.link)"
          />
        </td>
        <td class="text-center" style="font-size:14px">{{factura.periodo}}</td>

        <td class="text-center" style="font-size:14px">{{factura.fecha_vencimiento}}</td>
        <td class="text-center" style="font-size:14px">
          <q-icon
            class="cursor-pointer"
            name="fas fa-file-download"
            color="black"
            @click="descargarFactura(factura.comprobante_pago)"
          />
        </td>
        <td class="text-center" style="font-size:14px">
          <q-icon
            :name="factura.estado_pago ? 'fas fa-check' : 'fas fa-times'"
            :color="factura.estado_pago ? 'green' : 'red'"
          />
        </td>
        <td class="text-center" style="font-size:14px">$ {{factura.monto }}</td>
        <td class="text-center" style="font-size:14px">
          <q-icon
            class="cursor-pointer"
            name="fas fa-pencil-alt"
            color="orange"
            size="sm"
            @click="editarFactura(factura)"
          />
        </td>
        <td class="text-center" style="font-size:14px">
          <q-icon
            class="cursor-pointer"
            name="fas fa-trash-alt"
            color="red"
            size="sm"
            @click="eliminarFactura(factura)"
          />
        </td>
        <q-dialog v-model="mostrarDialogo" full-width persistent>
          <factura-freelo :factura="facturaAEditar" @cerrar="mostrarDialogo = false" />
        </q-dialog>
        <q-dialog v-model="dialogoConfirmacion">
          <confirmar-eliminacion :freelo="true" :factura="facturaAEliminar" />
        </q-dialog>
      </tr>
    </tbody>
  </q-markup-table>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import FacturaFreelo from "./FacturaFreelo.vue";
import ConfirmarEliminacion from "./ConfirmarEliminacion.vue";

export default {
  props: ["facturas"],
  components: {
    FacturaFreelo,
    ConfirmarEliminacion,
  },
  data() {
    return {
      mostrarDialogo: false,
      facturaAEditar: null,
      dialogoConfirmacion: false,
      facturaAEliminar: null,
    };
  },
  computed: {
    ...mapGetters("admin", [
      "agenteRegimen",
      "facturasIngresosBrutos",
      "respuestaEdicion",
    ]),
  },
  methods: {
    ...mapActions("usuario", ["DescargarFactura"]),
    eliminarFactura(factura) {
      this.facturaAEliminar = factura;
      this.dialogoConfirmacion = true;
    },
    editarFactura(factura) {
      this.facturaAEditar = factura;
      this.mostrarDialogo = true;
    },
    abrirLinkPago(link) {
      window.open(link);
    },
    descargarFactura(link) {
      this.DescargarFactura(link);
    },
  },
};
</script>

<style>
</style>
