<template>
  <q-markup-table dense flat class="full-width" separator="cell">
    <thead>
      <tr>
        <th class="text-center" style="font-size:16px; font-weight: bold">Período</th>
        <th class="text-center" style="font-size:16px; font-weight: bold">Monto</th>
        <th class="text-center" style="font-size:16px; font-weight: bold">Comprobante</th>
        <th class="text-center" style="font-size:16px; font-weight: bold">Fecha Vto</th>
        <th class="text-center" style="font-size:16px; font-weight: bold">Concepto</th>
        <th class="text-center" style="font-size:16px; font-weight: bold">Pagada</th>
        <th class="text-center" style="font-size:16px; font-weight: bold">Editar</th>
        <th class="text-center" style="font-size:16px; font-weight: bold">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(factura, index) in facturas" :key="index">
        <td class="text-center" style="font-size:14px">{{factura.periodo}}</td>
        <td class="text-center" style="font-size:14px">$ {{factura.monto}}</td>
        <td class="text-center" style="font-size:14px">
          <q-icon
            class="cursor-pointer"
            name="fas fa-file-download"
            color="black"
            @click="descargarFactura(factura.comprobante_pago)"
          />
        </td>

        <td class="text-center" style="font-size:14px">{{factura.fecha_vencimiento}}</td>
        <td class="text-center" style="font-size:14px">{{factura.concepto}}</td>
        <td class="text-center" style="font-size:14px">
          <q-icon
            :name="factura.estado_pago ? 'fas fa-check' : 'fas fa-times'"
            :color="factura.estado_pago ? 'green' : 'red'"
          />
        </td>
        <td class="text-center" style="font-size:14px">
          <q-icon
            class="cursor-pointer"
            name="fas fa-pencil-alt"
            color="orange"
            size="sm"
            @click="editarFactura(factura)"
          />
        </td>
        <td class="text-center" style="font-size:14px">
          <q-icon
            class="cursor-pointer"
            name="fas fa-trash-alt"
            size="sm"
            color="red"
            @click="pedirConfirmacion(factura)"
          />
        </td>
      </tr>
      <q-dialog v-model="mostrarDialogo" full-width persistent>
        <factura
          :factura="facturaAEditar"
          :monotributo="monotributo"
          :ingresosBrutos="ingresosBrutos"
          @cerrar="mostrarDialogo = false"
        />
      </q-dialog>
      <q-dialog v-model="dialogoConfirmacion">
        <confirmar-eliminacion
          :factura="facturaAEliminar"
          :monotributo="monotributo"
          :ingresosBrutos="ingresosBrutos"
        />
      </q-dialog>
    </tbody>
  </q-markup-table>
</template>

<script>
import { mapActions } from "vuex";
import Factura from "./Factura.vue";
import ConfirmarEliminacion from "./ConfirmarEliminacion.vue";

export default {
  props: ["facturas", "monotributo", "ingresosBrutos"],
  components: {
    Factura,
    ConfirmarEliminacion,
  },
  data() {
    return {
      mostrarDialogo: false,
      facturaAEditar: null,
      facturaAEliminar: null,
      dialogoConfirmacion: false,
    };
  },
  methods: {
    ...mapActions("admin", ["EliminarFacturaMonotributo"]),
    ...mapActions("usuario", ["DescargarFactura"]),
    pedirConfirmacion(factura) {
      this.facturaAEliminar = factura;
      this.dialogoConfirmacion = true;
    },
    editarFactura(factura) {
      this.facturaAEditar = factura;
      this.mostrarDialogo = true;
    },
    descargarFactura(link) {
      this.DescargarFactura(link);
    },
  },
};
</script>

<style>
</style>
