<template>
  <q-card class="q-pa-md">
    <div class="col-12 row fuente-17 justify-center text-bold" v-if="agregar">Agregar Factura</div>
    <div class="col-12 row fuente-17 justify-center text-bold" v-else>Editar Factura</div>
    <q-form
      class="row col-12 q-gutter-md justify-center q-pa-md items-start"
      @submit.prevent="guardarFactura"
    >
      <div
        class="col-12 justify-center row cursor-pointer"
        @click.stop="abrirLink(factura.comprobante_pago)"
        v-if="!agregar"
      >
        Link comprobante:
        {{factura.comprobante_pago}}
      </div>
      <q-input v-model="facturacion" class="col-3" filled dense label="Facturacion del mes" />
      <q-input v-model="monto" class="col-3" filled dense label="Monto Pago" />
      <q-file
        ref="pdf"
        name="comprobante"
        @input="onFileChange"
        v-model="pdf"
        class="col-3"
        filled
        dense
        label="Comprobante"
      />
      <q-input
        label="Periodo"
        hint="AAAA/MM/DD"
        dense
        class="col-3"
        filled
        hide-bottom-space
        v-model="periodo"
      >
        <template v-slot:append>
          <q-icon name="event" class="cursor-pointer">
            <q-popup-proxy ref="qDateProxy1" transition-show="scale" transition-hide="scale">
              <q-date
                :options="periodo => periodo[8] > 0 && periodo[8] < 2"
                v-model="periodo"
                mask="YYYY-MM-DD"
                @input="() => $refs.qDateProxy1.hide()"
              />
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>
      <q-input
        label="Fecha Vencimiento"
        hint="AAAA-MM-DD"
        dense
        class="col-3"
        filled
        hide-bottom-space
        v-model="fechaVto"
      >
        <template v-slot:append>
          <q-icon name="event" class="cursor-pointer">
            <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
              <q-date v-model="fechaVto" mask="YYYY-MM-DD" @input="() => $refs.qDateProxy.hide()" />
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>
      <q-input v-model="link" class="col-4" filled dense label="Link" />
      <q-checkbox class="col-2 justify-center" v-model="pagada" label="Pagada" />
      <div class="row col-12 justify-center q-gutter-x-md q-pt-md">
        <q-btn label="Guardar" :disable="deshabilitarBoton" type="submit" unelevated color="green" />
        <q-btn label="Cancelar" unelevated color="red" v-close-popup />
      </div>
    </q-form>
  </q-card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  props: ["factura", "agregar"],
  data() {
    return {
      pdf: null,
      monto: "",
      facturacion: "",
      comprobante: "",
      periodo: "",
      fechaVto: "",
      link: "",
      pagada: false,
      deshabilitarBoton: false,
    };
  },
  computed: {
    ...mapGetters("admin", [
      "agenteRegimen",
      "facturasIngresosBrutos",
      "respuestaEdicion",
      "fechaVencimientoFreelo",
      "periodoFreelo",
    ]),
  },
  methods: {
    ...mapActions("admin", ["AgregarFacturaFreelo", "EditarFacturaFreelo"]),
    ...mapActions("usuario", ["DescargarFactura"]),
    abrirLink(link) {
      this.DescargarFactura(link);
    },
    onFileChange() {
      const input = this.$refs.pdf;
      const files = input.$refs.input.files;
      if (files) {
        for (let index = 0; index < files.length; index++) {
          this.factoryFn(files[index]);
        }
      }
    },
    guardarFactura() {
      this.deshabilitarBoton = true;
      // Si quiere agregar una nueva factura
      if (this.agregar) {
        this.AgregarFacturaFreelo({
          persona_id: this.$route.params.pk,
          monto_pago: this.monto,
          factura: this.$refs.pdf.$refs.input.files[0],
          link_pago: this.link,
          facturacion_mes: this.facturacion,
          estado_pago: this.pagada ? "pagada" : "",
          periodo: this.periodo,
          fecha_vencimiento: this.fechaVto,
        })
          .then((result) => {
            this.$q.notify({
              message: this.respuestaEdicion.success
                ? "Factura agregada con éxito"
                : "Ocurrió un error",
              icon: this.respuestaEdicion.success ? "check" : "fas fa-times",
              color: this.respuestaEdicion.success ? "positive" : "red",
            });
            this.$emit("cerrar");
            this.deshabilitarBoton = false;
          })
          .catch((err) => {
            this.$q.notify({
              message: "Ocurrió un error agregando la factura.",
              icon: "fas fa-times",
              color: "red",
            });
            this.deshabilitarBoton = false;
          });
      } else {
        // Si quiere editar una factura
        // Si se edita el comprobante
        this.EditarFacturaFreelo({
          pk: this.factura.pk,
          persona_id: this.$route.params.pk,
          monto_pago: this.monto,
          factura: this.$refs.pdf.$refs.input.files[0],
          link_pago: this.link,
          facturacion_mes: this.facturacion,
          estado_pago: this.pagada ? "pagada" : "",
          periodo: this.periodo,
          fecha_vencimiento: this.fechaVto,
        })
          .then((result) => {
            this.$q.notify({
              message: this.respuestaEdicion.success
                ? "Factura editada con éxito"
                : "Ocurrió un error",
              icon: this.respuestaEdicion.success ? "check" : "fas fa-times",
              color: this.respuestaEdicion.success ? "positive" : "red",
            });
            this.$emit("cerrar");
            this.deshabilitarBoton = false;
          })
          .catch((err) => {
            this.$q.notify({
              message: "Ocurrió un error editando la factura.",
              icon: "fas fa-times",
              color: "red",
            });
            this.deshabilitarBoton = false;
          });
      }
    },
  },
  mounted() {
    if (!this.agregar) {
      this.monto = this.factura.monto;
      this.periodo = this.periodoFreelo(this.factura.pk);
      this.fechaVto = this.fechaVencimientoFreelo(this.factura.pk);
      this.concepto = this.factura.concepto;
      this.pagada = this.factura.estado_pago;
      this.facturacion = this.factura.facturacion;
      this.link = this.factura.link;
    }
  },
};
</script>

<style>
</style>
