<template>
  <div class="row col-12 q-gutter-y-xs">
    <q-markup-table flat class="full-width" separator="cell">
      <template v-if="!ruta">
        <thead>
          <tr>
            <th class="text-center" style="font-size:18px; font-weight: bold">Apellido y Nombre</th>
            <th class="text-center" style="font-size:18px; font-weight: bold">CUIT</th>
            <th class="text-center" style="font-size:18px; font-weight: bold">Jurisdicción</th>
            <th class="text-center" style="font-size:18px; font-weight: bold">Email</th>
            <th class="text-center" style="font-size:18px; font-weight: bold">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(usuario, index) in usuarios"
            :key="index"
            class="cursor-pointer"
            @click="irAUsuario(usuario.pk)"
          >
            <td
              class="text-center"
              style="font-size:18px; text-align: left"
            >{{usuario.apellido + " " + usuario.nombre}}</td>
            <td class="text-center" style="font-size:16px">{{usuario.cuit}}</td>
            <td class="text-center" style="font-size:16px">{{usuario.jurisdiccion}}</td>
            <td class="text-center" style="font-size:16px">{{usuario.email}}</td>
            <td class="text-center" style="font-size:14px">
              <q-icon
                class="cursor-pointer"
                name="fas fa-trash-alt"
                size="sm"
                color="red"
                @click.stop="eliminarUsuario(usuario.pk)"
              />
            </td>
          </tr>
        </tbody>
      </template>
      <template v-else>
        <thead>
          <tr>
            <th class="text-center" style="font-size:18px; font-weight: bold">Apellido y Nombre</th>
            <th class="text-center" style="font-size:18px; font-weight: bold">Email</th>
            <th class="text-center" style="font-size:18px; font-weight: bold">Motivos</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(usuario, index) in usuarios" :key="index">
            <td class="text-center" style="font-size:18px; text-align: left">{{usuario.nombre}}</td>
            <td class="text-center" style="font-size:16px">{{usuario.email}}</td>
            <td class="text-center" style="font-size:16px">{{usuario.motivo}}</td>
          </tr>
        </tbody>
      </template>
    </q-markup-table>
    <q-dialog v-model="dialogoConfirmacion">
      <confirmar-eliminacion :factura="personaAEliminar" :persona="true" />
    </q-dialog>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ConfirmarEliminacion from "./ConfirmarEliminacion.vue";

export default {
  props: ["usuarios"],
  components: {
    ConfirmarEliminacion,
  },
  data() {
    return {
      personaAEliminar: null,
      dialogoConfirmacion: false,
    };
  },
  computed: {
    ruta() {
      return this.$route.params.estadousuario === "noaptos";
    },
    ...mapGetters("admin", [
      "usuariosActivos",
      "usuariosNoAptos",
      "usuariosInactivos",
    ]),
  },
  methods: {
    irAUsuario(cuit) {
      this.$router.push(`${this.$route.params.estadousuario}/${cuit}`);
    },
    eliminarUsuario(pk) {
      this.personaAEliminar = pk;
      this.dialogoConfirmacion = true;
    },
  },
};
</script>

<style>
</style>
