<template>
  <q-form
    class="col-12 row q-gutter-x-md bg-white q-gutter-y-md items-start justify-center q-pa-lg"
    ref="form"
    @submit.prevent="enviarNotificacion()"
    style="border-radius: 9px"
  >
    <q-select
      :disable="listaCompleta"
      :options="usuariosOpciones"
      v-model="usuario"
      class="col-10"
      dense
      filled
      use-input
      hide-bottom-space
      label="Usuario"
      style="width: 68%"
      input-debounce="0"
      @filter="filterFn"
      behavior="menu"
      hide-dropdown-icon
    >
      <template v-slot:append>
        <q-icon
          v-if="usuario !== ''"
          class="cursor-pointer"
          name="clear"
          @click.stop="usuario = ''"
        />
      </template>
      <template v-slot:no-option>
        <q-item>
          <q-item-section class="text-grey">Sin resultados</q-item-section>
        </q-item>
      </template>
    </q-select>
    <q-input
      v-model="titulo"
      class="col-4"
      dense
      filled
      hide-bottom-space
      label="Título Notificación"
      :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
      lazy-rules
    />
    <q-input
      v-model="contenido"
      class="col-4"
      dense
      filled
      hide-bottom-space
      label="Contenido Notificación"
      :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
      lazy-rules
    />
    <q-input v-model="boton" class="col-4" dense filled label="Texto Botón (Notificación Email)" />
    <q-input v-model="footer" class="col-4" dense filled label="Texto Footer (Notificación Email)" />
    <q-select
      v-model="plantilla"
      class="col-4"
      dense
      filled
      label="Plantilla Email"
      :options="plantillas"
    />
    <q-checkbox v-model="email" class="col-4 q-pt-sm" dense label="Enviar Notificación por Email" />
    <q-checkbox
      v-model="listaCompleta"
      class="col-4 q-pt-sm"
      @input="usuario = ''"
      dense
      label="Enviar Notificación a todos los usuarios"
    >
      <q-tooltip
        content-class="bg-dark fuente-14"
        transition-show="flip-right"
        transition-hide="flip-left"
        anchor="bottom left"
        :offset="[0, 12]"
        self="center left"
      >Seleccionando esta opción se deshabilitará el envio al usuario seleccionado, en caso de que exista</q-tooltip>
    </q-checkbox>
    <div
      class="col-12 row text-red justify-center"
      v-if="error"
    >Debe seleccionar un usuario o seleccionar lista completa</div>
    <div class="col-12 row justify-center q-pt-md">
      <q-btn label="Enviar" color="green" type="submit" unelevated />
    </div>
  </q-form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      usuario: "",
      titulo: "",
      contenido: "",
      listaCompleta: false,
      boton: "",
      footer: "",
      error: false,
      email: false,
      plantilla: "",
      usuariosOpciones: null,
      plantillas: [
        "CuentaLista.html",
        "NotificacionAdvertencia.html",
        "NotificacionNormal.html",
      ],
    };
  },
  computed: {
    ...mapGetters("admin", ["usuariosNotificaciones", "respuestaEdicion"]),
  },
  methods: {
    ...mapActions("admin", ["EnviarNotificacion"]),
    filterFn(val, update, abort) {
      // busqueda sin delay
      if (val === "") {
        update(() => {
          this.usuariosOpciones = this.usuariosNotificaciones;
        });
        return;
      }
      update(() => {
        const needle = val.toLowerCase();
        this.usuariosOpciones = this.usuariosNotificaciones.filter(
          (v) => v.label.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    enviarNotificacion() {
      this.error = false;
      if (this.usuario === "" && !this.listaCompleta) {
        this.error = true;
        return;
      }
      if (this.email) {
        this.EnviarNotificacion({
          titulo: this.titulo,
          contenido: this.contenido,
          texto_boton: this.boton,
          texto_footer: this.footer,
          plantilla_para_email: this.plantilla,
          persona_id: this.listaCompleta ? null : this.usuario.value,
          lista_completa: this.listaCompleta,
        })
          .then((result) => {
            this.$q.notify({
              message: this.respuestaEdicion.success
                ? "Notificación enviada con éxito"
                : "Ocurrió un error",
              icon: this.respuestaEdicion.success ? "check" : "fas fa-times",
              color: this.respuestaEdicion.success ? "positive" : "red",
            });
            if (this.respuestaEdicion.success) {
              this.titulo = "";
              this.contenido = "";
              this.boton = "";
              this.footer = "";
              this.plantilla = "";
              this.usuario = "";
              this.email = false;
              this.$refs.form.resetValidation();
            }
          })
          .catch((err) => {
            this.$q.notify({
              message: "Ocurrió un error enviando la notificación.",
              icon: "fas fa-times",
              color: "red",
            });
          });
      } else {
        this.EnviarNotificacion({
          titulo: this.titulo,
          contenido: this.contenido,
          persona_id: this.listaCompleta ? "" : this.usuario.value,
          lista_completa: this.listaCompleta,
        })
          .then((result) => {
            this.$q.notify({
              message: this.respuestaEdicion.success
                ? "Notificación enviada con éxito"
                : "Ocurrió un error",
              icon: this.respuestaEdicion.success ? "check" : "fas fa-times",
              color: this.respuestaEdicion.success ? "positive" : "red",
            });
          })
          .catch((err) => {
            this.$q.notify({
              message: "Ocurrió un error enviando la notificación.",
              icon: "fas fa-times",
              color: "red",
            });
          });
      }
    },
  },
};
</script>

<style>
</style>
