<template>
  <q-card class="q-pa-md">
    <div class="row q-pl-md fuente-17 text-bold q-py-md subrayado">Actividades monotributo</div>
    <div class="row">
      <actividades :actividades="actividadesMonotributo" />
    </div>
    <div class="row q-pl-md fuente-17 text-bold q-pt-lg q-py-md subrayado">Actividades ARBA</div>
    <div class="row">
      <actividades :actividades="actividadesArba" />
    </div>
    <div class="row q-pl-md fuente-17 text-bold q-pt-lg q-py-md subrayado">Actividad AGIP</div>
    <div class="row">
      <actividades :actividades="actividadesAgip" :agip="true" />
    </div>
    <div class="row q-pl-md fuente-17 text-bold q-pt-lg q-py-md subrayado">Familiares</div>
    <q-markup-table flat class="full-width" separator="cell">
      <thead class="text-bold">
        <tr>
          <th class="text-center" style="font-size:18px; font-weight: bold">CUIL</th>
          <th class="text-center" style="font-size:18px; font-weight: bold">Nombre</th>
          <th class="text-center" style="font-size:18px; font-weight: bold">Vínculo</th>
          <th class="text-center" style="font-size:18px; font-weight: bold">Aportes unificados</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(persona, index) in familiares" :key="index">
          <td class="text-center" style="font-size:17px">{{persona.cuit}}</td>
          <td class="text-center" style="font-size:17px">{{persona.nombre}}</td>
          <td class="text-center" style="font-size:17px">{{persona.vinculo}}</td>
          <td
            class="text-center"
            style="font-size:17px"
          >{{unificarAportes(persona.vinculo, persona.unificacion_aporte)}}</td>
        </tr>
      </tbody>
    </q-markup-table>
    <div class="row q-pl-md fuente-17 text-bold q-pt-lg q-py-md subrayado">Obra Social</div>
    <div class="row q-pl-lg">
      <div class="fuente-16 col-12 text-bold">Código: {{obraSocial.codigo}}</div>
      <div class="fuente-16 col-12 text-bold">Denominación: {{obraSocial.denominacion}}</div>
    </div>
  </q-card>
</template>

<script>
import { mapGetters } from "vuex";
import Actividades from "./Actividades.vue";

export default {
  components: {
    Actividades,
  },
  computed: {
    ...mapGetters("admin", [
      "obraSocial",
      "familiares",
      "actividadesMonotributo",
      "actividadesArba",
      "actividadesAgip",
    ]),
  },
  methods: {
    unificarAportes(vinculo, unificar) {
      if (vinculo === "Cónyuge") {
        if (unificar) {
          return "Si";
        } else {
          return "No";
        }
      } else {
        return "";
      }
    },
  },
};
</script>

<style>
.subrayado {
  text-decoration: underline !important;
}
</style>
