<template>
  <q-layout view="lHh lpR fFf">
    <q-header reveal class="background-user text-white">
      <q-toolbar>
        <q-btn color="black" flat round icon="menu" @click="drawer = !drawer" />
        <div class="row col-grow">
          <q-toolbar-title class="row justify-end">
            <q-space />
            <q-btn-dropdown
              id="dropdown"
              :label="(usuario.nombre || 'Admin') + ' ' + (usuario.apellido || 'Turix')"
              flat
              no-caps
              cover
              color="color"
              icon="person"
              class="fuente-17"
            >
              <div class="row no-wrap q-pa-md texto-gris">
                <div class="column items-center justify-center">
                  <div
                    class="text-subtitle1 q-mt-md q-mb-xs"
                  >{{(usuario.nombre || 'Admin') + ' ' + (usuario.apellido || 'Turix')}}</div>

                  <q-btn
                    @click="Logout()"
                    flat
                    color="negative"
                    label="Desconectar"
                    push
                    v-close-popup
                  />
                </div>
              </div>
            </q-btn-dropdown>
          </q-toolbar-title>
        </div>
      </q-toolbar>
    </q-header>
    <q-drawer
      :width="240"
      content-class="background-user"
      show-if-above
      side="left"
      v-model="drawer"
    >
      <q-toolbar
        class="background-user q-py-sm q-mt-sm"
        :style="$q.screen.gt.sm ? '' : 'height:60px'"
      >
        <q-toolbar-title>
          <q-img src="../assets/freelo_logo-03.png" contain height="40px" />
        </q-toolbar-title>
      </q-toolbar>
      <q-list
        class="text-black q-px-xs text-subtitle2"
        :class="$q.screen.gt.sm ? 'q-pt-lg q-gutter-y-md ' : 'q-pt-xs q-gutter-y-xs'"
        :dense="!$q.screen.gt.sm"
      >
        <q-item
          v-for="(item, index) in menuItems"
          :key="index"
          clickable
          active-class="bg-secondary text-bold text-white"
          v-ripple
          :to="item.url"
          style="border-radius: 3px"
        >
          <q-item-section avatar>
            <q-icon :name="item.icon" :size="$q.screen.gt.sm ? '' : 'xs'" />
          </q-item-section>
          <q-item-section>{{item.name}}</q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container class="background-user" :class="$q.screen.gt.sm ? '' : 'q-mt-sm'">
      <transition
        name="fade"
        mode="out-in"
        @beforeLeave="beforeLeave"
        @enter="enter"
        @afterEnter="afterEnter"
      >
        <router-view />
      </transition>
    </q-page-container>
  </q-layout>
</template>

<script>
import Notificaciones from "../components/Notificaciones/Notificaciones.vue";
import { mapActions, mapState, mapGetters } from "vuex";

export default {
  name: "MainLayout",
  components: {
    Notificaciones,
  },
  data() {
    return {
      drawer: false,
      menuItems: [
        {
          name: "Usuarios Activos",
          url: "/admin/usuarios/activos",
          icon: "fas fa-users",
        },
        {
          name: "Usuarios Inactivos",
          url: "/admin/usuarios/inactivos",
          icon: "fas fa-user-times",
        },
        {
          name: "Usuarios No Aptos",
          url: "/admin/usuarios/noaptos",
          icon: "fas fa-user-friends",
        },
        {
          name: "Notificaciones",
          url: "/admin/notificaciones",
          icon: "fas fa-bell",
        },
      ],
    };
  },
  computed: {
    ...mapGetters("usuario", ["usuario"]),
  },
  methods: {
    ...mapActions("usuario", ["Logout", "ActualizarToken"]),
    ...mapActions("admin", ["UsuariosActivos"]),
    ...mapActions("monotributo", [
      "EstadoMonotributo",
      "FacturacionesMonotributo",
    ]),
    ...mapActions("ingresosBrutos", ["TipoIibb", "FacturacionesIibb"]),
    ...mapActions("freelo", ["FacturacionesFreelo"]),
    irA(url) {
      window.open(url);
    },
    beforeLeave(element) {
      this.prevHeight = getComputedStyle(element).height;
    },
    enter(element) {
      const { height } = getComputedStyle(element);

      element.style.height = this.prevHeight;

      setTimeout(() => {
        element.style.height = height;
      });
    },
    afterEnter(element) {
      element.style.height = "auto";
    },
  },
  created() {
    this.ActualizarToken();
    this.UsuariosActivos();
  },
  updated() {
    this.ActualizarToken();
  },
};
</script>

<style lang="scss">
#poppins-bold {
  font-family: Poppins-Bold;
}
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
#dropdown {
  .q-btn-dropdown__arrow {
    display: none;
  }

  .text-no-wrap > div:nth-child(2) {
    color: #be724d;
  }

  .on-left {
    color: #be724d;
  }
}
</style>
