<template>
  <q-layout view="hHh lpR fFf">
    <q-header :class="$q.screen.gt.sm ? 'q-py-md' : 'q-py-xs'" class="bg-white absolute-top">
      <q-toolbar class :class="$q.screen.gt.sm ? 'q-pl-xl' : ''">
        <q-toolbar-title>
          <q-img
            @click="irHome()"
            src="../assets/freelo_logo-03.png"
            height="40px"
            width="140px"
            contain
            style="cursor: pointer"
          />
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <transition
        name="fade"
        mode="out-in"
        @beforeLeave="beforeLeave"
        @enter="enter"
        @afterEnter="afterEnter"
      >
        <router-view />
      </transition>
    </q-page-container>

    <q-footer
      id="background-footer-b"
      class="text-center texto-footer text-caption q-py-md row justify-center q-gutter-x-lg absolute-bottom"
      v-if="background"
      :class="$q.screen.gt.sm ? '' : 'row q-gutter-y-xs'"
    >
      <div
        style="cursor: pointer"
        @click="terminos"
        :class="$q.screen.gt.sm ? '' : 'col-12'"
      >Términos y condiciones</div>
      <div
        style="cursor: pointer"
        @click="politicas"
        :class="$q.screen.gt.sm ? '' : 'col-12'"
      >Políticas de privacidad</div>
      <div
        style="cursor: pointer"
        @click="nosotros"
        :class="$q.screen.gt.sm ? '' : 'col-12'"
      >Nosotros</div>
    </q-footer>
    <q-footer
      id="background-footer"
      v-else
      class="text-center texto-footer text-caption q-py-md row justify-center q-gutter-x-lg absolute-bottom"
      :class="$q.screen.gt.sm ? '' : 'row q-gutter-y-xs'"
    >
      <div
        style="cursor: pointer"
        @click="terminos"
        :class="$q.screen.gt.sm ? '' : 'col-12'"
      >Términos y condiciones</div>
      <div
        style="cursor: pointer"
        @click="politicas"
        :class="$q.screen.gt.sm ? '' : 'col-12'"
      >Políticas de privacidad</div>
      <div
        style="cursor: pointer"
        @click="nosotros"
        :class="$q.screen.gt.sm ? '' : 'col-12'"
      >Nosotros</div>
    </q-footer>
  </q-layout>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "MainLayout",
  data() {
    return {
      leftDrawerOpen: false
    };
  },
  created() {
    this.ActualizarToken();
  },
  updated() {
    this.ActualizarToken();
  },
  computed: {
    background() {
      return this.$route.path.indexOf("primerlogin") !== -1;
    }
  },
  methods: {
    ...mapActions("usuario", ["ActualizarToken"]),
    terminos() {
      window.open("https://befreelo.com/terminos-condiciones/");
    },
    politicas() {
      window.open("https://befreelo.com/privacidad/");
    },
    nosotros() {
      window.open("https://befreelo.com/nosotros/");
    },
    beforeLeave(element) {
      this.prevHeight = getComputedStyle(element).height;
    },
    enter(element) {
      const { height } = getComputedStyle(element);

      element.style.height = this.prevHeight;

      setTimeout(() => {
        element.style.height = height;
      });
    },
    afterEnter(element) {
      element.style.height = "auto";
    },
    irHome() {
      this.$router.push({ name: "homeDashboard" });
    }
  }
};
</script>

<style lang="scss">
#background-footer {
  background: url("../assets/backgroundFooter.png");
  background-size: 100% 100%;
}
#background-footer-b {
  background: url("../assets/backgroundFooter2.png");
  background-size: 100% 100%;
}
.texto-footer {
  color: #adacb2;
}
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
</style>
