<template>
  <q-layout view="hHh lpR fFf">
    <q-header class="background-user shadow-1" v-if="!$q.screen.gt.sm" style="height:60px">
      <q-toolbar class="q-py-md">
        <q-btn flat @click="drawer = !drawer" style="color: #be724d" round dense icon="menu" />
        <q-toolbar-title class="text-left">
          <q-img
            src="../assets/mascota freelo azul-02.png"
            contain
            width="27px"
            height="27px"
            @click="$router.push('/usuario')"
            style="cursor: pointer"
          />
        </q-toolbar-title>

        <template v-if="loggedIn">
          <span>
            <!-- <q-btn icon="help" color="grey-14" flat />
            <q-btn icon="shopping_cart" color="grey-14" flat />-->
            <q-btn
              icon="notifications"
              rounded
              flat
              dense
              v-if="notificacionesExito"
              :color="notificacionesSinLeer ? 'red' : 'grey-9'"
            >
              <q-menu
                anchor="center middle"
                self="center middle"
                class="cover"
                transition-show="jump-down"
                transition-hide="jump-up"
              >
                <notificaciones />
              </q-menu>
            </q-btn>
          </span>
          <q-btn-dropdown id="dropdown" :label="nombre" dense no-caps flat cover icon="person">
            <div class="row no-wrap q-pa-md texto-gris">
              <div class="column">
                <div class="text-h6 q-mb-md">
                  Datos de cuenta
                  <q-btn size="sm" to="/usuario/micuenta" dense flat icon="settings" />
                </div>
                <q-list dense>
                  <q-item dense>
                    <q-item-section>
                      <q-item-label>Correo Electrónico</q-item-label>
                      <q-item-label caption>{{usuario.email}}</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item dense>
                    <q-item-section>
                      <q-item-label>Teléfono</q-item-label>
                      <q-item-label caption lines="2">{{telefono}}</q-item-label>
                    </q-item-section>
                  </q-item>

                  <!-- <q-item dense>
                    <q-item-section>
                      <q-item-label>Dirección</q-item-label>
                      <q-item-label caption lines="2">Avenida Calle 123</q-item-label>
                    </q-item-section>
                  </q-item>-->

                  <q-separator spaced inset />

                  <q-item dense>
                    <q-item-section>
                      <q-item-label>CUIT</q-item-label>
                      <q-item-label caption lines="2">{{cuit}}</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-separator spaced inset />

                  <q-item>
                    <q-item-section>
                      <q-btn
                        @click="Logout()"
                        flat
                        color="negative"
                        label="Desconectar"
                        push
                        v-close-popup
                      />
                    </q-item-section>
                  </q-item>
                </q-list>
              </div>
            </div>
          </q-btn-dropdown>
        </template>
      </q-toolbar>
    </q-header>
    <q-drawer
      :width="240"
      content-class="background-user"
      show-if-above
      side="left"
      v-model="drawer"
    >
      <q-toolbar
        class="background-user q-py-sm q-mt-sm"
        :style="$q.screen.gt.sm ? '' : 'height:60px'"
      >
        <q-toolbar-title>
          <q-img
            src="../assets/freelo_logo-03.png"
            contain
            height="40px"
            style="cursor:pointer"
            @click="$router.push('/usuario')"
          />
        </q-toolbar-title>
      </q-toolbar>
      <q-list
        class="text-black q-px-xs text-subtitle2"
        :class="$q.screen.gt.sm ? 'q-pt-lg q-gutter-y-md ' : 'q-pt-xs q-gutter-y-xs'"
        :dense="!$q.screen.gt.sm"
      >
        <q-item
          v-for="(item, index) in menuItems"
          :key="index"
          clickable
          exact
          active-class="bg-secondary text-bold text-white"
          v-ripple
          :to="item.url"
          style="border-radius: 3px"
        >
          <q-item-section avatar>
            <q-icon :name="item.icon" :size="$q.screen.gt.sm ? '' : 'xs'" />
          </q-item-section>
          <q-item-section>{{item.name}}</q-item-section>
        </q-item>
        <q-item
          v-for="(item) in menuExterno"
          :key="item.name"
          clickable
          active-class="bg-secondary text-bold text-white"
          v-ripple
          style="border-radius: 3px"
          @click="irA(item.url)"
        >
          <q-item-section avatar>
            <q-icon :name="item.icon" :size="$q.screen.gt.sm ? '' : 'xs'" />
          </q-item-section>
          <q-item-section>{{item.name}}</q-item-section>
        </q-item>
      </q-list>
    </q-drawer>
    <q-dialog v-model="gestionInactiva" persistent>
      <modal-gestion-inactiva />
    </q-dialog>
    <q-page-container class="background-user" :class="$q.screen.gt.sm ? '' : 'q-mt-sm'">
      <transition
        name="fade"
        mode="out-in"
        @beforeLeave="beforeLeave"
        @enter="enter"
        @afterEnter="afterEnter"
      >
        <router-view />
      </transition>
    </q-page-container>
  </q-layout>
</template>

<script>
import Notificaciones from "../components/Notificaciones/Notificaciones.vue";
import { mapActions, mapGetters, mapState } from "vuex";
import ModalGestionInactiva from "../components/ModalGestionInactiva.vue";

export default {
  name: "MainLayout",
  components: {
    Notificaciones,
    ModalGestionInactiva
  },
  data() {
    return {
      drawer: false,
      menuItems: [
        {
          name: "Inicio",
          icon: "home",
          url: "/usuario/",
          userTopBar: true
        },
        {
          name: "Mis Facturas",
          icon: "today",
          url: "/usuario/facturas"
        },
        {
          name: "Mi Monotributo",
          icon: "account_balance",
          url: "/usuario/monotributo"
        },
        {
          name: "Mis Ingresos Brutos",
          icon: "account_balance_wallet",
          url: "/usuario/ingresosbrutos"
        }
      ],
      menuExterno: [
        {
          name: "Soporte",
          icon: "assistant",
          url: "https://befreelo.com/soporte/"
        },
        {
          name: "Contacto",
          icon: "contacts",
          url: "https://befreelo.com/contacto/"
        }
      ]
    };
  },
  computed: {
    ...mapGetters("usuario", [
      "gestionInactiva",
      "telefono",
      "cuit",
      "loggedIn",
      "usuario"
    ]),
    ...mapGetters("notificaciones", ["notificacionesSinLeer"]),
    ...mapState("notificaciones", ["notificacionesExito"]),
    nombre() {
      let nombre = this.usuario.nombre + " " + this.usuario.apellido;
      if (nombre.length > 10) {
        return this.usuario.nombre;
      } else {
        return nombre;
      }
    }
  },
  methods: {
    ...mapActions("usuario", ["ActualizarToken", "CondicionUsuario", "Logout"]),
    ...mapActions("monotributo", [
      "EstadoMonotributo",
      "FacturacionesMonotributo"
    ]),
    ...mapActions("ingresosBrutos", ["TipoIibb", "FacturacionesIibb"]),
    ...mapActions("freelo", ["FacturacionesFreelo"]),
    ...mapActions("notificaciones", ["Notificaciones"]),
    irA(url) {
      window.open(url);
    },
    beforeLeave(element) {
      this.prevHeight = getComputedStyle(element).height;
    },
    enter(element) {
      const { height } = getComputedStyle(element);

      element.style.height = this.prevHeight;

      setTimeout(() => {
        element.style.height = height;
      });
    },
    afterEnter(element) {
      element.style.height = "auto";
    }
  },
  created() {
    this.ActualizarToken();
    this.EstadoMonotributo();
    this.FacturacionesMonotributo();
    this.TipoIibb();
    this.FacturacionesIibb();
    this.CondicionUsuario();
    this.FacturacionesFreelo();
    this.Notificaciones();
  },
  updated() {
    this.ActualizarToken();
  }
};
</script>

<style lang="scss">
#poppins-bold {
  font-family: Poppins-Bold;
}
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
#dropdown {
  .q-btn-dropdown__arrow {
    display: none;
  }

  .text-no-wrap > div:nth-child(2) {
    color: #be724d;
  }

  .on-left {
    color: #be724d;
  }
}
</style>
