<template>
  <q-form @submit.prevent="validarPaso1()" class="col-12 row justify-start">
    <div
      class="text-left c3A3B3F q-py-xs col-xs-12 col-md-10 q-mt-md"
      :class="$q.screen.gt.sm ? 'fuente-21' : 'fuente-17'"
    >Fecha de nacimiento</div>
    <div class="col-12 row q-gutter-x-md q-pt-xs">
      <q-input
        class="col-xs-12 col-md-2"
        label="Día"
        filled
        mask="##"
        v-model="datosFiscales.dia"
        dense
        :rules="[(val => (val && val.length > 0) || 'Este campo es obligatorio'), (val => (val <= 31) || 'Ingrese un día válido')]"
        lazy-rules
      />
      <q-select
        class="col-xs-12 col-md-4"
        label="Mes"
        filled
        :options="meses"
        v-model="datosFiscales.mes"
        dense
        :rules="[val => !!val || 'Este campo es obligatorio']"
        lazy-rules
      />
      <q-input
        class="col-xs-12 col-md-2"
        label="Año"
        filled
        mask="####"
        v-model="datosFiscales.year"
        dense
        :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
        lazy-rules
      />
    </div>
    <div class="col-12 row q-pt-lg">
      <div class="col-xs-12 col-md-4 row">
        <span class="c3A3B3F" :class="$q.screen.gt.sm ? 'fuente-21' : 'fuente-17'">Sexo</span>
        <q-select
          class="col-xs-12 col-md-11 q-pt-xs"
          label="Seleccionar"
          filled
          :options="sexo"
          v-model="datosFiscales.sexo"
          dense
          :rules="[val => !!val || 'Este campo es obligatorio']"
          lazy-rules
        />
      </div>
      <div class="col-xs-12 col-md-4 row">
        <span class="c3A3B3F" :class="$q.screen.gt.sm ? 'fuente-21' : 'fuente-17'">Estado civil</span>
        <q-select
          class="col-xs-12 col-md-11 q-pt-xs"
          label="Seleccionar"
          filled
          :options="estado"
          v-model="datosFiscales.estadoCivil"
          dense
          :rules="[val => !!val || 'Este campo es obligatorio']"
          lazy-rules
        />
      </div>
      <div class="col-xs-12 col-md-4 row">
        <span class="c3A3B3F" :class="$q.screen.gt.sm ? 'fuente-21' : 'fuente-17'">Nacionalidad</span>
        <q-select
          class="col-xs-12 col-md-11 q-pt-xs"
          label="Seleccionar"
          filled
          :options="nacionalidad"
          v-model="datosFiscales.nacionalidad"
          dense
          :rules="[val => !!val || 'Este campo es obligatorio']"
          lazy-rules
        />
      </div>
      <div class="col-12 row q-gutter-x-md" v-if="datosFiscales.nacionalidad.value === 'EXT'">
        <div
          class="text-left q-py-xs col-xs-10 c3A3B3F"
          :class="$q.screen.gt.sm ? 'fuente-21' : 'fuente-17'"
        >País de origen</div>
        <q-select
          class="col-xs-12 col-md-5 q-pt-xs"
          label="Seleccionar"
          filled
          :options="paisOrigen"
          v-model="datosFiscales.origen"
          dense
          :rules="[val => !!val || 'Este campo es obligatorio']"
          lazy-rules
        />
        <q-input
          v-model="datosFiscales.otro"
          class="q-pt-xs col-xs-12 col-md-4"
          v-if="datosFiscales.origen.label === 'Otro'"
          label="País"
          filled
          dense
          :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
          lazy-rules
        />
      </div>
    </div>
    <div class="col-12 row justify-center q-pt-md">
      <div class="col-11 row" :class="$q.screen.gt.sm ? 'justify-end' : 'justify-center'">
        <q-btn type="submit" label="Siguiente" color="accent" no-caps unelevated />
      </div>
    </div>
  </q-form>
</template>

<script>
import { mapGetters, mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      datosFiscales: {
        dia: "",
        mes: "",
        year: "",
        sexo: "",
        estadoCivil: "",
        nacionalidad: "",
        origen: "",
        otro: ""
      }
    };
  },
  computed: {
    ...mapState("opciones", [
      "meses",
      "sexo",
      "estado",
      "nacionalidad",
      "paisOrigen"
    ])
  },
  methods: {
    validarPaso1() {
      this.$emit("paso1-valido", this.datosFiscales);
    }
  }
};
</script>
