<template>
  <div class="col-12 row q-gutter-y-sm">
    <q-form @submit.prevent="agregarActividad()" class="col-12 row" ref="form">
      <div
        class="col-12 q-py-md"
        :class="$q.screen.gt.sm ? 'fuente-21 c3A3B3F' : 'fuente-17 text-bold'"
      >Fecha de Inicio de Actividad</div>
      <div class="col-12 row q-gutter-x-md" :class="$q.screen.gt.sm ? 'q-pl-md' : ''">
        <q-select
          class="col-xs-12 col-md-4"
          label="Mes"
          filled
          :disable="actividades.seleccionadas.length === 3"
          :options="meses"
          v-model="mes"
          dense
          :rules="[val => !!val || 'Este campo es obligatorio']"
          lazy-rules
        />
        <q-input
          class="col-xs-12 col-md-3"
          label="Año"
          filled
          :disable="actividades.seleccionadas.length === 3"
          mask="####"
          v-model="year"
          dense
          :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
          lazy-rules
        />
      </div>
      <div class="col-12 row" :class="$q.screen.gt.sm ? 'q-pl-md q-pt-md' : ''">
        <q-select
          filled
          v-model="nombre"
          use-input
          :disable="actividades.seleccionadas.length === 3"
          class="col-xs-12 col-md-10"
          input-debounce="0"
          label="Actividad que desarollás"
          :popup-content-style="$q.screen.gt.sm ? 'width:30%' : 'width:100%'"
          dense
          :rules="[val => !!val || 'Este campo es obligatorio']"
          lazy-rules
          :options="actividadesOpciones"
          @filter="filterFn"
          behavior="menu"
          hide-dropdown-icon
        >
          <template v-slot:append>
            <q-icon
              v-if="nombre !== ''"
              class="cursor-pointer"
              name="clear"
              @click.stop="nombre = ''"
            />
          </template>
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-grey">Sin resultados</q-item-section>
            </q-item>
          </template>
        </q-select>
      </div>
      <div class="col-10 justify-end row" :class="$q.screen.gt.sm ? '' : 'q-mt-md'">
        <q-btn
          :disable="actividades.seleccionadas.length === 3"
          type="submit"
          label="Agregar"
          no-caps
          color="primary"
          unelevated
        />
      </div>
    </q-form>
    <div
      class="col-12 q-py-md"
      :class="$q.screen.gt.sm ? 'fuente-21 c3A3B3F' : 'text-subtitle2 text-bold'"
    >Tus Actividades</div>
    <div
      class="text-negative text-caption q-mt-md q-pl-lg"
      v-if="error && actividades.seleccionadas.length === 0"
    >Si no agregás una actividad no podes continuar</div>
    <div
      class="col-12 row q-mb-md"
      v-for="(actividad, index) in actividades.seleccionadas"
      :key="index"
    >
      <q-card
        class="col-11 row q-gutter-y-md q-mt-xs"
        :class="$q.screen.gt.sm ? 'q-pb-md' : 'q-pa-sm'"
        flat
        bordered
      >
        <div class="col-12 row items-center">
          <!-- Eliminar actividad mobile -->
          <div class="col-12 justify-end row" v-if="!$q.screen.gt.sm">
            <q-btn
              @click="eliminarActividad(actividad)"
              :dense="!$q.screen.gt.sm"
              :size="$q.screen.gt.sm ? 'sm' : 'xs'"
              color="negative"
              unelevated
            >&times; Eliminar</q-btn>
          </div>
          <div
            class="col-xs-12 col-md-8 text-uppercase fuente-17"
            :class="$q.screen.gt.sm ? 'q-pl-md' : 'text-caption q-mt-sm'"
          >{{actividad.nombre.label}}</div>
          <q-space />
          <!-- Eliminar actividad desktop -->
          <div class="q-pr-md">
            <q-btn
              @click="eliminarActividad(actividad)"
              :dense="!$q.screen.gt.sm"
              :size="$q.screen.gt.sm ? 'md' : 'xs'"
              color="negative"
              unelevated
              v-if="$q.screen.gt.sm"
            >&times; Eliminar</q-btn>
          </div>
          <div class="col-12 row" :class="$q.screen.gt.sm ? 'q-pl-md' : ''">
            <q-btn
              @click="marcarPrincipal(actividad); actividad.principal = true"
              label="Marcar como Actividad Principal"
              color="info"
              unelevated
              :dense="!$q.screen.gt.sm"
              size="xs"
              v-if="!actividad.principal"
            />
            <q-btn
              @click="actividad.principal = false"
              label="Actividad Principal"
              color="primary"
              :dense="!$q.screen.gt.sm"
              unelevated
              size="xs"
              v-else
            />
          </div>
        </div>
        <div class="col-12 row text-bold" :class="$q.screen.gt.sm ? 'q-pl-md' : 'text-caption'">
          Inicio de actividad: &nbsp;
          <span style="font-weight: 500">{{actividad.fecha}}</span>
        </div>
      </q-card>
    </div>
    <div class="col-12 row text-negative q-pl-md" v-if="aviso">Como máximo podes tener 3 actividades</div>
    <div
      class="col-12 row text-negative q-pl-md"
      v-if="errorActPrincipal"
    >Tenés que marcar una actividad como principal</div>
    <div class="col-11 row justify-end q-mt-md">
      <q-form @submit.prevent="validarPaso2()" class="col-12 row justify-end">
        <q-btn type="submit" color="accent" unelevated label="Siguiente" no-caps />
      </q-form>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      actividadesOpciones: null,
      actividadesUsuario: [],
      aviso: false,
      errorActPrincipal: false,
      nombre: "",
      mes: "",
      year: "",
      error: false,
      actividades: {
        seleccionadas: [],
      },
    };
  },
  computed: {
    ...mapState("opciones", ["meses"]),
    ...mapState("opciones", ["actividadesExito"]),
    ...mapGetters("opciones", ["opcionesActividades"]),
  },
  methods: {
    ...mapActions("opciones", ["GetActividadesArba"]),
    agregarActividad() {
      let mes = this.mes.value < 10 ? "0" + this.mes.value : this.mes.value;
      let fecha = mes + "/" + this.year;
      let actividad = {
        nombre: this.nombre,
        fecha: fecha,
        mes: mes,
        year: this.year,
        principal: this.actividades.seleccionadas.length === 0,
      };
      let repetida = this.actividades.seleccionadas.filter(
        (act) => act.nombre === actividad.nombre
      );
      if (repetida.length !== 0) {
        alert(
          "Ya tenés esa actividad agregada, seleccioná otra para continuar"
        );
        return;
      }
      this.actividades.seleccionadas.push(actividad);
      this.nombre = "";
      this.mes = "";
      this.year = "";
      this.$refs.form.resetValidation();
    },
    eliminarActividad(actividad) {
      let array = this.actividades.seleccionadas.filter(
        (act) => act.nombre !== actividad.nombre
      );
      this.actividades.seleccionadas = array;
    },
    marcarPrincipal(actividad) {
      this.actividades.seleccionadas.forEach((act) => {
        act.principal = false;
      });
    },
    filterFn(val, update, abort) {
      // busqueda con delay
      setTimeout(() => {
        update(() => {
          if (val === "") {
            this.actividadesOpciones = this.opcionesActividades;
          } else {
            const needle = val.toLowerCase();
            this.actividadesOpciones = this.opcionesActividades.filter(
              (v) => v.label.toLowerCase().indexOf(needle) > -1
            );
          }
        });
      }, 500);
    },
    fechaValidaAct() {
      if (this.actividades.fecha !== "") {
        this.actividades.sinFecha = false;
      }
    },
    validarPaso2() {
      if (this.actividades.seleccionadas.length === 0) {
        this.error = true;
      } else {
        let principal = this.actividades.seleccionadas.find(
          (act) => act.principal
        );
        if (!principal) {
          this.errorActPrincipal = true;
          return;
        } else {
          this.errorActPrincipal = false;
        }
        this.error = false;
        this.$emit("paso2-valido", this.actividades);
      }
    },
  },
  created() {
    this.GetActividadesArba()
      .then((result) => {
        this.actividadesOpciones = this.opcionesActividades;
      })
      .catch((err) => {});
  },
};
</script>
