<template>
  <q-form @submit.prevent="validarPaso3()" class="col-12 row">
    <div class="col-12 row" :class="$q.screen.gt.sm ? 'q-pl-md q-mt-xs' : ''">
      <div class="col-12 row q-gutter-x-md items-start q-mb-sm">
        <q-select
          class="col-xs-12 col-md-4"
          label="Provincia"
          dense
          hide-bottom-space
          @input="obtenerLocalidades(domicilios.fiscal.provincia)"
          v-model="domicilios.fiscal.provincia"
          :options="opcionesProvincias"
          filled
          lazy-rules
          :rules="[val => !!val || 'Este campo es obligatorio']"
        />
        <q-select
          class="col-xs-12 col-md-4"
          label="Localidad"
          dense
          hide-bottom-space
          :options="opcionesLocalidades"
          v-model="domicilios.fiscal.ciudad"
          filled
          lazy-rules
          :rules="[val => !!val || 'Este campo es obligatorio']"
        />
        <q-select
          :class="$q.screen.gt.sm ? 'col' : 'col-xs-12'"
          label="Partido"
          dense
          hide-bottom-space
          v-model="domicilios.fiscal.partido"
          :options="opcionesPartidos"
          filled
          lazy-rules
          :rules="[val => !!val || 'Este campo es obligatorio']"
        />
      </div>
      <div
        class="col-12 row q-gutter-x-md q-mb-sm items-start"
        :class="$q.screen.gt.sm ? 'q-pt-sm' : ''"
      >
        <div
          class="row col-xs-12 col-md-4 justify-between items-start"
          :class="$q.screen.gt.sm ? '' : 'q-gutter-y-md'"
        >
          <q-input
            class="col-xs-12 col-md-2"
            label="Ruta"
            dense
            v-model="domicilios.fiscal.ruta"
            filled
            :style="$q.screen.gt.sm ? 'width: 60%' : ''"
          />
          <q-input
            class="col-xs-12 col-md-1"
            label="Km"
            mask="######"
            dense
            v-model="domicilios.fiscal.km"
            filled
            :style="$q.screen.gt.sm ? 'width: 35%' : ''"
          />
        </div>
        <q-input
          :class="$q.screen.gt.sm ? '' : 'q-mt-md'"
          class="col-xs-12 col-md-4"
          label="Código Postal"
          dense
          hide-bottom-space
          v-model="domicilios.fiscal.cp"
          mask="####"
          filled
          lazy-rules
          :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
        />
      </div>
      <div class="col-12 row q-gutter-x-md items-start" :class="$q.screen.gt.sm ? 'q-pt-sm' : ''">
        <q-input
          class="col-xs-12 col-md-4"
          label="Calle"
          dense
          v-model="domicilios.fiscal.calle"
          filled
          hide-bottom-space
          lazy-rules
          :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
        />
        <div class="row col-xs-12 col-md-5 items-start justify-start q-mb-sm">
          <q-input
            class="col-xs-12 col-md-6 q-mr-sm"
            label="Número"
            dense
            v-model="domicilios.fiscal.numero"
            filled
            hide-bottom-space
            :class="$q.screen.gt.sm ? '' : 'q-mb-sm'"
            lazy-rules
            :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
          />
          <q-input
            class="col-xs-12 col-md-5"
            label="Piso"
            dense
            filled
            v-model="domicilios.fiscal.piso"
          />
        </div>
      </div>
      <div class="col-12 row q-pt-sm" :class="$q.screen.gt.sm ? '' : 'q-gutter-y-md'">
        <q-input
          class="col-xs-12 col-md-4 q-mr-xs"
          label="Oficina, Dto o local"
          dense
          filled
          v-model="domicilios.fiscal.oficina"
        />
        <div class="col-xs-12 col-md-5 row items-start q-ml-sm justify-start">
          <q-input
            class="col-xs-12 col-md-6 q-mr-sm q-ml-xs"
            label="Sector"
            dense
            filled
            v-model="domicilios.fiscal.sector"
          />
          <q-input
            :class="$q.screen.gt.sm ? '' : 'q-mt-md'"
            class="col-xs-12 col-md-5"
            label="Torre"
            dense
            filled
            v-model="domicilios.fiscal.torre"
          />
        </div>
        <div class="col row" :class="$q.screen.gt.sm ? 'q-ml-xs' : 'q-ml-xs col-12'">
          <q-input
            class="col-xs-12 col-md-12"
            label="Manzana"
            dense
            filled
            v-model="domicilios.fiscal.manzana"
          />
        </div>
      </div>
    </div>
    <div class="col-12 justify-center row q-pt-xl">
      <div class="col-11 row justify-end q-pr-lg">
        <q-btn unelevated type="submit" label="Continuar" color="accent" no-caps />
      </div>
    </div>
  </q-form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  props: ["domicilio"],
  data() {
    return {
      domicilios: {
        fiscal: {
          provincia: "",
          cp: "",
          ciudad: "",
          partido: "",
          ruta: "",
          km: "",
          calle: "",
          numero: "",
          piso: "",
          oficina: "",
          sector: "",
          torre: "",
          manzana: "",
        },
      },
    };
  },
  computed: {
    ...mapGetters("opciones", [
      "opcionesProvincias",
      "provinciasExito",
      "provinciasError",
      "provinciasPendiente",
      "opcionesLocalidades",
      "localidadesExito",
      "localidadesError",
      "localidadesPendiente",
      "opcionesPartidos",
      "partidosExito",
      "partidosError",
      "partidosPendiente",
    ]),
  },
  methods: {
    ...mapActions("opciones", [
      "GetProvincias",
      "GetLocalidadesPorProvincia",
      "GetPartidosPorProvincia",
    ]),
    copiarDomicilio() {
      this.domicilios.actividades = { ...this.domicilios.fiscal };
    },
    obtenerLocalidades(provincia) {
      this.GetLocalidadesPorProvincia({ provincia: provincia.label });
      this.GetPartidosPorProvincia({ provincia: provincia.label });
    },
    validarPaso3() {
      this.$emit("paso3-valido", this.domicilios);
    },
  },
  mounted() {
    this.GetProvincias({});
    if (this.domicilio) {
      this.domicilios.fiscal.provincia = this.domicilio.provincia;
      this.domicilios.fiscal.ciudad = this.domicilio.ciudad;
      this.domicilios.fiscal.cp = this.domicilio.cp;
      this.domicilios.fiscal.calle = this.domicilio.calle;
      this.domicilios.fiscal.numero = this.domicilio.numero;
      this.domicilios.fiscal.piso = this.domicilio.piso;
      this.domicilios.fiscal.oficina = this.domicilio.oficina;
      this.domicilios.fiscal.sector = this.domicilio.sector;
      this.domicilios.fiscal.torre = this.domicilio.torre;
      this.domicilios.fiscal.manzana = this.domicilio.manzana;
      this.obtenerLocalidades(this.domicilios.fiscal.provincia);
    }
  },
};
</script>
