<template>
  <q-page padding>
    <!-- {{product(376)}} -->
    <span>api calls</span>

    <form @submit.prevent="submit" v-if="!loggedIn">
      {{loggedIn}}
      <label for="email">Email:</label>
      <input v-model="email" type="email" name="email" value />

      <label for="password">Password:</label>
      <input v-model="password" type="password" name="password" value />

      <button type="submit" name="button">Login</button>
      <p>{{error}}</p>

      <router-link to="/register">Don't have an account? Register.</router-link>
    </form>

    <div v-else>
      <button @click="Logout">Logout</button>
    </div>

    <div class="text-green" v-if="loggedIn">Estas autenticado</div>
    <div class="text-red">{{error}}</div>

    <hr />

    <div></div>
  </q-page>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import axios from "axios";

export default {
  data() {
    return {
      email: "testfreelo123@gmail.com",
      password: "123456",
      error: null
    };
  },
  computed: {
    ...mapGetters("usuario", ["loggedIn"])
  },
  methods: {
    ...mapActions("usuario", ["Login", "Logout"]),

    submit() {
      this.Login({
        email: this.email,
        password: this.password
      })
        .then(a => {
          //   location.reload();
        })
        .catch(err => {
          // console.log(err);
          this.error = err;
        });
    }
  }
};
</script>
