<template>
  <div>
    <q-card flat>
      <q-card-section>
        Para dar de baja su monotributo tendrá que completar los siguientes campos
        <q-form @submit="mostrarDialogo()" class="col-12 row q-pt-md q-gutter-y-xs">
          <div class="col-12 row justify-center">
            <q-input
              dense
              class="col-xs-12 col-md-6"
              v-model="apellido"
              label="Apellido"
              outlined
              lazy-rules
              :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
            />
          </div>
          <div class="col-12 row justify-center">
            <q-input
              dense
              class="col-xs-12 col-md-6"
              v-model="nombre"
              label="Nombre"
              outlined
              lazy-rules
              :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
            />
          </div>
          <div class="col-12 row justify-center">
            <q-input
              dense
              class="col-xs-12 col-md-6"
              v-model="claveFiscal"
              label="Clave Fiscal"
              outlined
              lazy-rules
              :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
            />
          </div>
          <div class="col-12 row justify-center">
            <q-input
              dense
              class="col-xs-12 col-md-6"
              v-model="pass"
              type="password"
              label="Contraseña"
              outlined
              lazy-rules
              :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
            />
          </div>
          <div class="col-12 row justify-center">
            <q-input
              dense
              class="col-xs-12 col-md-6"
              v-model="eliminar"
              label="Escriba la palabra ELIMINAR"
              outlined
              lazy-rules
              :rules="[val => (val === 'ELIMINAR') || 'Escriba la palabra ELIMINAR']"
            />
          </div>
          <div class="col-12 row justify-center q-pt-xs">
            <div class="col-6 row justify-center">
              <q-btn label="Dar de baja" unelevated color="red" type="submit" />
            </div>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
    <q-dialog v-model="dialogo">
      <modal-baja-monotributo @dar-de-baja="bajaMonotributoConfirmacion" />
    </q-dialog>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import ModalBajaMonotributo from "./ModalBajaMonotributo.vue";

export default {
  components: {
    ModalBajaMonotributo,
  },
  data() {
    return {
      apellido: "",
      nombre: "",
      claveFiscal: "",
      pass: "",
      eliminar: "",
      dialogo: false,
    };
  },
  computed: {
    ...mapState("usuario", ["respuesta"]),
  },
  methods: {
    ...mapActions("usuario", ["BajaMonotributo", "Logout"]),
    mostrarDialogo() {
      this.dialogo = true;
    },
    bajaMonotributoConfirmacion() {
      this.BajaMonotributo({
        clave_afip: this.claveFiscal,
        contraseña: this.pass,
        baja_iibb: false,
      })
        .then((result) => {
          if (this.respuesta.success) {
            this.$q.notify({
              message: "Operación exitosa.",
              icon: "check",
              color: "positive",
            });
            setTimeout(() => {
              this.Logout();
            }, 3000);
          } else {
            this.$q.notify({
              message:
                "Controle que su clave fiscal y contraseña sean correctas.",
              icon: "fas fa-times",
              color: "red",
            });
          }
        })
        .catch((err) => {
          this.$q.notify({
            message:
              "Controle que su clave fiscal y contraseña sean correctas.",
            icon: "fas fa-times",
            color: "red",
          });
        });
    },
  },
};
</script>
