<template>
  <q-card>
    <q-card-section>
      <q-form @submit.prevent="guardarCambios()" class="col-12 row">
        <div class="col-12 row justify-center">
          <q-input
            v-model="oldPass"
            type="password"
            class="col-xs-12 col-md-5"
            dense
            lazy-rules
            :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
            label="Ingrese su contraseña actual"
            outlined
          />
        </div>
        <div class="col-12 row justify-center" :class="$q.screen.gt.sm ? 'q-pt-md' : 'q-pt-xs'">
          <q-input
            v-model="newPass"
            type="password"
            class="col-xs-12 col-md-5"
            dense
            lazy-rules
            :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
            label="Ingrese su nueva contraseña"
            outlined
          />
        </div>
        <div class="col-12 row justify-center" :class="$q.screen.gt.sm ? 'q-pt-xs' : ''">
          <q-input
            v-model="repeatPass"
            type="password"
            class="col-xs-12 col-md-5"
            dense
            label="Repita la contraseña"
            outlined
            lazy-rules
            :rules="[val => (val === newPass) || 'Las contraseñas deben ser iguales']"
          />
        </div>
        <div class="col-12 row justify-center" :class="$q.screen.gt.sm ? 'q-pt-lg' : ''">
          <div class="col-6 row justify-center">
            <q-btn label="Guardar" unelevated type="submit" color="positive" />
          </div>
        </div>
      </q-form>
    </q-card-section>
  </q-card>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      oldPass: "",
      newPass: "",
      repeatPass: ""
    };
  },
  computed: {
    ...mapState("usuario", ["respuesta"])
  },
  methods: {
    ...mapActions("usuario", ["CambiarContrasena"]),
    guardarCambios() {
      this.CambiarContrasena({
        contraseña_actual: this.oldPass,
        contraseña_nueva: this.newPass
      })
        .then(result => {
          if (this.respuesta.success) {
            this.$q.notify({
              message: "Cambios guardados con éxito.",
              icon: "check",
              color: "positive"
            });
          } else {
            this.$q.notify({
              message: "Contraseña actual incorrecta",
              icon: "fas fa-times",
              color: "red"
            });
          }
        })
        .catch(() => {
          this.$q.notify({
            message: "Contraseña actual incorrecta",
            icon: "fas fa-times",
            color: "red"
          });
        });
    }
  }
};
</script>
