<template>
  <q-card>
    <q-card-section>
      <q-form @submit.prevent="guardarCambios()" class="row q-gutter-y-md justify-center">
        <div class="col-xs-12 col-md-6 row justify-center">
          <q-input v-model="apellido" disable dense class="col-10" label="Apellido" outlined />
        </div>
        <div class="col-xs-12 col-md-6 row justify-center">
          <q-input v-model="nombres" disable dense class="col-10" label="Nombres" outlined />
        </div>
        <div class="col-xs-12 col-md-6 row justify-center items-start">
          <q-input
            v-model="email"
            :disable="!editable"
            class="col-10"
            hide-bottom-space
            label="Email"
            dense
            outlined
            lazy-rules
            :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
          >
            <q-tooltip
              content-class="bg-dark"
              transition-show="flip-right"
              transition-hide="flip-left"
              anchor="bottom left"
              :offset="[0, 12]"
              self="center left"
            >Si cambia el email también cambiará el email que usa para Iniciar Sesión</q-tooltip>
          </q-input>
        </div>
        <div class="col-xs-12 col-md-6 row justify-center items-start">
          <q-input v-model="whatsapp" disable dense class="col-10" label="Telefono" outlined />
        </div>
        <div class="col-xs-12 col-md-6 row justify-center items-start">
          <q-input
            v-model="whatsapp"
            :disable="!editable"
            mask="(##) ### ###-####"
            dense
            class="col-10"
            hide-bottom-space
            label="Whatsapp"
            outlined
            lazy-rules
            :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
          />
        </div>
        <div class="col-xs-12 col-md-6 row justify-center items-start">
          <q-input
            v-model="CUIT"
            mask="##-########-#"
            disable
            dense
            class="col-10"
            label="CUIT"
            outlined
          />
        </div>
        <div class="col-11 justify-start">
          <q-checkbox
            :disable="!editable"
            label="No quiero recibir notificaciones por email"
            v-model="notificaciones"
          />
        </div>
        <div class="col-12 row justify-center q-pt-md">
          <div class="col-6 row justify-center">
            <q-btn
              label="Editar"
              color="secondary"
              unelevated
              type="a"
              @click="formEditable()"
              v-if="!editable"
            />
            <q-btn label="Guardar Cambios" unelevated color="positive" v-else type="submit" />
          </div>
        </div>
      </q-form>
    </q-card-section>
  </q-card>
</template>

<script>
import { mapActions, mapState, mapGetters } from "vuex";
export default {
  data() {
    return {
      editable: false,
      confirmar: false,
      apellido: "",
      nombres: "",
      email: "",
      telefono: "",
      whatsapp: "",
      CUIT: "",
      password: "",
      notificaciones: false,
    };
  },
  computed: {
    ...mapState("usuario", ["respuesta"]),
    ...mapGetters("usuario", ["usuario", "recibeMail"]),
  },
  methods: {
    ...mapActions("usuario", ["ActualizarDatosPersonales"]),
    formEditable() {
      this.editable = true;
    },
    guardarCambios() {
      this.ActualizarDatosPersonales({
        recibe_email: !this.notificaciones,
        persona: {
          // nombre: this.nombre,
          // apellido: this.apellido,
        },
        telefono: this.whatsapp,
        email: this.email,
      })
        .then((result) => {
          if (this.respuesta.success) {
            this.editable = false;
            this.$q.notify({
              message: "Cambios guardados con éxito.",
              icon: "check",
              color: "positive",
            });
          } else {
            this.$q.notify({
              message:
                "Hubo un error procesando su pedido. Intente nuevamente. Si el error persiste intente relogeando",
              icon: "fas fa-times",
              color: "red",
            });
          }
        })
        .catch((err) => {
          this.$q.notify({
            message:
              "Hubo un error procesando su pedido. Intente nuevamente. Si el error persiste intente relogeando",
            icon: "fas fa-times",
            color: "red",
          });
        });
    },
  },
  mounted() {
    if (this.usuario) {
      this.apellido = this.usuario.apellido;
      this.nombres = this.usuario.nombre;
      this.email = this.usuario.email;
      this.telefono = this.usuario.telefono;
      this.whatsapp = this.usuario.telefono;
      this.CUIT = this.usuario.cuit;
    }
    this.notificaciones = !this.recibeMail;
  },
};
</script>
