<template>
  <q-card style="width: 483px">
    <q-card-section class="text-center q-pb-xs q-pt-md">
      <q-icon name="fas fa-exclamation-triangle" size="xl" style="color: #AB4532"></q-icon>
      <div class="fuente-21 text-bold cAB4532 q-pt-sm">Esta acción no tiene marcha atrás</div>
    </q-card-section>
    <q-card-section class="fuente-17 c3A3B3F text-center q-py-none q-px-md">
      Si deseas dar de baja tu monotributo apretá continuar,
      <br />sino cancelar para no realizar la acción
    </q-card-section>

    <q-card-actions align="center" class="q-pb-md">
      <q-btn
        unelevated
        label="Dar de baja"
        class="text-white"
        style="background: #BE6C40"
        @click="bajaDefinitiva()"
        no-caps
      />
      <q-btn unelevated label="Cancelar" color="primary" v-close-popup no-caps />
    </q-card-actions>
  </q-card>
</template>

<script>
export default {
  methods: {
    bajaDefinitiva() {
      this.$emit("dar-de-baja");
    },
  },
};
</script>
