<template>
  <q-card style="width: 483px">
    <q-card-section class="text-center q-pt-md">
      <img src="../../assets/mascota freelo azul-02.png" height="60px" />
      <div class="fuente-17 text-bold c3A3B3F">Nos entristece que te vayas de Freelo</div>
    </q-card-section>
    <q-card-section class="fuente-14 c3A3B3F text-center q-py-xs">
      Recuerda que dar de baja la cuenta Freelo
      <br />hará que se elimine toda la información
      <br />que tienes hasta el momento.
    </q-card-section>
    <q-card-section class="q-pt-md">
      <q-input
        placeholder="Nos ayuda saber por qué te vas."
        rounded
        class="col-12 q-px-lg"
        v-model="motivo"
        filled
        hide-bottom-space
        type="textarea"
        :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
        lazy-rules
      />
    </q-card-section>

    <q-card-actions align="center" class="q-pb-md">
      <q-btn
        unelevated
        label="Dar de baja"
        class="text-white"
        style="background: #AB4532"
        @click="bajaDefinitiva()"
        no-caps
      />
      <q-btn unelevated label="Cancelar" color="primary" v-close-popup no-caps />
    </q-card-actions>
  </q-card>
</template>

<script>
export default {
  data() {
    return {
      motivo: "",
    };
  },
  methods: {
    enviarMotivo() {
      this.$q.notify({
        message: "Tu motivo ha sido enviado.",
        icon: "check",
        color: "green",
      });
      this.motivo = "";
      this.$refs.form.resetValidation();
    },
    bajaDefinitiva() {
      this.$emit("dar-de-baja", this.motivo);
    },
  },
};
</script>

<style lang="scss">
.q-textarea > div:nth-child(1) > div:nth-child(1) {
  border-radius: 9px;
}
</style>
