<template>
  <q-form @submit.prevent="validarPaso3()" class="col-12 row">
    <div class="col-12 row" :class="$q.screen.gt.sm ? 'q-pl-md' : ''">
      <div class="col-12 row" :class="$q.screen.gt.sm ? 'q-pt-sm' : ''">
        <div
          class="col-xs-12 row col-md-4 justify-between items-start"
          :class="$q.screen.gt.sm ? '' : 'q-gutter-y-md'"
        >
          <q-input
            class="col-xs-12 col-md-"
            label="Ruta"
            dense
            v-model="domicilios.comercial.ruta"
            filled
            :style="$q.screen.gt.sm ? 'width: 60%' : ''"
          />
          <q-input
            class="col-xs-12"
            label="Km"
            mask="######"
            dense
            v-model="domicilios.comercial.km"
            filled
            :style="$q.screen.gt.sm ? 'width: 35%' : ''"
          />
        </div>

        <q-input
          class="col-xs-12"
          :class="$q.screen.gt.sm ? 'q-ml-md' : ''"
          label="Barrio"
          dense
          v-model="domicilios.comercial.barrio"
          filled
          :style="$q.screen.gt.sm ? 'width: 39%' : ''"
        />
      </div>
      <div class="col-12 row q-pt-md q-gutter-x-md items-start">
        <q-input
          class="col-xs-12 col-md-4"
          label="Calle"
          dense
          v-model="domicilios.comercial.calle"
          hide-bottom-space
          filled
          lazy-rules
          :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
        />
        <div class="row col-xs-12 col-md-5 items-start justify-start">
          <q-input
            class="col-xs-12 col-md-6 q-mr-sm"
            label="Número"
            dense
            v-model="domicilios.comercial.numero"
            hide-bottom-space
            filled
            :class="$q.screen.gt.sm ? '' : 'q-mb-sm'"
            lazy-rules
            :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
          />
          <q-input
            class="col-xs-12 col-md-5"
            label="Piso"
            dense
            filled
            v-model="domicilios.comercial.piso"
          />
        </div>
      </div>
      <div class="col-12 row q-pt-md" :class="$q.screen.gt.sm ? '' : 'q-gutter-y-md'">
        <q-input
          class="col-xs-12 col-md-4 q-mr-sm"
          label="Oficina, Dto o local"
          dense
          filled
          v-model="domicilios.comercial.oficina"
        />
        <div
          class="col-xs-12 col-md-5 row items-start"
          :class="$q.screen.gt.sm ? 'q-ml-sm' : 'q-gutter-y-md'"
        >
          <q-input
            class="col-xs-12 col-md-6 q-mr-sm"
            label="Sector"
            dense
            filled
            v-model="domicilios.comercial.sector"
          />
          <q-input
            class="col-xs-12 col-md-5"
            label="Torre"
            dense
            filled
            v-model="domicilios.comercial.torre"
          />
        </div>
        <div class="col row" :class="$q.screen.gt.sm ? 'q-ml-xs' : 'col-12'">
          <q-input
            class="col-xs-12 col-md-12"
            label="Manzana"
            dense
            filled
            v-model="domicilios.comercial.manzana"
          />
        </div>
      </div>
    </div>
    <div class="col-12 justify-center row q-pt-xl">
      <div class="col-11 row justify-end q-pr-lg">
        <q-btn unelevated type="submit" label="Continuar" color="accent" no-caps />
      </div>
    </div>
  </q-form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  props: ["domicilio"],
  data() {
    return {
      domicilios: {
        comercial: {
          ruta: "",
          km: "",
          barrio: "",
          calle: "",
          numero: "",
          piso: "",
          oficina: "",
          sector: "",
          torre: "",
          manzana: "",
        },
      },
    };
  },
  methods: {
    validarPaso3() {
      this.$emit("paso3-valido", this.domicilios);
    },
  },
  mounted() {
    if (this.domicilio) {
      this.domicilios.comercial.calle = this.domicilio.calle;
      this.domicilios.comercial.numero = this.domicilio.numero;
      this.domicilios.comercial.piso = this.domicilio.piso;
      this.domicilios.comercial.oficina = this.domicilio.oficina;
      this.domicilios.comercial.sector = this.domicilio.sector;
      this.domicilios.comercial.torre = this.domicilio.torre;
      this.domicilios.comercial.manzana = this.domicilio.manzana;
    }
  },
};
</script>
