<template>
  <q-form @submit.prevent="validarPaso1()" class="col-12 row">
    <div
      class="col-12 row q-pb-sm c3A3B3F"
      :class="$q.screen.gt.sm ? 'fuente-21' : 'fuente-17'"
    >Seleccioná el régimen en el cual te querés inscribir</div>
    <div class="col-12 row">
      <q-select
        filled
        v-model="categoria.regimen"
        class="col-xs-12 col-md-6"
        label="Seleccionar"
        :dense="!$q.screen.gt.sm"
        :rules="[val => !!val || 'Este campo es obligatorio']"
        lazy-rules
        :options="opciones"
      ></q-select>
    </div>
    <div class="col-12 row" v-if="categoria.regimen.value === 'simp'">
      <div
        class="col-12 row q-pb-sm q-pt-lg c3A3B3F"
        :class="$q.screen.gt.sm ? 'fuente-21' : 'fuente-17'"
      >Seleccioná la categoría en la cual te querés inscribir</div>
      <q-select
        filled
        v-model="categoria.categoria"
        class="col-xs-12 col-md-4"
        label="Seleccionar"
        :dense="!$q.screen.gt.sm"
        :rules="[val => !!val || 'Este campo es obligatorio']"
        lazy-rules
        :options="simplificado"
      ></q-select>
    </div>
    <div class="col-11 row justify-end q-mt-md">
      <q-btn type="submit" color="accent" unelevated label="Siguiente" no-caps />
    </div>
  </q-form>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      categoria: {
        regimen: "",
        categoria: ""
      },
      opciones: [
        { label: "ISIB Régimen General", value: "gral" },
        { label: "ISIB Régimen Simplificado", value: "simp" }
      ]
    };
  },
  computed: {
    ...mapState("opciones", ["simplificado"])
  },
  methods: {
    validarPaso1() {
      this.$emit("paso1-valido", this.categoria);
    }
  }
};
</script>