<template>
  <q-form @submit.prevent="agregarFamiliar()" class="col-12 row" ref="form">
    <div
      class="col-12 row text-bold"
      :class="$q.screen.gt.sm ? 'q-pl-md fuente-17' : 'fuente-15'"
    >Ingresá los datos de tu familiar</div>
    <div
      class="col-12 row q-py-md q-gutter-x-lg"
      :class="$q.screen.gt.sm ? 'q-pl-lg q-gutter-y-md ' : ''"
    >
      <q-input
        v-model="familiar.cuit"
        class="col-xs-12 col-md-4"
        unmasked-value
        :rules="[(val => (val && val.length > 0) || 'Este campo es obligatorio'), (val => (val && val.length === 11) || 'Ingrese un número de CUIL válido')]"
        lazy-rules
        :dense="!$q.screen.gt.sm"
        filled
        label="CUIL"
        mask="##-########-#"
      />
      <q-input
        v-model="familiar.nombre"
        class="col-xs-12 col-md-6"
        :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
        lazy-rules
        :dense="!$q.screen.gt.sm"
        filled
        label="Nombre y Apellido"
      />
      <q-select
        v-model="familiar.vinculo"
        :options="vinculos"
        :rules="[val => !!val || 'Este campo es obligatorio']"
        lazy-rules
        hide-bottom-space
        :dense="!$q.screen.gt.sm"
        class="col-xs-12 col-md-4"
        filled
        label="Vinculo"
      />
      <div
        class="col-xs-12 col-md-2 row items-center"
        :class="$q.screen.gt.sm ? '' : 'justify-center q-mt-md'"
      >
        <q-btn type="submit" label="Agregar familiar" no-caps dense unelevated color="positive" />
      </div>
      <div
        class="col-12 text-caption q-pl-sm text-negative q-pb-xs"
        v-if="this.errorAgregarConyuge"
      >No podés agregar a tu cónyuge porque tenes aporte unificado</div>
    </div>
  </q-form>
</template>

<script>
export default {
  props: ["errorAgregarConyuge"],
  data() {
    return {
      vinculos: ["Cónyuge", "Hijo/a", "Menor/Tutelado"],
      familiar: {
        cuit: "",
        nombre: "",
        vinculo: "",
      },
    };
  },
  methods: {
    agregarFamiliar() {
      this.$emit("agregar-familiar", this.familiar);
    },
  },
};
</script>
