<template>
  <div class="col-12 row q-gutter-y-sm">
    <!-- Sin obra social -->
    <div class="col-12 row" v-if="respuesta">
      <q-form @submit.prevent="sinObra()" class="col-12">
        <div
          class="col-12 row q-pt-md text-bold"
          :class="$q.screen.gt.sm ? 'fuente-21' : 'fuente-17'"
        >No tenés que elegir obra social porque ya tenés una.</div>
        <div
          class="col-12 row"
          :class="$q.screen.gt.sm ? 'fuente-17' : 'fuente-15'"
        >En el paso anterior indicaste que sos empleado en relación de dependencia.</div>
        <div class="col-12 row justify-end q-mt-md">
          <q-btn type="submit" color="secondary" label="Siguiente" unelevated no-caps />
        </div>
      </q-form>
    </div>
    <!-- Trabajador Independiente -->
    <div class="col-12 row" v-else>
      <q-form @submit.prevent="validarPaso7()" class="col-12 row">
        <div class="col-12 text-h6 row q-pt-md">
          <q-select
            :rules="[val => !!val || 'Este campo es obligatorio']"
            lazy-rules
            use-input
            input-debounce="0"
            :dense="!$q.screen.gt.sm"
            :popup-content-style="$q.screen.gt.sm ? 'width:39%' : 'width:100%'"
            v-model="monotributo3.obraSocial"
            :options="opcionesObraSocial"
            class="col-xs-12 col-md-6"
            @filter="filterFn"
            behavior="menu"
            hide-dropdown-icon
            filled
            label="Seleccioná tu obra social"
          >
            <template v-slot:append>
              <q-icon
                v-if="monotributo3.obraSocial !== '' "
                class="cursor-pointer"
                name="clear"
                @click.stop="monotributo3.obraSocial = ''"
              />
            </template>
            <template v-slot:no-option>
              <q-item>
                <q-item-section class="text-grey">Sin resultados</q-item-section>
              </q-item>
            </template>
          </q-select>
        </div>
        <div class="col-12 row">
          <div
            class="col-12 row text-bold"
            :class="$q.screen.gt.sm ? 'q-pt-md fuente-17' : 'fuente-15'"
          >¿Querés sumar tus aportes a los de tu cónyuge?</div>
          <div class="col-12 row q-py-md">
            <q-option-group
              :class="$q.screen.gt.sm ? 'fuente-17' : ''"
              :dense="!$q.screen.gt.sm"
              @input="errorConyuge = false"
              v-model="monotributo3.aportesConyuge"
              :options="opciones"
            />
          </div>
          <div
            class="col-12 text-caption q-pl-sm text-negative q-pb-xs"
            v-if="this.errorConyuge"
          >Tenés que seleccionar una opción para continuar</div>
          <div class="col-12 row" v-if="monotributo3.aportesConyuge">
            <div
              class="col-12 row text-bold"
              :class="$q.screen.gt.sm ? 'q-pl-md fuente-17' : 'fuente-15'"
            >Ingresá los datos de tu cónyuge</div>
            <div
              class="col-12 row q-py-md q-gutter-x-lg"
              :class="$q.screen.gt.sm ? 'q-pl-lg ' : ''"
            >
              <q-input
                :rules="[(val => (val && val.length > 0) || 'Este campo es obligatorio'), (val => (val && val.length === 11) || 'Ingrese un número de CUIL válido')]"
                lazy-rules
                v-model="monotributo3.cuitConyuge"
                class="col-xs-12 col-md-4"
                unmasked-value
                :dense="!$q.screen.gt.sm"
                filled
                label="CUIL"
                mask="##-########-#"
              />
              <q-input
                :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
                lazy-rules
                v-model="monotributo3.nombreConyuge"
                :dense="!$q.screen.gt.sm"
                class="col-xs-12 col-md-6"
                filled
                label="Nombre y Apellido"
              />
            </div>
          </div>
          <div
            class="col-12 row text-bold"
            :class="$q.screen.gt.sm ? 'q-pt-md fuente-17' : 'fuente-15'"
          >¿Querés agregar miembros de tu familia a tu obra social?</div>
          <div class="col-12 row q-pt-md">
            <q-option-group
              :class="$q.screen.gt.sm ? 'fuente-17' : ''"
              :dense="!$q.screen.gt.sm"
              @input="errorFamiliar = false"
              v-model="monotributo3.agregarFamiliar"
              :options="opciones"
            />
          </div>
          <div
            class="col-12 text-caption q-pl-sm text-negative q-pb-xs"
            v-if="errorFamiliar"
          >Tenés que seleccionar una opción para continuar</div>
          <div class="col-12 row q-pt-md" v-if="monotributo3.agregarFamiliar">
            <agregar-familiar
              @agregar-familiar="agregarFamiliar"
              :errorAgregarConyuge="errorAgregarConyuge"
            />
            <div class="col-12 row" v-if="monotributo3.familiares.length > 0">
              <div
                class="col-12 row text-bold"
                :class="$q.screen.gt.sm ? 'q-pl-md' : 'text-caption'"
              >Familiares:</div>
              <q-markup-table
                flat
                :dense="!$q.screen.gt.sm"
                class="col-xs-12 col-md-6"
                :class="$q.screen.gt.sm ? 'q-pl-md' : ''"
              >
                <thead class="text-bold">
                  <tr>
                    <th class="text-left" style="font-weight: 900; font-size:19px">CUIL</th>
                    <th class="text-left" style="font-weight: 900; font-size:19px">Nombre</th>
                    <th class="text-left" style="font-weight: 900; font-size:19px">Vínculo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(persona, index) in monotributo3.familiares" :key="index">
                    <td class="text-left" style="font-size:17px">{{persona.cuit}}</td>
                    <td class="text-left" style="font-size:17px">{{persona.nombre}}</td>
                    <td class="text-left" style="font-size:17px">{{persona.vinculo}}</td>
                    <td class="text-left">
                      <q-btn
                        unelevated
                        color="negative"
                        @click="eliminarFamiliar(persona)"
                        size="sm"
                      >&times; Eliminar</q-btn>
                    </td>
                  </tr>
                </tbody>
              </q-markup-table>
            </div>
          </div>
        </div>
        <div class="col-10 row justify-end q-mt-md">
          <q-btn type="submit" color="accent" label="Siguiente" unelevated no-caps />
        </div>
      </q-form>
    </div>
  </div>
</template>

<script>
import AgregarFamiliar from "./AgregarFamiliar.vue";
import { mapActions, mapGetters } from "vuex";

export default {
  props: ["respuesta"],
  components: {
    AgregarFamiliar,
  },
  data() {
    return {
      errorConyuge: false,
      errorFamiliar: false,
      errorAgregarConyuge: false,
      monotributo3: {
        obraSocial: "",
        aportesConyuge: "",
        cuitConyuge: "",
        nombreConyuge: "",
        agregarFamiliar: "",
        familiares: [],
      },
      familiar: {
        cuit: "",
        nombre: "",
        vinculo: "",
      },
      opcionesObraSocial: null,
      opciones: [
        { label: "Si", value: true },
        { label: "No", value: false },
      ],
    };
  },
  computed: {
    ...mapGetters("opciones", ["opcionesOS"]),
  },
  methods: {
    ...mapActions("opciones", ["GetObrasSociales"]),
    agregarFamiliar(familiar) {
      this.familiar = familiar;
      if (
        this.monotributo3.aportesConyuge &&
        this.familiar.vinculo === "Cónyuge"
      ) {
        this.errorAgregarConyuge = true;
        return;
      } else {
        this.errorAgregarConyuge = false;
      }
      let persona = {
        nombre: this.familiar.nombre,
        cuit: this.familiar.cuit,
        vinculo: this.familiar.vinculo,
      };
      this.monotributo3.familiares.push(persona);
    },
    eliminarFamiliar(persona) {
      let array = this.monotributo3.familiares.filter(
        (familiar) => familiar.cuit !== persona.cuit
      );
      this.monotributo3.familiares = array;
    },
    validarPaso7() {
      if (this.monotributo3.aportesConyuge === "") {
        this.errorConyuge = true;
        return;
      }
      if (this.monotributo3.agregarFamiliar === "") {
        this.errorFamiliar = true;
        return;
      }
      this.$emit("paso7-valido", this.monotributo3);
    },
    sinObra() {
      this.$emit("paso7-valido", this.monotributo3);
    },
    filterFn(val, update, abort) {
      // busqueda con delay
      setTimeout(() => {
        update(() => {
          if (val === "") {
            this.opcionesObraSocial = this.opcionesOS;
          } else {
            const needle = val.toLowerCase();
            this.opcionesObraSocial = this.opcionesOS.filter(
              (v) => v.label.toLowerCase().indexOf(needle) > -1
            );
          }
        });
      }, 500);
    },
  },
  created() {
    this.GetObrasSociales().then((result) => {
      this.opcionesObraSocial = this.opcionesOS;
    });
  },
};
</script>
