<template>
  <q-form @submit.prevent="validarPaso6()" class="col-12 row">
    <div class="col-12 row q-gutter-y-sm">
      <div
        class="col-12 row q-pt-md text-italic"
        :class="$q.screen.gt.sm ? 'fuente-16' : 'text-caption'"
      >Parte de tu pago mensual como monotributista es un aporte a tu jubilación, pero si ya estás realizando aportes por otro lado (hay varias posibilidades) podés pagar menos por mes</div>
      <div
        class="col-12 row q-pt-md"
        :class="$q.screen.gt.sm ? 'fuente-17' : 'fuente-15'"
      >Elegí una de las siguientes opciones:</div>
      <div
        class="col-12 row q-pt-sm q-gutter-x-md q-gutter-y-xs"
        :class="$q.screen.gt.sm ? 'q-pl-md' : ''"
      >
        <div class="col-12 row">
          <q-radio
            class="col-12"
            :class="$q.screen.gt.sm ? 'fuente-17' : ''"
            :dense="!$q.screen.gt.sm"
            @input="error = false"
            v-model="monotributo2.respuesta"
            val="activo"
            label="Trabajador independiente"
          />
          <div
            class="text-caption text-italic col-12"
            :class="$q.screen.gt.sm ? 'q-pl-xl' : 'q-pl-md'"
          >Voy a pagar la jubilación y obra social con el monotributo.</div>
        </div>
        <div class="row col-12">
          <q-radio
            class="col-12"
            :class="$q.screen.gt.sm ? 'fuente-17' : ''"
            :dense="!$q.screen.gt.sm"
            @input="error = false"
            v-model="monotributo2.respuesta"
            val="dependencia"
            label="Empleado en relación de dependencia"
          />
          <div
            class="text-caption text-italic col-12"
            :class="$q.screen.gt.sm ? 'q-pl-xl' : 'q-pl-md'"
          >Cobro regularmente un sueldo y mi empleador hace los aportes a la jubilación y obra social a mi nombre.</div>
        </div>
        <div class="row col-12">
          <q-radio
            class="col-12"
            :class="$q.screen.gt.sm ? 'fuente-17' : ''"
            :dense="!$q.screen.gt.sm"
            @input="error = false"
            v-model="monotributo2.respuesta"
            val="jubilado"
            label="Jubilado"
          />
          <div
            class="text-caption text-italic col-12"
            :class="$q.screen.gt.sm ? 'q-pl-xl' : 'q-pl-md'"
          >Cobro una jubilación mensual luego de aportar durante mi vida como trabajador.</div>
        </div>
        <div class="row col-12">
          <q-radio
            class="col-12"
            :class="$q.screen.gt.sm ? 'fuente-17' : ''"
            :dense="!$q.screen.gt.sm"
            @input="error = false"
            v-model="monotributo2.respuesta"
            val="provisional"
            label="Aporto a una caja provisional"
          />
          <div
            class="text-caption text-italic col-12"
            :class="$q.screen.gt.sm ? 'q-pl-xl' : 'q-pl-md'"
          >Algunas profesiones (como Maestros, Médicos, Abogados y otros) aportan a su propia caja previsional.</div>
        </div>
        <div
          class="col-12 text-caption q-pl-sm text-negative q-pt-xs"
          v-if="this.error"
        >Tenés que seleccionar una opción para continuar</div>
        <div
          class="col-12 row q-pt-md"
          v-if="monotributo2.respuesta !== ''"
          :class="$q.screen.gt.sm ? 'fuente-17' : 'fuente-15'"
        >
          <span class="text-bold">Elegiste: &nbsp;</span>
          {{respuestaMonotributo2}}
        </div>
        <div
          class="col-12 row q-pt-md"
          v-if="monotributo2.respuesta !== 'activo' && monotributo2.respuesta !== ''"
          :class="$q.screen.gt.sm ? 'fuente-17' : 'fuente-15'"
        >A continuación completá lo siguiente:</div>
        <div class="col-12 row" v-if="monotributo2.respuesta === 'dependencia'">
          <div
            class="col-12 row q-pt-md text-bold"
            :class="$q.screen.gt.sm ? 'q-pl-lg fuente-17' : 'fuente-15'"
          >
            CUIT de tu empleador
            <div class="col-12 row q-py-md">
              <q-input
                v-model="monotributo2.cuitEmpleador"
                class="col-xs-12 col-md-4"
                label="CUIT"
                filled
                mask="##-########-#"
                :rules="[(val => (val && val.length > 0) || 'Este campo es obligatorio'), (val => (val && val.length === 13) || 'Ingrese un número de CUIT válido')]"
                lazy-rules
              />
            </div>
          </div>
        </div>
        <div class="col-12 row" v-if="monotributo2.respuesta === 'jubilado'">
          <div class="col-12 row q-py-md q-pl-md">
            <div class="col-12 row">
              <q-radio
                :class="$q.screen.gt.sm ? 'fuente-17' : ''"
                :dense="!$q.screen.gt.sm"
                @input="errorLey = false"
                v-model="monotributo2.leyJubilacion"
                val="24241"
                label="Me jubilé con la ley 24.241"
              />
            </div>
            <div class="col-12 row">
              <q-radio
                :class="$q.screen.gt.sm ? 'fuente-17' : ''"
                :dense="!$q.screen.gt.sm"
                @input="errorLey = false"
                v-model="monotributo2.leyJubilacion"
                val="18037"
                label="Me jubilé con la ley 18.037/8"
              />
            </div>
          </div>
          <div
            class="col-12 text-caption q-pl-sm text-negative"
            v-if="errorLey"
          >Tenés que seleccionar una opción para continuar</div>
        </div>
        <div class="col-12 row" v-if="monotributo2.respuesta === 'provisional'">
          <div
            class="col-12 row q-pt-md text-bold"
            :class="$q.screen.gt.sm ? 'q-pl-lg fuente-17' : 'fuente-15'"
          >
            CUIT Caja
            <div class="col-12 row q-py-md">
              <q-input
                class="col-xs-12 col-md-4"
                label="CUIT"
                filled
                v-model="monotributo2.cuitcaja"
                mask="##-########-#"
                :rules="[(val => (val && val.length > 0) || 'Este campo es obligatorio'), (val => (val && val.length === 13) || 'Ingrese un número de CUIT válido')]"
                lazy-rules
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 row justify-end q-mt-md">
      <q-btn type="submit" color="accent" unelevated label="Siguiente" no-caps />
    </div>
  </q-form>
</template>

<script>
export default {
  data() {
    return {
      error: false,
      errorLey: false,
      monotributo2: {
        respuesta: "",
        cuitEmpleador: "",
        leyJubilacion: "",
        cuitcaja: "",
      },
      opcionesMonotributo2: [
        { label: "Trabajador Independiente", value: "activo" },
        { label: "Empleado en relación de dependencia", value: "dependencia" },
        { label: "Jubilado", value: "jubilado" },
        { label: "Aporto a una caja provisional", value: "provisional" },
      ],
    };
  },
  methods: {
    validarPaso6() {
      if (this.monotributo2.respuesta === "") {
        this.error = true;
      } else if (
        this.monotributo2.leyJubilacion === "" &&
        this.monotributo2.respuesta === "jubilado"
      ) {
        this.errorLey = true;
      } else {
        this.$emit("paso6-valido", this.monotributo2);
      }
    },
  },
  computed: {
    respuestaMonotributo2() {
      switch (this.monotributo2.respuesta) {
        case "activo":
          return "Trabajador Independiente";
          break;
        case "dependencia":
          return "Empleado en relación de dependencia";
          break;
        case "jubilado":
          return "Jubilado";
          break;
        case "provisional":
          return "Aporto a una caja provisional";
          break;

        default:
          break;
      }
    },
  },
};
</script>
