<template>
  <q-form @submit.prevent="validarPaso2()" class="col-12 row">
    <div
      class="col-12 q-py-lg"
      :class="$q.screen.gt.sm ? 'text-h6' : 'text-subtitle2 text-bold'"
    >Domicilio</div>
    <div class="col-12 row" :class="$q.screen.gt.sm ? 'q-pl-md' : ''">
      <div class="col-12 row q-gutter-x-md">
        <q-select
          class="col-xs-12 col-md-4"
          label="Provincia"
          :dense="!$q.screen.gt.sm"
          :options="opcionesProvincias"
          @input="obtenerLocalidades(domicilios.real.provincia)"
          v-model="domicilios.real.provincia"
          filled
          lazy-rules
          :rules="[val => !!val || 'Este campo es obligatorio']"
        />
        <q-select
          class="col-xs-12 col-md-4"
          label="Ciudad"
          :dense="!$q.screen.gt.sm"
          :options="opcionesLocalidades"
          v-model="domicilios.real.ciudad"
          filled
          lazy-rules
          :rules="[val => !!val || 'Este campo es obligatorio']"
        />
        <q-input
          class="col-xs-12 col-md-2"
          label="Código Postal"
          :dense="!$q.screen.gt.sm"
          v-model="domicilios.real.cp"
          mask="####"
          filled
          lazy-rules
          :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
        />
      </div>
      <div class="col-12 row q-pt-md q-gutter-x-md items-start">
        <q-input
          class="col-xs-12 col-md-4"
          label="Calle"
          :dense="!$q.screen.gt.sm"
          v-model="domicilios.real.calle"
          filled
          lazy-rules
          :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
        />
        <div class="row col-xs-12 col-md-4 justify-between items-start">
          <q-input
            class="col-xs-12"
            label="Número"
            mask="######"
            :dense="!$q.screen.gt.sm"
            v-model="domicilios.real.numero"
            filled
            lazy-rules
            :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
            :class="$q.screen.gt.sm ? '' : 'q-mb-sm'"
            :style="$q.screen.gt.sm ? 'width: 60%' : ''"
          />
          <q-input
            class="col-xs-12 col-md-2"
            label="Piso"
            mask="##"
            :dense="!$q.screen.gt.sm"
            filled
            v-model="domicilios.real.piso"
            :style="$q.screen.gt.sm ? 'width: 35%' : ''"
          />
        </div>
      </div>
      <div class="col-12 row q-pt-md q-gutter-x-md" :class="$q.screen.gt.sm ? '' : 'q-gutter-y-md'">
        <q-input
          class="col-xs-12 col-md-4"
          label="Oficina, Dto o Local"
          :dense="!$q.screen.gt.sm"
          filled
          v-model="domicilios.real.oficina"
        />
        <div class="row col-xs-12 col-md-4 justify-between items-start">
          <q-input
            class="col-xs-12 col-md-4"
            label="Sector"
            :dense="!$q.screen.gt.sm"
            filled
            v-model="domicilios.real.sector"
            :style="$q.screen.gt.sm ? 'width: 60%' : ''"
            :class="$q.screen.gt.sm ? '' : 'q-mb-md'"
          />
          <q-input
            class="col-xs-12 col-md-2"
            label="Torre"
            :dense="!$q.screen.gt.sm"
            filled
            v-model="domicilios.real.torre"
            :style="$q.screen.gt.sm ? 'width: 35%' : ''"
          />
        </div>
        <q-input
          class="col-xs-12 col-md-3 q-ml-md"
          label="Manzana"
          :dense="!$q.screen.gt.sm"
          filled
          v-model="domicilios.real.manzana"
          :style="$q.screen.gt.sm ? 'width:176px' : ''"
        />
      </div>
    </div>
    <div class="col-10 row justify-end q-mt-lg" :class="$q.screen.gt.sm ? '' : 'q-mt-md'">
      <q-btn type="submit" color="accent" unelevated label="Siguiente" no-caps />
    </div>
  </q-form>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      val: false,
      domicilios: {
        real: {
          provincia: "",
          cp: "",
          ciudad: "",
          calle: "",
          numero: "",
          piso: "",
          oficina: "",
          sector: "",
          torre: "",
          manzana: "",
        },
        fiscal: {
          provincia: "",
          cp: "",
          ciudad: "",
          calle: "",
          numero: "",
          piso: "",
          oficina: "",
          sector: "",
          torre: "",
          manzana: "",
        },
      },
    };
  },
  computed: {
    ...mapGetters("opciones", [
      "opcionesProvincias",
      "provinciasExito",
      "provinciasError",
      "provinciasPendiente",
      "opcionesLocalidades",
      "localidadesExito",
      "localidadesError",
      "localidadesPendiente",
    ]),
  },
  methods: {
    ...mapActions("opciones", ["GetProvincias", "GetLocalidadesPorProvincia"]),
    validarPaso2() {
      this.$emit("paso2-valido", this.domicilios);
    },
    copiarDomicilio() {
      this.domicilios.fiscal = { ...this.domicilios.real };
    },
    obtenerLocalidades(provincia) {
      this.GetLocalidadesPorProvincia({ provincia: provincia.label });
    },
  },
  created() {
    this.GetProvincias({});
  },
};
</script>
