<template>
  <q-form @submit.prevent="validarPaso3()" class="col-12 row">
    <div
      class="q-pt-md col-12 text-italic c868589"
      :class="$q.screen.gt.sm ? 'q-pl-md fuente-16' : 'text-justify text-caption'"
    >
      Una jurisdicción es el territorio donde realizas actividades.
      <br />Los domicilios que informaste en el paso anterior determinan tu jurisdicción (Pcia de Bs As o CABA). También podés declarar otras jurisdicciones por obtener ingresos o realizar gastos sin un domicilio específico.
    </div>
    <div class="col-12 row q-pt-md" :class="$q.screen.gt.sm ? 'q-pl-md' : ''">
      <div
        class="col-12 c3A3B3F"
        :class="$q.screen.gt.sm ? 'fuente-17' : 'fuente-15'"
      >¿Obtenés ingresos o realizás gastos vinculados a tu actividad en otra jurisdicción?</div>
      <div class="col-12 row q-pt-md q-pl-md">
        <q-option-group
          @input="error = false"
          v-model="jurisdiccion.respuesta"
          inline
          :options="opciones"
          class="c3A3B3F"
          :class="$q.screen.gt.sm ? 'fuente-17' : ''"
        />
        <div
          class="col-12 q-pt-xs text-italic text-negative"
          :class="$q.screen.gt.sm ? 'fuente-17' : 'fuente-15'"
          v-if="jurisdiccion.respuesta"
        >Para acceder a los servicios de Freelo no podes obtener ingresos o realizar gastos en otra jurisdicción.</div>
        <div
          class="col-12 text-caption q-pl-sm text-negative q-pt-xs"
          v-if="error"
        >Tenés que seleccionar una opción para continuar</div>
      </div>
    </div>
    <div class="col-10 row justify-end q-mt-md">
      <q-btn
        :disable="jurisdiccion.respuesta"
        type="submit"
        color="accent"
        unelevated
        label="Siguiente"
        no-caps
      />
    </div>
  </q-form>
</template>

<script>
export default {
  data() {
    return {
      jurisdiccion: {
        respuesta: ""
      },
      error: false,
      opciones: [
        { label: "Si", value: true },
        { label: "No", value: false }
      ]
    };
  },
  methods: {
    validarPaso3() {
      if (this.jurisdiccion.respuesta === "") {
        this.jurisdiccion.error = true;
        return;
      } else {
        this.jurisdiccion.error = false;
        this.$emit("paso3-valido", this.jurisdiccion);
      }
    }
  }
};
</script>