<template>
  <q-form @submit.prevent="validarPaso5()" class="col-12 row">
    <div class="col-12 row q-pt-md">
      <div
        class="col-12 c3A3B3F"
        :class="$q.screen.gt.sm ? 'fuente-17' : 'fuente-15'"
      >Mes en el cuál va a empezar la actividad</div>
      <div class="col-12 row q-pt-md q-pl-md q-gutter-x-md">
        <q-option-group
          :dense="!$q.screen.gt.sm"
          @input="error = false"
          :options="opcionesMonotributo1"
          inline
          v-model="monotributo1.mes"
          class="c3A3B3F"
          :class="$q.screen.gt.sm ? 'fuente-17' : ''"
        />
      </div>
      <div
        class="col-12 text-caption q-pl-sm text-negative q-pt-xs"
        v-if="error"
      >Tenés que seleccionar una opción para continuar</div>
      <div
        class="col-12 q-py-md"
        :class="$q.screen.gt.sm ? 'fuente-17' : 'fuente-15'"
      >Tus Actividades</div>
      <q-list separator>
        <q-item
          :dense="!$q.screen.gt.sm"
          v-ripple
          v-for="(actividad, index) in actividades.seleccionadas"
          :key="index"
        >
          <q-item-section class="c868589">
            <q-item-label
              class="text-uppercase"
              :class="$q.screen.gt.sm ? 'fuente-17' : 'fuente-15'"
            >{{actividad.nombre}}</q-item-label>
            <q-item-label :class="$q.screen.gt.sm ? 'fuente-17' : 'fuente-15'">
              <span class="text-bold">Inicio de Actividad: &nbsp;</span>
              {{actividad.fecha}}
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
      <div
        class="col-12 q-py-md c3A3B3F"
        :class="$q.screen.gt.sm ? 'fuente-17' : 'text-caption'"
      >Facturación anual estimada:</div>
      <div class="col-12 row">
        <q-input
          hint="Ej 6734.89"
          :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio']"
          lazy-rules
          class="col-xs-12 col-md-4"
          v-model="monotributo1.facturacionAnual"
          label="Monto"
          filled
        />
        <div
          class="col-12 fuente-17 q-pl-sm text-negative q-pt-sm"
          v-if="noApto"
        >Para acceder a los servicios de Freelo podes facturar hasta 1.739.493 pesos</div>
      </div>
    </div>
    <div class="col-10 row justify-end q-mt-md">
      <q-btn type="submit" color="accent" unelevated label="Siguiente" no-caps />
    </div>
    </q-dialog>-->
  </q-form>
</template>

<script>
import { mapState } from "vuex";
export default {
  props: ["actividades"],
  data() {
    return {
      monotributo1: {
        mes: "",
        facturacionAnual: "",
        montoMaximo: 2000000
      },
      error: false,
      noApto: false,
      opcionesMonotributo1: [
        { label: "Mes actual", value: true },
        { label: "A partir del mes que viene", value: false }
      ]
    };
  },
  computed: {
    ...mapState("opciones", ["pregunta2"])
  },
  methods: {
    validarPaso5() {
      let facturacion = parseFloat(this.monotributo1.facturacionAnual);
      if (this.monotributo1.mes === "") {
        this.error = true;
        return;
      } else {
        this.error = false;
      }
      //pregunta si es mayor a la categoria H, que esta guardada en las preguntas para el categorizador en el state
      if (facturacion > this.pregunta2[7].value) {
        this.noApto = true;
        return;
      } else {
        this.noApto = false;
      }
      this.$emit("paso5-valido", this.monotributo1);
    }
  }
};
</script>
