<template>
  <q-form @submit.prevent="enviarForm()" class="col-12 row">
    <div
      class="col-12 row"
      :class="$q.screen.gt.sm ? 'fuente-17' : 'fuente-15'"
    >Comprobá que todos los datos sean correctos.</div>
    <q-separator class="col-12 texto-gris q-mt-lg q-mb-md" />
    <div
      class="col-12 row text-bold"
      :class="$q.screen.gt.sm ? 'fuente-22' : 'fuente-17'"
    >Tipo de monotributo</div>
    <div
      class="col-12 row text-bold"
      :class="$q.screen.gt.sm ? 'fuente-17' : 'fuente-15'"
    >¿Cómo vas a trabajar?</div>
    <div
      class="col-12 row"
      :class="$q.screen.gt.sm ? 'fuente-17' : 'fuente-15'"
    >Como: {{respuestaMonotributo2}}</div>
    <q-separator class="col-12 texto-gris q-mt-lg q-mb-md" />
    <div
      class="col-12 row fuente-22 text-bold"
      :class="$q.screen.gt.sm ? 'fuente-22' : 'fuente-17'"
    >Actividades</div>
    <div
      class="col-12 row text-bold"
      :class="$q.screen.gt.sm ? 'fuente-22' : 'fuente-17'"
    >Fecha de inicio de actividades</div>
    <div
      class="col-12 row text-capitalize"
      v-if="afip.fechaInicio"
      :class="$q.screen.gt.sm ? '' : 'fuente-15'"
    >{{afip.fechaInicio.toLocaleString('es-AR', { month: 'long' }) + ' ' + afip.fechaInicio.getFullYear()}}</div>
    <q-markup-table flat :dense="!$q.screen.gt.sm">
      <thead class="text-bold">
        <tr>
          <th class="text-left" style="font-weight: 900; font-size:19px">Código</th>
          <th class="text-left" style="font-weight: 900; font-size:19px">Descripción</th>
          <th class="text-left" style="font-weight: 900; font-size:19px">Tipo</th>
          <th class="text-left" style="font-weight: 900; font-size:19px">Principal</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(a, index) in actividades.seleccionadas" :key="index">
          <td class="text-left" style="font-size:17px">{{a.codigo}}</td>
          <td class="text-left" style="font-size:17px">{{a.nombre}}</td>
          <td class="text-left" style="font-size:17px">Servicios</td>
          <td class="text-left" style="font-size:17px">{{a.principal ? 'Si' : 'No'}}</td>
        </tr>
      </tbody>
    </q-markup-table>
    <q-separator class="col-12 texto-gris q-mt-lg q-mb-md" />
    <div
      class="col-12 row fuente-22 text-bold"
      :class="$q.screen.gt.sm ? 'fuente-22' : 'fuente-17'"
    >Aportes de jubilación</div>
    <div
      class="col-12 row"
      :class="$q.screen.gt.sm ? 'fuente-17' : 'fuente-15'"
    >Aportás: {{jubilacion}}</div>
    <q-separator class="col-12 texto-gris q-mt-lg q-mb-md" />
    <div
      class="col-12 row fuente-22 text-bold"
      :class="$q.screen.gt.sm ? 'fuente-22' : 'fuente-17'"
    >Obra social</div>
    <div
      class="col-12 row q-py-xs"
      :class="$q.screen.gt.sm ? 'fuente-17' : 'fuente-15'"
    >{{monotributo3.obraSocial.label}}</div>
    <div class="col-12 row" v-if="monotributo3.familiares.length > 0">
      <div class="col-12 row text-bold" :class="$q.screen.gt.sm ? '' : 'text-caption'">Familiares:</div>
      <q-markup-table
        flat
        :dense="!$q.screen.gt.sm"
        class="col-xs-12 col-md-6"
        :class="$q.screen.gt.sm ? '' : ''"
      >
        <thead class="text-bold">
          <tr>
            <th class="text-left" style="font-weight: 900; font-size:19px">CUIL</th>
            <th class="text-left" style="font-weight: 900; font-size:19px">Nombre</th>
            <th class="text-left" style="font-weight: 900; font-size:19px">Vínculo</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(persona, index) in monotributo3.familiares" :key="index">
            <td class="text-left" style="font-size:17px">{{persona.cuit}}</td>
            <td class="text-left" style="font-size:17px">{{persona.nombre}}</td>
            <td class="text-left" style="font-size:17px">{{persona.vinculo}}</td>
          </tr>
        </tbody>
      </q-markup-table>
    </div>
    <div
      class="col-12 row fuente-22 text-bold"
      :class="$q.screen.gt.sm ? 'fuente-17' : 'fuente-15'"
      v-else
    >No tenés familiares agregados</div>
    <div class="col-10 row justify-end">
      <q-btn type="submit" class="q-mt-md" color="accent" no-caps unelevated label="Confirmar" />
    </div>
  </q-form>
</template>

<script>
export default {
  props: ["afip", "actividades", "monotributo2", "monotributo3"],
  data() {
    return {};
  },
  methods: {
    enviarForm() {
      this.$emit("formulario-completado");
    },
  },
  computed: {
    respuestaMonotributo2() {
      switch (this.monotributo2.respuesta) {
        case "activo":
          return "Trabajador Independiente";
          break;
        case "dependencia":
          return "Empleado en relación de dependencia";
          break;
        case "jubilado":
          return "Jubilado";
          break;
        case "provisional":
          return "Aporto a una caja provisional";
          break;

        default:
          break;
      }
    },
    jubilacion() {
      switch (this.monotributo2.respuesta) {
        case "activo":
          return "con el monotributo";
          break;
        case "dependencia":
          return "tu empleador paga los aportes";
          break;
        case "jubilado":
          return "estás jubilado";
          break;
        case "provisional":
          return "a una caja provisional";
          break;

        default:
          break;
      }
    },
  },
};
</script>
