<template>
  <q-form @submit.prevent="validarPaso1()" class="col-12 row">
    <div class="col-12 row q-pt-lg">
      <q-input
        label="Clave Fiscal"
        class="col-xs-12 col-md-5"
        filled
        :dense="!$q.screen.gt.sm"
        v-model="afip.claveFiscal"
        lazy-rules
        :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio' ]"
        hide-bottom-space
      >
        <q-tooltip
          content-class="bg-dark"
          transition-show="flip-right"
          transition-hide="flip-left"
          anchor="bottom middle"
          self="center middle"
        >Asegurate de que tu Clave es la correcta iniciando sesión en AFIP</q-tooltip>
      </q-input>
    </div>
    <q-option-group
      class="c868589 col-12 q-pt-sm"
      :options="declaracionCategorizador"
      label="Notifications"
      type="checkbox"
      v-model="declaracion"
      :class="$q.screen.gt.sm ? 'fuente-15' : ''"
    />
    <div class="col-10 row justify-end" :class="$q.screen.gt.sm ? '' : 'q-mt-md'">
      <q-btn
        :disable="declaracion.length < 3"
        type="submit"
        color="accent"
        unelevated
        label="Siguiente"
        no-caps
      />
    </div>
  </q-form>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      afip: {
        claveFiscal: "",
      },
      declaracion: [],
    };
  },
  computed: {
    ...mapState("opciones", ["declaracionCategorizador"]),
  },
  methods: {
    validarPaso1() {
      this.$emit("paso1-valido", this.afip);
    },
  },
};
</script>
