<template>
  <q-page class="page-background texto-gris justify-center row items-start">
    <div class="col-12 row justify-center" style="max-width:1156px">
      <alta-arba />
    </div>
  </q-page>
</template>

<script>
import AltaArba from "../../../components/PrimerLogin/AltaArba";
export default {
  components: {
    AltaArba
  }
};
</script>