<template>
  <q-page class="page-background texto-gris justify-center row items-start">
    <div class="col-12 row justify-center" style="max-width:1156px">
      <alta-agip />
    </div>
  </q-page>
</template>

<script>
import AltaAgip from "../../../components/PrimerLogin/AltaAgip";
export default {
  components: {
    AltaAgip
  }
};
</script>