<template>
  <q-page class="row justify-center items-start page-background">
    <div
      class="col-12 row justify-center c727176 q-pa-lg"
      :class="$q.screen.gt.sm ? 'fuente-21' : 'text-subtitle2'"
      style="max-width:1156px"
      v-if="!monotributo"
    >
      <div class="col-xs-12 col-md-6 row q-pt-xl">
        Tus datos ya fueron registrados. En los próximos 4 días hábiles podrás visualizarlos en Freelo.
        <br />Muchas gracias!
        <div class="col-12 row justify-end q-pt-lg">
          <q-btn to="/usuario" color="accent" label="Finalizar" unelevated />
        </div>
      </div>
    </div>
    <div
      class="col-12 row c727176 justify-center q-pa-lg"
      :class="$q.screen.gt.sm ? 'fuente-21' : 'text-subtitle2'"
      style="max-width:1156px"
      v-else
    >
      <div class="col-xs-12 col-md-6 row q-pt-xl" style="color: #727176;">
        Tus datos ya fueron registrados. En las próximas 72 horas podrás visualizarlos en Freelo.
        <br />Muchas gracias!
        <div class="col-12 row justify-end q-pt-lg">
          <q-btn to="/usuario" color="accent" label="Finalizar" unelevated />
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState("respuestas", ["preguntasBasicas"]),
    monotributo() {
      if (this.preguntasBasicas) {
        if (
          this.preguntasBasicas.monotributo &&
          this.preguntasBasicas.monotributo === "tengo"
        ) {
          return true;
        } else {
          return false;
        }
      } else {
        return false;
      }
    }
  }
};
</script>