<template>
  <q-page class="justify-center items-start row page-background">
    <div class="col-12 row justify-center" style="max-width:1156px">
      <div
        class="text-bold col-12 text-center texto-gris q-py-md"
        :class="$q.screen.gt.sm ? 'text-h5' : 'text-h6'"
      >Ingresá tu clave fiscal</div>
      <!-- Clave Fiscal ARBA -->
      <div class="row col-12 justify-center" v-if="jurisdiccion === 'provincia'">
        <q-card class="col-8 bg-white q-pa-md row justify-center">
          <q-form @submit.prevent="guardarClaveFiscalARBA()" class="col-12 row justify-center">
            <q-input
              label="Clave Fiscal"
              class="col-xs-12 col-md-6"
              :dense="!$q.screen.gt.sm"
              filled
              v-model="claveFiscal"
              lazy-rules
              :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio' ]"
              hide-bottom-space
            >
              <q-tooltip
                content-class="bg-dark"
                transition-show="flip-right"
                transition-hide="flip-left"
                anchor="bottom middle"
                self="center middle"
              >Asegurate de que tu Clave es la correcta iniciando sesión en ARBA</q-tooltip>
            </q-input>
            <div class="col-12 row justify-center q-pt-md">
              <div class="col-6 row" :class="$q.screen.gt.sm ? 'justify-end' : 'justify-center'">
                <q-btn type="submit" label="Continuar" color="accent" no-caps />
              </div>
            </div>
          </q-form>
        </q-card>
      </div>
      <!-- Clave Fiscal AGIP -->
      <div class="col-12 row justify-center" v-if="jurisdiccion === 'caba'">
        <q-card class="col-8 bg-white q-pa-md row justify-center">
          <q-form @submit.prevent="guardarClaveFiscalAGIP()" class="col-12 row justify-center">
            <q-input
              label="Clave Fiscal"
              class="col-xs-12 col-md-6"
              :dense="!$q.screen.gt.sm"
              filled
              v-model="claveFiscal"
              lazy-rules
              :rules="[val => (val && val.length > 0) || 'Este campo es obligatorio' ]"
              hide-bottom-space
            >
              <q-tooltip
                content-class="bg-dark"
                transition-show="flip-right"
                transition-hide="flip-left"
                anchor="bottom middle"
                self="center middle"
              >Asegurate de que tu Clave es la correcta iniciando sesión en AGIP</q-tooltip>
            </q-input>
            <div class="col-12 row justify-center q-pt-md">
              <div class="col-6 row" :class="$q.screen.gt.sm ? 'justify-end' : 'justify-center'">
                <q-btn type="submit" label="Continuar" color="accent" no-caps />
              </div>
            </div>
          </q-form>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import ClaveFiscal from "../../../components/PrimerLogin/ClaveFiscal.vue";
import { mapGetters } from "vuex";

export default {
  components: {
    ClaveFiscal
  },
  data() {
    return {
      claveFiscal: ""
    };
  },
  methods: {
    guardarClaveFiscalAGIP() {
      //guardar en api clave fiscal arba
      this.$router.push("/primerlogin/ingresosbrutos/altafinalizada");
    },
    guardarClaveFiscalARBA() {
      //guardar en api clave fiscal agip
      this.$router.push("/primerlogin/ingresosbrutos/altafinalizada");
    }
  },
  computed: {
    ...mapGetters("respuestas", ["jurisdiccion"])
  }
};
</script>
