<template>
  <q-page class="page-background texto-gris justify-center row items-start">
    <div class="col-12 row justify-center" style="max-width:1156px">
      <ingresos-brutos />
    </div>
  </q-page>
</template>

<script>
import IngresosBrutos from "../../../components/PrimerLogin/IngresosBrutos.vue";

export default {
  components: {
    IngresosBrutos
  }
};
</script>