<template>
  <q-page class="q-px-md q-pb-md">
    <div class="col-12 row justify-center q-gutter-y-lg">
      <div class="col-12 row justify-center">
        <div class="col-12 row text-bold justify-center fuente-23 q-pb-md">Enviar notificaciones</div>
        <notificaciones />
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Notificaciones from "../../components/Admin/Notificaciones.vue";

export default {
  components: {
    Notificaciones,
  },
  methods: {
    ...mapActions("admin", [
      "UsuariosActivos",
      "UsuariosInactivos",
      "UsuariosNoAptos",
    ]),
  },
  created() {
    this.UsuariosActivos();
    this.UsuariosInactivos();
    this.UsuariosNoAptos();
  },
};
</script>

<style>
</style>
