<template>
  <q-page class="q-px-md q-pb-md">
    <!--El prop se usa -->
    <lista-usuarios :usuarios="usuarios" />
  </q-page>
</template>

<script>
import { mapGetters, mapState, mapActions } from "vuex";
import ListaUsuarios from "../../components/Admin/ListaUsuarios.vue";

export default {
  components: {
    ListaUsuarios,
  },
  data() {
    return {
      usuarios: "",
    };
  },
  computed: {
    ...mapGetters("usuario", [
      "dadoDeBaja",
      "usuario",
      "loggedIn",
      "gestionInactiva",
    ]),
    ...mapGetters("admin", [
      "usuariosActivos",
      "usuariosNoAptos",
      "usuariosInactivos",
    ]),
    ...mapState("admin", ["activosExito", "inactivosExito", "noAptosExito"]),
  },
  methods: {
    ...mapActions("admin", [
      "UsuariosActivos",
      "UsuariosInactivos",
      "UsuariosNoAptos",
    ]),
    llamarApi() {
      switch (this.$route.params.estadousuario) {
        case "activos":
          this.UsuariosActivos().then((result) => {
            this.usuarios = this.usuariosActivos;
          });
          break;
        case "inactivos":
          this.UsuariosInactivos().then((result) => {
            this.usuarios = this.usuariosInactivos;
          });
          break;
        case "noaptos":
          this.UsuariosNoAptos().then((result) => {
            this.usuarios = this.usuariosNoAptos;
          });
          break;
        default:
          break;
      }
    },
  },
  mounted() {
    this.llamarApi();
  },
  watch: {
    $route() {
      this.llamarApi();
    },
  },
};
</script>
