<template>
  <q-page class="q-px-md q-pb-md">
    <div class="row col-12 q-gutter-y-sm">
      <datos-personales-usuario :datos="datosPersonales" :fecha="fechaRegistro" />
      <q-expansion-item
        dense
        class="bg-white col-12"
        :header-class="$q.screen.gt.sm ? 'q-my-md text-bold fuente-21' : 'text-caption q-my-sm'"
        expand-separator
        label="Datos Monotributo"
        style="border-radius: 9px"
      >
        <datos-monotributo-usuario :datos="datosMonotributo" />
      </q-expansion-item>
      <q-expansion-item
        dense
        class="bg-white col-12"
        :header-class="$q.screen.gt.sm ? 'q-my-md text-bold fuente-21' : 'text-caption q-my-sm'"
        expand-separator
        label="Datos Ingresos Brutos"
        style="border-radius: 9px"
        v-if="datosAgenteRecaudador"
      >
        <datos-iibb-usuario :datos="datosAgenteRecaudador" />
      </q-expansion-item>
      <q-expansion-item
        dense
        class="bg-white col-12"
        :header-class="$q.screen.gt.sm ? 'q-my-md text-bold fuente-21' : 'text-caption q-my-sm'"
        expand-separator
        label="Datos Freelo"
        style="border-radius: 9px"
      >
        <datos-freelo-usuario :datos="datosFreelo" />
      </q-expansion-item>
      <q-expansion-item
        dense
        class="bg-white col-12"
        :header-class="$q.screen.gt.sm ? 'q-my-md text-bold fuente-21' : 'text-caption q-my-sm'"
        expand-separator
        label="Otros Datos Usuario"
        style="border-radius: 9px"
      >
        <otros-datos-usuario :datos="null" />
      </q-expansion-item>
    </div>
  </q-page>
</template>

<script>
import { mapGetters, mapState, mapActions } from "vuex";
import DatosPersonalesUsuario from "../../components/Admin/DatosPersonalesUsuario.vue";
import DatosMonotributoUsuario from "../../components/Admin/DatosMonotributoUsuario.vue";
import DatosIibbUsuario from "../../components/Admin/DatosIibbUsuario.vue";
import DatosFreeloUsuario from "../../components/Admin/DatosFreeloUsuario.vue";
import OtrosDatosUsuario from "../../components/Admin/OtrosDatosUsuario.vue";

export default {
  components: {
    DatosPersonalesUsuario,
    DatosIibbUsuario,
    DatosMonotributoUsuario,
    DatosFreeloUsuario,
    OtrosDatosUsuario,
  },
  computed: {
    ...mapGetters("admin", [
      "facturasMonotributo",
      "datosPersonales",
      "datosFreelo",
      "datosMonotributo",
      "datosAgenteRecaudador",
      "fechaRegistro",
    ]),
  },
  methods: {
    ...mapActions("admin", [
      "DatosUsuario",
      "FacturasMonotributo",
      "FacturasIngresosBrutos",
      "FacturasFreelo",
      "DatosSecundarios",
    ]),
    ...mapActions("opciones", ["GetProvincias", "GetLocalidadesPorProvincia"]),
  },
  created() {
    this.DatosUsuario(this.$route.params.pk);
    this.FacturasMonotributo(this.$route.params.pk);
    this.FacturasIngresosBrutos(this.$route.params.pk);
    this.FacturasFreelo(this.$route.params.pk);
    this.DatosSecundarios(this.$route.params.pk);
    this.GetProvincias();
  },
};
</script>

<style>
</style>
