<template>
  <q-card
    class="full-height"
    flat
    style="border-radius:9px; "
    :style="$q.screen.gt.sm ? 'padding: 10px 10px' : 'padding: 0px 0px'"
  >
    <q-card-section>
      <div
        class="text-bold"
        style="color: #5B5B5F"
        :class="$q.screen.gt.sm ? 'fuente-19' : 'fuente-15'"
      >Categoría</div>
    </q-card-section>
    <q-card-section class="text-center">
      <div
        class="text-h1 text-primary text-weight-bolder text-warning"
        id="wallman"
        style="font-size: 220px"
      >{{categoria }}</div>
    </q-card-section>
    <q-card-section class="text-left q-pt-lg q-pb-xs">
      <q-separator />
      <div
        class="fuente-15 q-pt-sm"
        style="color: #5B5B5F"
        :class="$q.screen.gt.sm ? 'fuente-15' : 'fuente-11'"
      ></div>
    </q-card-section>
    <q-dialog v-model="dialogo">
      <modal-reliquidar :texto="'Monotributo'" />
    </q-dialog>
  </q-card>
</template>

<script>
import ModalReliquidar from "../IngresosBrutos/ModalReliquidar.vue";

export default {
  components: {
    ModalReliquidar,
  },
  props: ["categoria"],
  data() {
    return {
      dialogo: false,
    };
  },
  methods: {
    mostrarDialogo() {
      this.dialogo = true;
    },
  },
};
</script>
