<template>
  <q-card
    style="border-radius: 9px "
    flat
    :style="$q.screen.gt.sm ? 'padding: 10px 10px' : 'padding: 0px 0px'"
  >
    <q-card-section>
      <div
        class="fuente-19 text-weight-bold text-black"
        :class="$q.screen.gt.sm ? 'fuente-19' : 'fuente-15'"
      >{{titulo}}</div>
      <q-table
        :dense="!$q.screen.gt.sm"
        :rows-per-page-options="[0]"
        :pagination.sync="pagination"
        hide-bottom
        :data="facturas.tableData"
        :columns="facturas.tableColumns"
        flat
        class="c5B5B5F"
      >
        <template v-slot:body-cell-periodo="props">
          <q-td :class="$q.screen.gt.sm ? 'fuente-16' : 'fuente-11'" align="center" :props="props">
            <div class="fuente-16">{{props.row.name}}</div>
          </q-td>
        </template>
        <template v-slot:body-cell-vencimiento="props">
          <q-td :class="$q.screen.gt.sm ? 'fuente-16' : 'fuente-11'" align="center" :props="props">
            <div class="fuente-16">{{props.row.vencimiento}}</div>
          </q-td>
        </template>
        <template v-slot:body-cell-totalmes="props">
          <q-td :class="$q.screen.gt.sm ? 'fuente-16' : 'fuente-11'" align="center" :props="props">
            <div class="fuente-16">{{props.row.totalmes}}</div>
          </q-td>
        </template>
        <template v-slot:body-cell-concepto="props">
          <q-td :class="$q.screen.gt.sm ? 'fuente-16' : 'fuente-11'" align="center" :props="props">
            <div class="fuente-16">{{props.row.concepto}}</div>
          </q-td>
        </template>
        <template v-slot:body-cell-descargafactura="props">
          <q-td align="center">
            <q-btn
              flat
              class="texto-gris"
              icon="description"
              @click="DescargarFactura(props.row.descargafactura)"
            />
          </q-td>
        </template>
        <template v-slot:body-cell-pago="props">
          <q-td align="center" :props="props">
            <q-icon
              :name="props.row.pagada ? 'check' : 'close'"
              size="sm"
              :color="props.row.pagada ? 'green' : 'negative'"
            />
          </q-td>
        </template>
      </q-table>
    </q-card-section>
  </q-card>
</template>

<script>
import { mapActions } from "vuex";
export default {
  props: ["facturas", "titulo"],
  data() {
    return {
      pagination: {
        page: 1,
        rowsPerPage: 0, // 0 means all rows
      },
    };
  },
  methods: {
    ...mapActions("usuario", ["DescargarFactura"]),
    descargarFactura(link) {
      window.open(link);
    },
  },
};
</script>
