<template>
  <q-card
    flat
    style="border-radius: 9px; "
    :style="$q.screen.gt.sm ? 'padding: 10px 10px' : 'padding: 0px 0px'"
  >
    <q-card-section class="q-pb-xs c5B5B5F">
      <div class="fuente-22" :class="$q.screen.gt.sm ? 'fuente-22' : 'fuente-18'">
        Límite de facturación anual
        <strong>{{limite.toLocaleString("es-AR", {style: "currency", currency: "ARS", minimumFractionDigits: 2})}}</strong>
      </div>
      <div
        class="fuente-19 q-pt-sm"
        :class="$q.screen.gt.sm ? 'fuente-19' : 'fuente-15'"
      >Facturación acumulada</div>
      <div
        class="fuente-19 text-weight-bold"
        :class="$q.screen.gt.sm ? 'fuente-19' : 'fuente-15'"
      >{{facturacionAcumulada.toLocaleString("es-AR", {style: "currency", currency: "ARS", minimumFractionDigits: 2})}}</div>
      <q-linear-progress
        size="lg"
        :value="progress"
        rounded
        color="primary"
        track-color="warning"
        class="q-mt-md"
      />
      <div class="fuente-17 q-pt-md" :class="$q.screen.gt.sm ? 'fuente-17' : 'fuente-14'">
        Límite para mantener la categoría
        <strong>{{(limite-facturacionAcumulada).toLocaleString("es-AR", {style: "currency", currency: "ARS", minimumFractionDigits: 2})}}</strong>
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  props: ["limite", "facturacionAcumulada"],
  name: "LimiteFacturacion",
  data() {
    return {
      progress: 0,
    };
  },
  mounted() {
    this.progress = this.facturacionAcumulada / this.limite;
  },
  watch: {
    limite() {
      this.progress = this.facturacionAcumulada / this.limite;
    },
    facturacionAcumulada() {
      this.progress = this.facturacionAcumulada / this.limite;
    },
  },
};
</script>
