<template>
  <q-card
    flat
    style="border-radius:9px "
    :style="$q.screen.gt.sm ? 'padding: 4px 10px' : 'padding: 0px 0px'"
    v-if="titulo"
  >
    <q-card-section class="row q-pa-none" :class="$q.screen.gt.sm ? '' : 'q-pb-md q-pr-xs'">
      <div
        class="q-pa-md text-uppercase text-weight-bold"
        :class="$q.screen.gt.sm ? 'fuente-38' : 'fuente-25'"
      >{{titulo }}</div>
      <q-space></q-space>
      <template v-if="iibb">
        <div class="row">
          <div
            class="col-12 text-right q-pa-none"
            :class="$q.screen.gt.sm ? 'fuente-22' : 'fuente-15'"
            :style="$q.screen.gt.sm ? 'height:5px' : 'height:15px'"
          >Agente de recaudación: {{agenteRecaudador}}</div>
          <div
            v-if="agenteRecaudador !== 'ARBA'"
            class="col-12 text-right q-pa-none"
            :class="$q.screen.gt.sm ? 'fuente-22' : 'fuente-15'"
            style="height:20px"
          >{{regimen}}</div>
        </div>
      </template>
    </q-card-section>
  </q-card>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: ["titulo", "iibb"],
  computed: {
    ...mapGetters("ingresosBrutos", ["agenteRecaudador", "regimen"])
  }
};
</script>
